<template>
  <div class="title" :class="align">
    <h4>
      <slot />
    </h4>
  </div>
</template>

<script>
export default {
  name: "TheTitle",
  props: {
    align: {
      type: String,
      default: "left",
    },
  },
};
</script>

<style lang="scss" scoped>
@import "title-style";
</style>
