<template>
  <div class="title-secondary" :class="align">
    <h3>
      <slot />
    </h3>
  </div>
</template>

<script>
export default {
  name: "TitleSecondary",
  props: {
    align: {
      type: String,
      default: "left",
    },
  },
};
</script>

<style lang="scss" scoped>
@import "title-style";
</style>
