<template>
  <div class="container-empty">
    <div class="card-body">
      <h1>Aucun menu disponible ..</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "RestaurantEmptyItem",
};
</script>

<style lang="scss" scoped>
.container-empty {
  margin: 0 auto;
}
</style>
