<template>
  <v-container>
    <HeadingBack icon="shopping"> Commandes </HeadingBack>

    <ItemsOrder></ItemsOrder>
  </v-container>
</template>

<script>
import HeadingBack from "../../common/ui-components/HeadingBack/HeadingBack";
import ItemsOrder from "./ItemsOrder/ItemsOrder";

export default {
  name: "MenuOrder",
  components: { ItemsOrder, HeadingBack },
  props: {
    // eslint-disable-next-line vue/no-unused-properties
    config: {
      type: Object,
      required: true,
    },
  },
};
</script>
