<template>
  <div class="d-flex justify-space-between">
    <div>
      <v-text-field v-if="isEdit" v-model="editValue" clearable></v-text-field>
      <p v-else>{{ editValue }}</p>
    </div>

    <ActionButtonItem
      ref="action_button_item"
      :item="category"
      @is-edit-input="(v) => changeValue(v)"
      @button-confirmation="updateNameCategoryMenu"
      @remove-item="removeItem"
      @close="(v) => close(v)"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import ActionButtonItem from "@/components/common/ui-components/ActionButton/ActionButtonItem.vue";
export default {
  name: "ItemEditInputAction",
  components: { ActionButtonItem },

  props: {
    category: {
      type: Object,
      required: true,
    },

    index: {
      type: Number,
      require: true,
      default: undefined,
    },
  },

  data() {
    return {
      isEdit: false,
    };
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
    }),

    editValue: {
      get() {
        return this.category.name;
      },

      set(value) {
        this.$store.commit("category/UPDATE_FIELD_NAME_CATEGORY", {
          value,
          index: this.index,
        });
      },
    },
  },

  methods: {
    ...mapActions({
      putCategoriesMenu: "category/PUT_CATEGORY_MENU",
      removeCategoryMenuAndChildren:
        "category/REMOVE_CATEGORY_MENU_AND_CHILDREN",
    }),

    removeItem() {
      this.removeCategoryMenuAndChildren({
        id: this.category.id,
        storeId: this.restaurant.id,
      }).then(() => {
        this.$refs.action_button_item.close();
        this.$refs.action_button_item.closeModal();
      });
    },

    updateNameCategoryMenu() {
      this.putCategoriesMenu({
        id: this.restaurant.id,
        value: this.editValue,
        menuTitleId: this.category.id,
      });
      this.$refs.action_button_item.close();
    },

    changeValue(value) {
      this.isEdit = value;
    },

    close(value) {
      this.isEdit = value;
    },
  },
};
</script>
