<template>
  <v-expansion-panel>
    <v-expansion-panel-header>
      <span>{{ item.rank }}</span>
      <v-icon left> mdi-drag</v-icon>

      {{ categoryNameUppercase }}

      <div class="container-chips-count">
        <v-chip color="indigo darken-3" outlined pill class="ma-2">
          <v-icon left> mdi-food</v-icon>
          {{ countChildren }}
        </v-chip>

        <v-chip color="primary" outlined pill class="ma-2">
          <v-icon left> mdi-eye</v-icon>
          {{ countPreviewVisible }}
        </v-chip>

        <v-chip
          v-if="outStockLength > 0"
          color="red"
          outlined
          pill
          class="ma-2"
        >
          <v-icon left> mdi-close</v-icon>
          {{ outStockLength }}
        </v-chip>
      </div>

      <template #actions>
        <v-icon color="primary"> $expand</v-icon>
      </template>
    </v-expansion-panel-header>

    <v-expansion-panel-content>
      <ChildItem
        v-for="(child, indexChild) in displayDefaultItemMenu"
        :key="`ChildItemMenu-${child.id}`"
        class="mx-auto mt-3 list-group-item"
        :index-child="indexChild"
        :parent-id="item.id"
        :child="child"
      />
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import { mapGetters } from "vuex";
import ChildItem from "./ChildItem/ChildItem";

export default {
  name: "Items",
  components: {
    ChildItem,
  },

  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {};
  },

  computed: {
    ...mapGetters({
      restaurant: "fetchDefaultData/getRestaurant",
    }),

    displayDefaultItemMenu() {
      return [...this.item.children];
    },

    categoryNameUppercase() {
      return this.item?.name ? this.item.name.toUpperCase() : "";
    },

    countChildren() {
      return this.item.children.length ?? [];
    },

    countPreviewVisible() {
      const itemChildrenHasVisible = this.item.children.filter(
        (item) => item.preview === true
      );

      return itemChildrenHasVisible.length;
    },

    outStockLength() {
      const itemChildrenHasOutStock = this.item.children.filter(
        (item) => item.inStock === false
      );

      return itemChildrenHasOutStock.length;
    },
  },

  methods: {},
};
</script>

<style scoped>
.v-expansion-panel-content {
  background-color: #f5f5f5;
}

.v-expansion-panel-header > *:not(.v-expansion-panel-header__icon) {
  flex: none !important;
}

@media (max-width: 700px) {
  .v-expansion-panel-header > *:not(.v-expansion-panel-header__icon) {
    flex: auto !important;
  }

  .container-chips-count {
  }
}
</style>
