<template>
  <v-container class="container-back">
    <div class="mt-12 font-weight-bold mb-10">
      <h1>{{ user.name | capitalize }}</h1>
    </div>

    <v-expansion-panels accordion>
      <v-expansion-panel>
        <v-expansion-panel-header> SEO </v-expansion-panel-header>

        <v-expansion-panel-content>
          <SeoContainer />
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          Réinitialisation du mot de passe
        </v-expansion-panel-header>

        <v-expansion-panel-content>
          <!--   MODULE    -->
          <FormChangePassword />
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          Configuration des informations de votre restaurant modif
        </v-expansion-panel-header>

        <v-expansion-panel-content>
          <!--   MODULE   -->
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import SeoContainer from "@/components/AdminOffice/ManageSeo/SeoContainer";
import FormChangePassword from "@/components/BackOffice/MyAccount/FormAccount/FormChangePassword";

export default {
  name: "Index",
  components: { FormChangePassword, SeoContainer },
  middleware: ["auth", "seo"],
  async asyncData({ store, params }) {
    await store.dispatch("fetchUser/fetchUserById", { id: params.id });
  },

  computed: {
    ...mapState({
      user: (state) => state.fetchUser.user,
    }),
  },
};
</script>
