<template>
  <div class="wrapper-checkout">
    <BaseButton
      v-if="!showModalCheckout"
      id="checkout-button-action"
      is-sticky
      :width="$device.isDesktop ? 400 : 200"
      @click="displayModalCheckout"
    >
      <template #name>
        <div class="content">
          <v-badge bordered :content="countOrder">
            <v-icon left>mdi-cart</v-icon>
          </v-badge>

          <strong> Panier </strong>
          <span v-if="$device.isDesktop" class="ma-3">
            produit(s)
            {{ price }}
          </span>
        </div>
      </template>
    </BaseButton>

    <ModalCheckoutProduct :show-modal-checkout.sync="showModalCheckout" />
  </div>
</template>

<script>
import { mapState } from "vuex";
import ModalCheckoutProduct from "@/components/RestaurantMenu/components/RestaurantCardAddress/ModalCheckoutProduct";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import { transformPrice } from "@/components/common/utils/helpers";
export default {
  name: "CheckoutButtonAction",

  components: {
    BaseButton,
    ModalCheckoutProduct,
  },

  data() {
    return {
      showModalCheckout: false,
    };
  },

  computed: {
    ...mapState({
      carts: (state) => state.checkout.carts,
      totalPrice: (state) => state.checkout.totalPrice,
    }),

    price() {
      return transformPrice(this.totalPrice);
    },

    countOrder() {
      return this.carts.orders.length;
    },
  },

  methods: {
    displayModalCheckout() {
      this.showModalCheckout = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.wrapper-checkout {
  width: 100%;
  text-align: center;
  position: absolute;

  right: 5rem;

  #checkout-button-action {
    z-index: 200;
    font-size: 0.75rem;
    border-radius: 30px;

    .quantity {
      border: solid 2px white;
      margin: 2px;
      padding: 1px;
    }
  }
}
</style>
