<template>
  <v-container fluid>
    <VLayout align-center justify-center>
      <v-card class="confirmation-card">
        <v-card-title class="primary white--text">
          <v-icon x-large color="white">mdi-check-circle-outline</v-icon>
          <span class="headline">Confirmation d'achat</span>
        </v-card-title>
        <v-card-text>
          <p class="subheading strong">
            Merci pour votre achat. Votre commande a été validée avec succès.
          </p>
          <p class="subheading">
            <v-icon x-large> mdi-email-fast-outline</v-icon>
            <br />
            Un email de confirmation vous a été envoyé. Veuillez vérifier votre
            boîte de réception.
          </p>
        </v-card-text>

        <v-card-actions class="align-center justify-center">
          <BaseButton class="text-white" @click="redirectTo">
            <template #name>Retour</template>
          </BaseButton>
        </v-card-actions>
      </v-card>
    </VLayout>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import { VLayout } from "vuetify/lib/components";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton.vue";

export default {
  name: "OrderSuccessOrFailure",
  components: { BaseButton, VLayout },
  computed: {
    ...mapGetters({
      getStatusPayment: "checkout/getPaymentStatus",
    }),
  },

  methods: {
    redirectTo() {
      const cookieRestaurant = this.$cookies.get("im.restaurant");

      if (
        cookieRestaurant?.city &&
        cookieRestaurant?.category?.name &&
        cookieRestaurant?.slug?.name
      ) {
        this.$router.push(
          `/${
            cookieRestaurant.city
          }/${cookieRestaurant.category.name.toLowerCase()}/${
            cookieRestaurant.slug.name
          }`
        );
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.confirmation-card {
  max-width: 500px;
  border-radius: 10px;
  margin-top: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.primary {
  background-color: #1976d2;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.headline {
  margin-top: 10px;
  margin-left: 1rem;
}
.strong {
  font-size: 19px;
  font-weight: 800;
}
.subheading {
  margin: 25px 0;
  padding: 1rem;
}
</style>
