<template>
  <v-container>
    <div id="item-menu">
      <h3 class="mb-10 text-center header-menu">
        <span class="content-title">Ajouter une formule</span>
      </h3>

      <div
        v-if="complementGroups.length === 0"
        class="mb-10 text-center font-size-1"
      >
        <p>
          Vous n'avez actuellement aucune formule pour ce produit, veuillez
          ajouter une formule avec le bouton (+).
        </p>
      </div>

      <ValidationObserver>
        <div class="d-flex flex-row flex-wrap">
          <v-card
            v-for="(item, index) in complementGroups"
            :key="`item-menu-${index}`"
            class="ma-2 width-card-48"
          >
            <v-card-text>
              <ItemMenuInput :item="item" :index="index" />
            </v-card-text>

            <v-card-actions>
              <div class="action-btn">
                <v-btn
                  class="mx-2 btn-valid"
                  fab
                  dark
                  color="red"
                  @click="remove(index, item)"
                >
                  <v-icon dark> mdi-delete</v-icon>
                </v-btn>

                <v-btn
                  v-if="!hasComplementGroupId(item)"
                  fab
                  dark
                  class="btn-valid mx-2"
                  color="green"
                  @click="createComplementGroup(item)"
                >
                  <v-icon class="pa-2 text-white"> mdi-check</v-icon>
                </v-btn>

                <v-btn
                  v-else
                  fab
                  dark
                  class="btn-valid mx-2"
                  color="blue"
                  @click="updateComplementGroup(item)"
                >
                  <BaseTooltips icon-name="update">
                    Mise à jour de la formule
                  </BaseTooltips>
                </v-btn>
              </div>
            </v-card-actions>
          </v-card>
        </div>

        <div class="action-btn">
          <v-btn
            fab
            dark
            title="Ajouter une formule"
            class="btn-valid mx-2"
            @click="addField"
          >
            <v-icon class="pa-2 text-white"> mdi-plus</v-icon>
          </v-btn>
        </div>
      </ValidationObserver>
    </div>
  </v-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { ValidationObserver } from "vee-validate";
import ItemMenuInput from "@/components/BackOffice/MenuConfigurator/Form/FormItemMenuConfigurator/FormItemMenu/ItemMenuInput";
import BaseTooltips from "@/components/common/ui-components/BaseTooltips/BaseTooltips.vue";

export default {
  name: "FormAddItemMenu",
  components: {
    BaseTooltips,
    ItemMenuInput,
    ValidationObserver,
  },

  props: {
    menuConfiguratorItem: {
      type: Object,
      default: undefined,
    },
  },

  data() {
    return {};
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
      complementGroups: (state) => state.menuConfigurator.complementGroups,
    }),
  },

  mounted() {
    this.setComplementGroups();
  },

  methods: {
    ...mapActions({
      postComplementGroup: "menuConfigurator/POST_COMPLEMENT_GROUP",
      putComplementGroup: "menuConfigurator/PUT_COMPLEMENT_GROUP",
    }),

    hasComplementGroupId(complementGroup) {
      return complementGroup.id;
    },

    addField() {
      const formItem = {
        name: "",
        max: 0,
        min: 0,
        isMultiple: false,
        nbField: 1,
        complements: [
          {
            name: "",
            price: 0,
          },
        ],
      };

      this.$store.commit("menuConfigurator/ADD_ITEM_MENU", formItem);
    },

    updateComplementGroup(data) {
      this.putComplementGroup(data);
    },

    createComplementGroup(complementGroup) {
      this.postComplementGroup(complementGroup);
    },

    remove(index, item) {
      this.$store.dispatch("menuConfigurator/REMOVE_COMPLEMENT_GROUP", {
        index,
        item,
        value: 1,
      });
    },

    setComplementGroups() {
      if (this.menuConfiguratorItem?.complementGroups?.length) {
        this.$store.commit(
          "menuConfigurator/SET_COMPLEMENT_GROUP",
          this.menuConfiguratorItem.complementGroups
        );
      } else {
        this.$store.commit("menuConfigurator/CLEAN_COMPLEMENT_GROUP");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
#item-menu {
  border: 1px solid rgba(0, 0, 0, 0.3);

  .action-btn {
    margin-top: 5px;
  }

  .element-item-menu-input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
    line-height: 0.1em;

    .input-field {
      margin-top: 20px;
    }

    & span.heading-element {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.6);
      background: #ffffff;
      padding: 0 20px;
    }
  }

  .header-menu {
    width: 100%;
    text-align: center;
    line-height: 0.1em;
    margin: 0 auto;

    & .input-field {
      margin: 10px;
    }

    & span.content-title {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.3rem;
      margin-bottom: 10px;
      color: rgba(0, 0, 0, 0.6);
      background: #ffffff;
      padding: 0 20px;
    }
  }

  .btn-valid {
    margin: 25px;
    float: right;
  }
}
</style>
