<template>
  <div class="footer-deco">
    <div class="decoration">
      <svg class="left-deco">
        <use
          v-bind="{
            'xlink:href':
              require('~/assets/images/saas/deco-bg-left.svg') + '#main',
          }"
        />
      </svg>
      <svg class="right-deco">
        <use
          v-bind="{
            'xlink:href':
              require('~/assets/images/saas/deco-bg-right.svg') + '#main',
          }"
        />
      </svg>
    </div>

    <footer-main />
  </div>
</template>

<script>
import Footer from "./Footer2";

export default {
  name: "FooterWithDeco",
  components: {
    "footer-main": Footer,
  },
};
</script>

<style lang="scss" scoped>
@import "components/TheFooter/components/footer-style";
</style>
