@import '~/assets/css/styles';

$footer-deco-light: '~/assets/images/saas/footer-deco-light.svg';
$footer-deco-dark: '~/assets/images/saas/footer-deco-dark.svg';

.link {
  margin: spacing(1, 1.5);
}
.footer {
  margin-top: $spacing8;
  padding-top: $spacing3;
  padding-bottom: $spacing8;
  color: $light-background-paper!important;
  position: relative;
  z-index: 100;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      line-height: 32px;
      a {
        text-decoration: none;
        font-size: 14px;
        color: $palette-common-white!important;
        &:hover {
          color: $palette-primary-light
        }
      }
    }
  }
  .copyright {
    font-size: 0.600em!important;
  }
  p {
    color: $light-background-paper;
    @include breakpoints-down(sm) {
      padding: spacing(0, 3)
    }
  }
  .accordion-root {
    margin: 0 auto;
    margin-top: $spacing2
  }
  &-desc{
    display: block;
    font-size: 14px;
    margin-bottom: $spacing2
  }
  &.invert {
    p {
      @include palette-text-primary;
    }
    li a {
      @include palette-text-primary;
    }
    .logo {
      h6 {
        color: $palette-primary-dark
      }
    }
    .title-nav {
      @include use-theme(color, 0000, "fff")
    }
    .select-lang.v-text-field.v-text-field--enclosed {
       .v-select__selections,
       .v-icon,
       .v-select__selection {
        @include palette-text-primary;
      }
    }
  }
}

.title-nav {
  color: $palette-common-white;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: $spacing3;
  font-weight: $font-bold
}
.logo {
  text-align: center;
  margin-bottom: $spacing3;
  img {
    width: 115px;
  }
  h6 {
    color: $palette-common-white;
  }
}
.socmed {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing4;
  button {
    margin: $spacing1;
    color: $palette-primary-dark;
    background: $palette-primary-main;
    width: 36px;
    height: 36px;
    .icon {
      color: $palette-common-white
    }
  }
  .icon {
    font-size: 24px
  }
}

.icon {
  & + div {
    background: none !important;
    padding: spacing(1.5, 1.5, 1.5, 4);
    width: calc(100% - 32px)
  }
}

.select-lang.v-text-field.v-text-field--enclosed {
  width: 200px;
  display: inherit;
  margin: $spacing2 auto 0;

  .v-input__slot{
    min-height: 43px;
  }
   .v-input__append-inner,
   .v-input__prepend-inner {
    margin-top: 10px
  }
   .v-select__selections,
   .v-icon{
    padding: 0;
    color: var(--v-primarylight-base)
  }
   fieldset {
    box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
    border-color: var(--v-primarylight-darken3) !important;
    legend {
      top: 5px;
      position: relative;
    }
  }
  .v-select__selection {
    color: $palette-common-white
  }
}
.site-map-item {
  @include breakpoints-down('md') {
    padding-bottom: 0 !important;
    padding-top: 0 !important
  }
}
.accordion-root {
  background: none;
  box-shadow: none;
  max-width: 480px
}
#main-wrap {
  .accordion-content {
    .v-expansion-panel {
      background-color: transparent!important;

      &:before, &:after {
        display: none
      }
    }
  }
}
.accordion-icon {
  padding: 0
}

.footer-deco {
  position: relative;
  z-index: 80;
  top: 0;
  background: linear-gradient(102deg, #2c2c2c 30%, #0e0e0e 90%);
  padding-top: $spacing20 * 2;
  @include breakpoints-down(md) {
    padding-top: $spacing10 * 3;
  }
  @include breakpoints-down(xs) {
    padding-top: $spacing20;
  }
  &:before {
    @include use-theme(background-image, url($footer-deco-light), url($footer-deco-dark));
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
    top: -3px;
    @include left(0);
    content: "";
    width: 100%;
    height: 270px;
    position: absolute;
    z-index: 10
  }
}
.decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  @include left(0);
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
  svg {
    fill: $palette-secondary-main;
    opacity: 0.15;
    position: fixed;
    top: 40px;
  }
}

.left-deco {
  left: 0;
  right: auto;
  width: 1200px;
  height: 1500px;
  transform: scale(0.5);
  transform-origin: top left;
}

.right-deco {
  left: auto;
  right: 0;
  height: 1500px;
  transform: scale(0.5);
  transform-origin: top right;
}

.action {
  text-align: center;
  padding: spacing(0, 2);
  h4 {
    font-weight: $font-bold;
    color: $palette-common-white;
    margin-bottom: $spacing6;
    @include breakpoints-down(xs) {
      font-size: 28px;
      line-height: 44px
    }
  }
}
