<template>
  <footer class="footer" :class="{ invert: invert }">
    <v-container class="max-lg">
      <v-row class="spacing4">
        <v-col class="pa-4" md="3" cols="12">
          <div class="logo">
            <img :src="require('~/assets/images/imenus-logo.png')" alt="logo" />
            <ul>
              <li>
                <a href="https://www.mangerbouger.fr/"> Mangerbouger.fr </a>
              </li>
            </ul>
          </div>
          <p v-if="isDesktop" class="body-2 text-center">&copy;&nbsp;Imenus</p>
        </v-col>
        <v-col class="px-0 py-0" md="6" cols="12">
          <v-expansion-panels
            v-if="isMobile"
            :dark="!invert"
            class="accordion-root"
          >
            <v-expansion-panel
              v-for="(footer, indexFooter) in footers"
              :key="indexFooter"
              class="accordion-content"
            >
              <v-expansion-panel-header>
                <strong class="mb-4">
                  {{ footer.title }}
                </strong>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <ul>
                  <li v-for="(item, index) in footer.description" :key="index">
                    <a :href="footer.link[index]">
                      <span>
                        {{ item }}
                      </span>
                    </a>
                  </li>
                </ul>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>

          <v-row v-if="isDesktop" justify="space-around">
            <v-col
              v-for="(footer, indexFooterDesktop) in footers"
              :key="indexFooterDesktop"
              sm="3"
              cols="12"
              class="px-4 site-map-item"
            >
              <div v-if="showMentionFromHome(footer)">
                <h6 class="title-nav">
                  {{ footer.title }}
                </h6>
                <ul>
                  <li v-for="(item, index) in footer.description" :key="index">
                    <a :href="footer.link[index]">
                      {{ item }}
                    </a>
                  </li>
                </ul>
              </div>
            </v-col>
          </v-row>
        </v-col>

        <v-col md="3" cols="12" class="pa-4">
          <div class="socmed">
            <v-btn v-for="icon in icons" :key="icon" icon text class="button">
              <span class="icon">
                <v-icon size="24px">
                  {{ icon }}
                </v-icon>
              </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>

      <p class="body-2 text-center copyright">
        {{ new Date().getFullYear() }} -
        <strong>© IMENUS BETA</strong>
        V{{ $config.VERSION }}
      </p>
    </v-container>
  </footer>
</template>

<script>
import { HOME, ListUrls, NAV_FOOTER_MENTION_LEGAL } from "@/router/routeName";

export default {
  name: "Footer2",
  props: {
    invert: Boolean,
  },

  data: () => ({
    icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"],
    footers: [
      {
        title: "Navigation",
        description: ["Accueil", "Fonctionnalités", "Tarifs", "FAQ"],
        link: ["#feature", "#price", "#Faq"],
      },
      {
        title: "Légales",
        description: [
          "Politique de confidentialité",
          "Mentions légales",
          "CGU",
          "Politique de Cookies",
        ],

        link: [
          ListUrls.POLICY_CONFIDENTIALITY,
          ListUrls.MENTION_LEGAL,
          ListUrls.CGU,
          ListUrls.POLICY_COOKIE,
        ],
      },
    ],
  }),

  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },

    isMobile() {
      return this.$device.isMobile;
    },
  },

  methods: {
    showMentionFromHome(footer) {
      return (
        footer.title !== NAV_FOOTER_MENTION_LEGAL && this.$route.name !== HOME
      );
    },
  },
};
</script>

<style scoped lang="scss">
@import "components/TheFooter/components/footer-style";
</style>
