<template>
  <div class="root">
    <v-container :class="{ fixed: isDesktop }">
      <div class="item">
        <title-main align="center">
          <strong> Nos différentes offres </strong>
        </title-main>
      </div>

      <p class="subtitle text-center"></p>

      <div class="pricing-wrap">
        <section>
          <div class="item">
            <PricingCard
              :price="5"
              :feature-list="feature.basic"
              title="Sans Engagement"
              desc="*5% de commissions (HT) - Des frais d’installation de 79 € seront facturés"
              percentage
            />
          </div>
          <div class="item">
            <PricingCard
              :price="29"
              :feature-list="feature.best"
              title="Starter"
              desc="Des frais d’installation de 79 € seront facturés"
              type="value"
            />
          </div>
          <div class="item">
            <PricingCard
              :price="39"
              :feature-list="feature.pro"
              title="E-starter"
              desc="Des frais d’installation de 79 € seront facturés"
            />
          </div>
          <div class="item">
            <PricingCard
              :price="49"
              :feature-list="feature.enterprise"
              title="E-starter +"
              desc="Des frais d’installation de 79 € seront facturés"
            />
          </div>
        </section>
      </div>
    </v-container>
  </div>
</template>

<script>
import Title from "../Title/TheTitle";
import PricingCard from "../Cards/Pricing";

const featureList = {
  basic: ["starter", "E-starter", "E-starter +"],
  best: ["Sur place, à emporter", "Réservation", "Support Imenus"],
  pro: [
    "starter",
    "E-boutique",
    "Statistiques de votre activité",
    "Paiement en ligne via stripe (1,4% + 0,25 €)",
  ],
  enterprise: [
    "E-starter",
    "MenuBoard",
    "Intégration à votre site internet et réseaux sociaux",
  ],
};

export default {
  name: "PricingPlan",
  components: {
    "title-main": Title,
    PricingCard,
  },

  data() {
    return {
      feature: featureList,
    };
  },

  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "pricing-plan-style";
</style>
