<template>
  <Fragment>
    <v-navigation-drawer
      v-if="isMobile"
      v-model="openDrawer"
      fixed
      temporary
      class="mobile-nav"
    >
      <MobileMenu :open="openDrawer" />
    </v-navigation-drawer>

    <v-app-bar
      v-if="isSticky"
      id="header"
      :class="{
        fixed: fixed,
        'open-drawer': openDrawer,
      }"
      class="header pa-5"
      fixed
      app
    >
      <v-container
        :class="{
          'fixed-width': isDesktop,
          'container-width-menu-bar': isWithMenuBarAndBackUSer,
        }"
      >
        <div class="header-content">
          <nav :class="{ invert: invert }" class="nav-logo nav-menu">
            <v-btn
              v-if="isMobile"
              :class="{ 'is-active': openDrawer }"
              class="hamburger hamburger--spin mobile-menu"
              text
              icon
              @click.stop="handleToggleOpen"
            >
              <span class="hamburger-box">
                <span class="bar hamburger-inner" />
              </span>
            </v-btn>

            <div class="logo">
              <a :href="redirectHome">
                <img
                  v-if="openDrawer && isHome"
                  :src="require('~/assets/images/imenus-logo.png')"
                  height="100"
                  width="100"
                  alt="logo"
                />

                <img
                  v-else-if="openDrawer && !isHome"
                  :src="require('~/assets/images/imenus-logo.png')"
                  height="100"
                  width="100"
                  alt="logo"
                />

                <img
                  v-else-if="!openDrawer && !isHome && !fixed && !isPageAdmin"
                  :src="require('~/assets/images/imenus-logo-black.png')"
                  height="100"
                  width="100"
                  alt="logo"
                />

                <img
                  v-else-if="!openDrawer && isHome"
                  :src="require('~/assets/images/imenus-logo.png')"
                  height="100"
                  width="100"
                  alt="logo"
                />
              </a>
            </div>

            <div v-if="displayNav">
              <ul class="scrollactive-nav">
                <li v-for="(item, index) in menuList" :key="index">
                  <v-btn
                    v-if="!invert"
                    v-scroll-to="{
                      el: item.link,
                      offset: -150,
                    }"
                    :href="item.link"
                    class="anchor-link scrollactive-item"
                    :class="{
                      'btn-color-black': !isHome,
                    }"
                    text
                  >
                    <span class="text-white">
                      {{ item.title }}
                    </span>
                  </v-btn>

                  <v-btn v-if="invert" :href="item.link" text class="white">
                    {{ item.title }}
                  </v-btn>
                </li>
              </ul>
            </div>
          </nav>

          <nav
            v-if="isDesktop"
            :class="{
              invert: invert,
              'nav-menu-not-home': !isHome,
              'nav-menu': isHome,
            }"
          >
            <v-btn v-if="isLogged" text disabled>
              {{ $auth.user.store.name | upperFirst }}
            </v-btn>

            <v-btn v-if="isLogged" class="mx-2" text>
              <v-icon :color="isHome ? 'white' : 'black'"> mdi-bell </v-icon>
            </v-btn>

            <v-btn
              v-if="isLogged && !isPageAdmin"
              class="button"
              outlined
              small
              :color="isHome ? '#d1d1d1' : 'secondary'"
              @click="account"
            >
              Mon compte
            </v-btn>

            <v-btn
              v-else-if="!isLogged"
              class="button"
              outlined
              small
              :color="isHome ? '#d1d1d1' : 'secondary'"
              @click="connexion"
            >
              Connexion
            </v-btn>

            <v-btn
              v-if="isLogged"
              class="button"
              outlined
              small
              :color="isHome ? '#d1d1d1' : 'secondary'"
              @click="logout"
            >
              Déconnexion
            </v-btn>
          </nav>
        </div>
      </v-container>
    </v-app-bar>
  </Fragment>
</template>

<script>
import MobileMenu from "./MobileMenu";
import {
  HOME_ROUTE_NAME,
  ListUrls,
  ROUTE_ADMIN_NAME,
} from "@/router/routeName";

export default {
  name: "HeaderMain",
  components: {
    MobileMenu,
  },

  props: {
    invert: Boolean,
  },

  data() {
    return {
      fixed: false,
      openDrawer: false,
      menuList: [
        { title: "Fonctionnalités", link: "#feature" },
        { title: "Tarifs", link: "#pricing" },
        { title: "FAQ", link: "#faq" },
      ],

      // navs: [
      //   {
      //     title: "connexion",
      //     link: ListUrls.LOGIN,
      //     isLogged: !this.isLogged,
      //     displayHome: !this.isHome,
      //   },
      //   {
      //     title: "Mon Compte",
      //     link: ListUrls.BACKOFFICE,
      //     isLogged: this.isLogged,
      //     displayHome: !this.isHome,
      //   },
      // ],
    };
  },

  computed: {
    redirectHome() {
      return ListUrls.HOME;
    },

    isHome() {
      return this.$route.name === HOME_ROUTE_NAME;
    },

    displayNav() {
      return this.isDesktop && this.isHome;
    },

    isSticky() {
      if (this.isHome) {
        return this.isHome;
      }

      return this.$store.state.fetchDefaultData.hasScrollY <= 30;
    },

    isMobile() {
      return this.$device.isMobile;
    },

    isDesktop() {
      return this.$device.isDesktop;
    },

    isLogged() {
      return this.$auth?.loggedIn;
    },

    isWithMenuBarAndBackUSer() {
      return (
        this.$device.isDesktopOrTablet &&
        this.$auth?.loggedIn &&
        this.$route.path.startsWith("/back/")
      );
    },

    isPageAdmin() {
      return ROUTE_ADMIN_NAME.includes(this.$route.name);
    },
  },

  mounted() {
    window.addEventListener("scroll", this.handleScroll);
  },

  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },

  methods: {
    logout() {
      this.$auth.logout();

      this.$router.push(ListUrls.LOGIN);
    },

    connexion() {
      this.$router.push(ListUrls.LOGIN);
    },

    account() {
      this.$router.push(ListUrls.BACKOFFICE);
    },

    handleScroll() {
      this.$store.commit("fetchDefaultData/SET_SCROLL_Y", window.scrollY);

      return (this.fixed = window.scrollY > 80 && this.isHome);
    },

    handleToggleOpen() {
      this.openDrawer = !this.openDrawer;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./header-style.scss";
.fixed-width {
  max-width: 1350px !important;
}

.anchor-link {
  color: white !important;
}
.button {
  margin: 5px;
}
</style>
