<template>
  <div class="mobile-nav">
    <div :class="{ 'menu-open': open }" class="menu">
      <v-list dense tag="nav">
        <v-list-item
          v-for="(item, index) in menuList"
          :key="index"
          :href="item.link"
          link
          :style="{ animationDuration: index * 0.15 + 's' }"
        >
          <v-list-item-content>
            <v-list-item-title class="menu-list">
              {{ item.title }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="divider-sidebar" />
        <v-list-item
          v-if="!isLogged"
          :style="{ animationDuration: menuList.length * 0.15 + 's' }"
          link
          @click="login"
        >
          <v-list-item-content>
            <v-list-item-title class="menu-list"> Connexion </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          v-if="isLogged"
          :style="{ animationDuration: menuList.length * 0.15 + 's' }"
          link
          @click="redirectToAccount"
        >
          <v-list-item-content>
            <v-list-item-title class="menu-list">
              Mon compte
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          v-if="isLogged"
          :style="{ animationDuration: menuList.length * 0.15 + 's' }"
          link
          @click="logout"
        >
          <v-list-item-content>
            <v-list-item-title class="menu-list">
              Déconnexion
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { ListUrls } from "@/router/routeName";

export default {
  name: "MobileMenu",
  props: {
    open: Boolean,
  },

  data() {
    return {
      menuList: [
        { title: "Fonctionnalités", link: "/#feature" },
        { title: "Tarifs", link: "/#pricing" },
        { title: "FAQ", link: "/#faq" },
      ],
    };
  },

  computed: {
    ...mapState({
      user: (state) => state.fetchUser.currentUser,
    }),

    isLogged() {
      return this.$auth?.loggedIn;
    },
  },

  methods: {
    logout() {
      this.$auth.logout();
      this.$router.push(ListUrls.LOGIN);
    },

    redirectToAccount() {
      return this.$router.push(ListUrls.BACKOFFICE);
    },

    login() {
      return this.$router.push(ListUrls.LOGIN);
    },
  },
};
</script>

<style scoped lang="scss">
@import "./header-style";
</style>
