<template>
  <div class="filter-categories">
    <v-card class="card-categories">
      <v-list dense>
        <v-list-item-group v-model="selectedItem" color="primary">
          <v-list-item
            v-for="category in categories"
            :key="category.id"
            class="text-center"
            @click="showCategory(category)"
          >
            <v-list-item-content>
              <v-list-item-title v-text="category.name"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "CategoryListInterface",

  data() {
    return {
      selectedItem: "",
    };
  },

  computed: {
    ...mapState({
      categories: (state) => state.category.categories,
    }),
  },

  methods: {
    showCategory(category) {
      this.$store.dispatch(
        "menuConfigurator/FETCH_MENU_CONFIGURATOR_CHILDREN_BY_CATEGORY_ID",
        category.id
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.filter-categories {
  width: 180px;
  padding: 10px;
  overflow-wrap: break-word;

  .card-categories {
    padding: 5px;
  }

  p {
    font-size: 12px;
    padding: 3px;
  }
}
</style>
