<template>
  <div id="room-service-interface">
    <div class="container-back">
      <div class="d-flex flex-wrap">
        <CategoryListInterface />

        <div class="container-products">
          <div class="d-flex flex-wrap item-products">
            <template v-if="isLoading">
              <v-skeleton-loader
                v-for="n in 6"
                :key="n"
                class="card-product ma-1"
                type="card"
              ></v-skeleton-loader>
            </template>

            <template v-else>
              <v-card
                v-for="(item, idx) in menuConfiguratorChildren"
                :key="item.id"
                class="card-product text-center ma-3"
              >
                <div
                  v-if="menuConfiguratorChildren[idx].count > 0"
                  class="count-product-remove"
                  @click="deleteCountProduct(item)"
                >
                  <v-badge color="red" icon="mdi-delete" bordered></v-badge>
                </div>

                <v-card-text @click="addProduct(item)">
                  <div
                    v-if="menuConfiguratorChildren[idx].count > 0"
                    class="count-product"
                  >
                    <v-badge
                      color="black"
                      bordered
                      :content="`x${countProduct(item)}`"
                    ></v-badge>
                  </div>

                  <BaseImage
                    :src="item.mediaManager.fileName"
                    :alt="item.name"
                  ></BaseImage>

                  <h5>{{ item.name | capitalize }}</h5>

                  <h6>{{ item.subTitle }}</h6>

                  <v-chip
                    class="ma-1"
                    :color="`${item.inStock ? 'success' : 'error'}`"
                    outlined
                  >
                    {{ item.inStock ? "En stock" : "Rupture" }}
                  </v-chip>
                </v-card-text>
              </v-card>
            </template>
          </div>
        </div>
      </div>
    </div>

    <div class="visual-menu-interface">
      <VisualProductInterface v-if="products.length" />
    </div>

    <!--  MODAL ADD PRODUCT ITEM -->
    <ModalAddProductItem ref="modal_product_item" />
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import ModalAddProductItem from "@/components/RestaurantMenu/components/RestaurantMenuItem/RestaurantItems/Modal/ModalAddProductItem";
import BaseImage from "@/components/common/ui-components/BaseImage";
import CategoryListInterface from "@/components/common/ui-components/ProduuctInterface/CategoryListInterface";
import VisualProductInterface from "@/components/common/ui-components/VisualProductInterface";

export default {
  name: "ContainerProductInterface",
  components: {
    VisualProductInterface,
    CategoryListInterface,
    ModalAddProductItem,
    BaseImage,
  },

  data() {
    return {
      itemProduct: undefined,
    };
  },

  computed: {
    ...mapState({
      categories: (state) => state.category.categories,
      menuConfiguratorChildren: (state) =>
        state.menuConfigurator.menuConfiguratorChildren,
      isLoading: (state) => state.menuConfigurator.isLoading,
      products: (state) => state.ProductInterface.products,
    }),

    ...mapGetters({
      countProduct: "ProductInterface/countProduct",
    }),
  },

  created() {
    this.$store.dispatch(
      "menuConfigurator/FETCH_MENU_CONFIGURATOR_CHILDREN_BY_CATEGORY_ID"
    );
  },

  methods: {
    addProduct(item) {
      const idxProduct = this.products.findIndex(
        (value) => value.id === item.id
      );

      this.itemProduct = item;
      if (!this.products.length || idxProduct === -1) {
        item.count = 1;

        this.$store.commit("ProductInterface/SET_PRODUCT_INTERFACE", item);
      } else {
        this.products[idxProduct].count += 1;

        this.$store.commit("ProductInterface/SET_PRODUCT_COUNT", {
          idx: idxProduct,
          product: this.products[idxProduct],
        });
        this.$forceUpdate();
      }

      if (item && item.children && item.children.length) {
        this.$refs.modal_product_item.getItemSelected(item);
        this.$refs.modal_product_item.$children[0].displayModal();
      }
    },

    deleteCountProduct(item) {
      for (let i = 0; i < this.products.length; i++) {
        if (this.products[i].id === item.id) {
          this.products[i].count -= 1;
          this.$forceUpdate();

          if (this.products[i].count <= 0) {
            this.$store.commit("ProductInterface/REMOVE", i);
          }
        }
      }
    },
  },
};
</script>

<style scoped lang="scss">
#room-service-interface {
  .container-products {
    margin: 0 auto;
    width: calc(100% - 180px);
    //border: solid blue 1px;
    padding: 5px;

    .item-products {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      //border: solid yellow 1px;

      .card-product {
        //border: red solid 1px;
        width: 160px;
        height: 210px;

        .count-product {
          float: right;
        }

        .count-product-remove {
          float: left;
        }
      }
    }

    .footer-navigation {
      height: 50px;
      width: 100%;
      //border: solid green 1px;
      margin-top: 10px;
      padding: 5px;

      .button-next {
        float: right;
      }
    }
  }

  .visual-menu-interface {
    width: 50%;
    margin: 0 auto;
  }
}
</style>
