<template>
  <Fragment>
    <div class="d-flex text-center">
      <v-card
        v-for="(plan, index) in plans"
        :key="index"
        :disabled="disabledCurrentBilling(index)"
        :class="{ active: index === isActive }"
      >
        <v-card-title>
          <p class="custom-plan-name">{{ plan.name }}</p>
        </v-card-title>
        <hr />
        <v-card-text class="mx-auto">
          <span class="plan-price"> {{ plan.amount }} €</span> /mois
        </v-card-text>
        <hr />

        <v-card-actions>
          <!--          <CheckoutStripeElement ref="checkout_stripe" mode="subscription"> -->
          <!--            <v-btn block color="teal accent-4" @click="selected(plan, index)"> -->
          <!--              Choisir cet abonnement -->
          <!--            </v-btn> -->
          <!--          </CheckoutStripeElement> -->
        </v-card-actions>
        <v-list>
          <hr />
          <v-subheader>Inclus dans ce pack</v-subheader>
          <v-list-item v-for="(item, i) in plan.items" :key="i">
            <v-list-item-icon>
              <v-icon color="success">mdi-check</v-icon>
            </v-list-item-icon>
            <v-list-item-content>{{ item }}</v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </div>
    <!--    <form-payment -->
    <!--      v-if="planSelected" -->
    <!--      context="billing" -->
    <!--      :data="data" -->
    <!--    ></form-payment> -->
  </Fragment>
</template>

<script>
import { mapGetters } from "vuex";
// import CheckoutStripeElement from "../../../common/ui-components/CheckoutStripe/CheckoutStripeElement";

export default {
  name: "BillingCards",
  // components: { CheckoutStripeElement },
  data() {
    return {
      plans: [
        {
          id: 1,
          name: "Starter",
          amount: 29.99,
          interval: 3,
          stripePriceId: "price_1IAaoULhk5Jn1XRBu9MdGTB1",
          items: ["Configurator menu", "images", "discount print"],
        },
        {
          id: 2,
          name: "middle",
          amount: 49.99,
          interval: 3,
          stripePriceId: "price_1IAaoULhk5Jn1XRBCXnYVI3U",
          items: [
            "Création de menu",
            "upload image",
            "test",
            "upload image",
            "test",
          ],
        },
        {
          id: 3,
          name: "Ultimate",
          amount: 69.99,
          interval: 3,
          stripePriceId: "price_1IAaoULhk5Jn1XRBp4GjHNRH",
          items: [
            "Création de menu",
            "upload image",
            "test",
            "upload image",
            "test",
            "upload image",
            "test",
          ],
        },
      ],

      isActive: false,
      // planSelected: null,
      // data: null,
      // priceId: null,
    };
  },

  computed: {
    ...mapGetters({
      restaurant: "fetchDefaultData/getRestaurant",
    }),
  },

  methods: {
    disabledCurrentBilling(index) {
      return this.restaurant.billingSubscription === index + 1;
    },

    // selected(plan, index) {
    //   const price = this.convertPrice(plan);
    //
    //   this.isActive = index;
    //   this.$refs.checkout_stripe[index].addPriceId(plan.stripePriceId);
    //   this.planSelected = plan;
    //   this.data = {
    //     price: price(plan),
    //     stripePriceId: plan.stripePriceId,
    //   };
    // },

    // convertPrice(plan) {
    //   return plan.amount * 100;
    // },
  },
};
</script>

<style lang="scss" scoped>
.active {
  border: 2px solid teal;
}

.plan-price {
  font-size: 45px;
  font-weight: 600;
  color: teal;
}

.v-btn__content {
  height: 80px;
}

.custom-plan-name {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}
</style>
