<template>
  <v-container>
    <HeadingBack icon="credit-card-outline"> Abonnement </HeadingBack>
    <BillingCards></BillingCards>
  </v-container>
</template>

<script>
import HeadingBack from "../../common/ui-components/HeadingBack/HeadingBack";
import BillingCards from "./BillingCards/BillingCards";

export default {
  name: "Billing",
  components: { BillingCards, HeadingBack },
};
</script>
