<template>
  <div class="mb-5">
    <v-card class="d-flex flex-column">
      <v-card-title>Action</v-card-title>
      <v-card-text>
        <v-chip class="ma-2" label outlined>
          <v-icon class="pa-2">mdi-eye</v-icon>
          <NuxtLink :to="to" :target="hrefTarget"> Voir mon menu </NuxtLink>
        </v-chip>

        <v-chip
          class="ma-2"
          label
          outlined
          @click="$emit('display-modal-menu')"
        >
          <v-icon class="pa-2">mdi-plus-box-outline</v-icon>
          Ajouter un plat
        </v-chip>

        <v-chip class="ma-2" label outlined @click="handleClickCategories">
          <v-icon class="pa-2">mdi-plus-box-outline</v-icon>
          Ajouter une catégorie
        </v-chip>
      </v-card-text>
    </v-card>
    <hr />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "ButtonAction",
  computed: {
    ...mapState({
      restaurant: (state) =>
        state.fetchDefaultData.restaurant,
    }),

    hrefTarget() {
      return "_blank";
    },

    to() {
      if (this.restaurant.category.name && this.restaurant.slug.name) {
        return `/${
          this.restaurant.city
        }/${this.restaurant.category.name.toLowerCase()}/${
          this.restaurant.slug.name
        }`;
      }

      return `/${this.restaurant.city}/${this.restaurant.category}/${this.restaurant.slug}`;
    },
  },

  methods: {
    ...mapActions({
      fetchCategories: "category/FETCH_CATEGORIES",
    }),

    handleClickCategories() {
      this.fetchCategories().then(() => {
        this.$emit("display-modal-categories");
      });
    },
  },
};
</script>

<style lang="scss" scoped>
hr {
  opacity: 0.2;
}

.v-application a {
  color: black !important;
  text-decoration: none;
}
</style>
