<template>
  <v-tooltip bottom>
    <template #activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon color="pa-2 text-white"> mdi-{{ iconName }} </v-icon>
      </v-btn>
    </template>

    <div class="container-tooltips">
      <slot></slot>
    </div>
  </v-tooltip>
</template>

<script>
export default {
  name: "BaseTooltips",
  props: {
    iconName: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.container-tooltips {
  max-width: 300px;
}

.v-tooltip__content {
  background-color: #ffff !important;
  color: #828282;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
  //border: 1px solid #828282;
}
</style>
