<template>
  <div class="container-bg-restaurant">
    <BaseImage
      v-if="hasCoverPicture"
      :src="hasCoverPicture"
      :max-width="2500"
      :max-height="150"
      :lazy-src="hasCoverPicture"
      class="image-bg-restaurant"
      alt="image de couverture"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";
import BaseImage from "@/components/common/ui-components/BaseImage";

export default {
  name: "CoverImageMenu",
  components: { BaseImage },
  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
    }),

    hasCoverPicture() {
      return this.restaurant?.cardPictures?.COVER?.fileName;
    },
  },
};
</script>

<style lang="scss" scoped>
.container-bg-restaurant {
  width: 100%;
  margin-top: 100px;
}

.image-bg-restaurant {
  width: 100% !important;
  object-fit: cover !important;
  height: 200px !important;
}
</style>
