<template>
  <Fragment>
    <Restaurant v-if="checkRestaurantExist" />

    <CheckoutButtonAction v-if="cartsIsNotEmpty" />

    <v-footer color="#191919">
      <v-row justify="center">
        <v-btn
          v-for="link in links"
          :key="link.label"
          color="white"
          text
          link
          :href="link.link"
          class="my-2 link"
        >
          {{ link.label }}
        </v-btn>

        <v-col class="py-4 text-center white--text" color="#191919" cols="12">
          <span class="version">
            {{ new Date().getFullYear() }} —
            <strong>imenus Beta v{{ $config.VERSION }}</strong>
          </span>
        </v-col>
      </v-row>
    </v-footer>

    <ScrollToTop />
  </Fragment>
</template>

<script>
import { mapState } from "vuex";
import Restaurant from "~/components/RestaurantMenu/Restaurant";
import ScrollToTop from "~/components/common/ui-components/ScrollToTop/ScrollToTop";
import CheckoutButtonAction from "~/components/common/ui-components/CheckoutButtonAction/CheckoutButtonAction";
import StoreMapStateMixins from "~/mixins/StoreMapStateMixins";

export default {
  name: "Index",

  components: {
    CheckoutButtonAction,
    ScrollToTop,
    Restaurant,
  },

  middleware: ["checkout"],
  mixins: [StoreMapStateMixins],

  data() {
    return {
      links: [
        {
          label: "Ajouter votre restaurant",
          link: "/request/appointment",
        },
        {
          label: "Manger-bouger.fr",
          link: "https://www.mangerbouger.fr/",
        },
        {
          label: "CGV",
          link: "/cgv",
        },
        {
          label: "CGU",
          link: "/cgu",
        },
      ],
    };
  },

  computed: {
    ...mapState({
      carts: (state) => state.checkout.carts,
      menuConfigurators: (state) => state.menuConfigurator.menuConfigurators,
    }),

    checkRestaurantExist() {
      return (
        this.menuConfigurators &&
        this.menuConfigurators.length > 0 &&
        this.restaurant
      );
    },

    cartsIsNotEmpty() {
      return this.carts && this.carts?.orders?.length;
    },
  },
};
</script>

<style lang="scss">
.theme--light.v-application {
  background: #efeff0 !important;
}

.link {
  font-size: 12px !important;
  text-align: center;
}

.version {
  font-size: 12px !important;
}
</style>
