<template>
  <v-container class="container-card-menu">
    <h3 class="mb-5">Bienvenue à Imenus</h3>

    <v-card class="mb-4">
      <v-card-text>
        <!-- eslint-disable-next-line vue/no-unregistered-components -->
        <apexchart type="line" :options="options" :series="series" />
      </v-card-text>
    </v-card>

    <div
      class="d-flex justify-space-between flex-sm-wrap flex-md-wrap text-center"
    >
      <v-card class="ma-6">
        <v-card-title>
          <b>Nombre de commandes</b>
        </v-card-title>
        <v-card-text>
          <h1 class="length-style mt-9">{{ orderLength }}</h1>
        </v-card-text>
      </v-card>
      <v-card class="ma-6">
        <v-card-title>
          <b>Chiffres d'affaires</b>
        </v-card-title>
        <v-card-text>
          <h1 class="mt-9">+ {{ orderTotalSales }}</h1>
        </v-card-text>
      </v-card>
      <v-card class="ma-6">
        <v-card-text>
          <!-- eslint-disable-next-line vue/no-unregistered-components -->
          <apexchart type="radialBar" :options="options3" :series="series2" />
        </v-card-text>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import { transformPrice } from "@/components/common/utils/helpers";

export default {
  name: "Dashboard",
  data() {
    return {
      options3: {
        chart: {
          height: 350,
          type: "radialBar",
        },

        labels: ["Progress"],
      },

      options: {
        chart: {
          type: "bar",
        },
      },

      series: [
        {
          data: [
            {
              x: "category A",
              y: 10,
            },
            {
              x: "category B",
              y: 18,
            },
            {
              x: "category C",
              y: 13,
            },
          ],
        },
      ],

      series2: [50],
    };
  },

  computed: {
    ...mapState({
      orders: (state) => state.checkout.orders,
    }),

    ...mapGetters({
      user: "fetchUser/getUser",
    }),

    orderLength() {
      return this.orders.length;
    },

    orderTotalSales() {
      const total = this.orders.reduce((acc, value) => acc + value?.totalHt, 0);

      return transformPrice(total);
    },
  },

  created() {
    this.fetchOrderByStore();
  },

  methods: {
    ...mapActions({
      fetchOrderByStore: "checkout/fetchOrderByStore",
    }),
  },
};
</script>

<style lang="scss" scoped>
.length-style {
  font-size: 3rem;
}

.container-card-menu {
  cursor: pointer;
  margin: 0 auto;
  @media (max-width: 1199px) {
    .card-menu {
      margin: 10px auto;
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: 1199px) {
    .card-menu {
      margin: 10px auto;
      width: 60%;
      height: 100%;

      &:hover {
        border: 1px solid black;
      }

      .v-icon {
        //font-size: 5em;
        //color: orange;
      }

      p.font-size-link {
        font-size: 2em;
      }

      .v-card-text {
        margin-top: 20px;
      }
    }
  }
}
</style>
