<template>
  <div class="news">
    <figure>
      <img :src="img" alt="thumb" />
    </figure>
    <div class="desc">
      <div class="text">
        <p class="type caption">saasLanding</p>
        <p>{{ text }}</p>
      </div>
      <v-btn small text class="btn"> saasLanding.news_readmore </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: "News",
  props: {
    text: {
      type: String,
      required: true,
    },

    img: {
      type: String,
      required: true,
    },

    // type: {
    //   type: String,
    //   required: true,
    // },
  },
};
</script>

<style lang="scss" scoped>
//@import './cards-style.scss';
</style>
