<template>
  <v-card :class="type" class="pricing">
    <div class="title-card">
      <p>{{ title }}</p>
      <h4 class="display-1">
        {{ calculatePrice }}<span v-if="price > 0 && !percentage"> € </span>
        <span v-if="price > 0 && percentage">%</span>
      </h4>
    </div>
    <ul>
      <li v-for="(item, index) in featureList" :key="index">
        <v-icon color="green">mdi-check</v-icon>
        {{ item }}
      </li>
    </ul>
    <div class="btn-area">
      <p class="desc">
        {{ desc }}
      </p>
      <v-btn
        :color="type === 'basic' ? 'secondary' : 'primary'"
        class="button"
        large
      >
        En savoir plus
      </v-btn>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "Pricing",
  props: {
    // eslint-disable-next-line vue/require-default-prop
    title: {
      type: String,
      required: false,
    },

    percentage: Boolean,

    price: {
      type: Number,
      required: true,
    },

    featureList: {
      type: Array,
      required: true,
    },

    desc: {
      type: String,
      required: true,
    },

    type: {
      type: String,
      default: "",
    },
  },

  computed: {
    calculatePrice() {
      return this.price > 0 ? this.price : "Free";
    },
  },
};
</script>

<style lang="scss" scoped>
@import "cards-style";
</style>
