<template>
  <ModalDialogue
    ref="modal_dialogue"
    :show-modal="showModal"
    scrollable
    persistent
    enable-cross
    :max-width="700"
    @close="close"
  >
    <template #title>Termes & conditions</template>

    <template #body>
      <div>
        <p>
          I) Notions ==> La condition Si, par principe, l’obligation est réputée
          exister dès l’échange des consentements, les parties peuvent
          subordonner sa création ou sa disparition à la réalisation d’un
          événement dont elles déterminent la teneur lors de la conclusion du
          contrat. Cette modalité de l’obligation qui est susceptible d’affecter
          son existence est qualifiée de condition. Introduit par l’ordonnance
          du 10 février 2016, le nouvel article 1304 du Code civil prévoit que «
          l’obligation est conditionnelle lorsqu’elle dépend d’un événement
          futur et incertain. » La condition fait ainsi dépendre l’existence de
          l’obligation d’un événement dont la réalisation est indépendante de la
          volonté des parties (à tout le moins du débiteur). Classiquement, on
          distingue deux sortes de conditions : la condition suspensive et la
          condition résolutoire. La condition suspensive Le nouvel article 1304
          du Code civil prévoit, en son alinéa 2 que « la condition est
          suspensive lorsque son accomplissement rend l’obligation pure et
          simple. » La condition suspensive est de la sorte celle qui suspend la
          naissance de l’obligation à la réalisation d’un événement futur et
          incertain. Le rapport au Président de la République précise que « en
          présence d’une condition suspensive, la naissance de l’obligation est
          suspendue à l’accomplissement de cette condition : tant que la
          condition n’est pas réalisée, l’obligation conditionnelle n’existe
          qu’en germe, seul l’accomplissement de la condition rend l’obligation
          pure et simple». Deux hypothèses sont alors envisageables : La
          condition suspensive se réalise L’obligation est confirmée dans sa
          création Dès lors, le contrat devient efficace : il peut recevoir
          exécution La condition suspensive ne se réalise pas L’obligation est
          réputée n’avoir jamais existé La conséquence en est que si elle
          constituait un élément essentiel du contrat, l’acte est frappé de
          caducité La condition résolutoire Le nouvel article 1304 du Code civil
          prévoit en son alinéa 3 que la condition « est résolutoire lorsque son
          accomplissement entraîne l’anéantissement de l’obligation.» Ainsi, la
          condition résolutoire est celle qui, si elle se réalise, menace de
          disparition une obligation qui existe déjà. Plus précisément, selon le
          rapport au Président de la République « en présence d’une condition
          résolutoire, l’obligation naît immédiatement et produit tous ses
          effets, mais son anéantissement est subordonné à l’accomplissement de
          la condition. » Exemple : Les parties prévoient que, en cas de nom
          paiement du loyer à une échéance déterminée, le bail est résilié de
          plein droit La distinction entre la condition suspensive et la
          condition résolutoire tient au fond à ce que « dans le premier cas,
          l’obligation est provisoirement inefficace, mais son efficacité peut
          résulter rétroactivement de la réalisation de la condition, tandis que
          dans le second, elle est provisoirement efficace, mais peut être
          rétroactivement anéantie si la condition se réalise »
        </p>
        <br />
        <p>
          [1] ==> Le terme Initialement, le Code civil ne donnait aucune
          définition du terme. Lors de la réforme des obligations, le
          législateur a remédié à cette carence en introduisant un nouvel
          article 1305 dans le Code civil Cette disposition prévoit que «
          l’obligation est à terme lorsque son exigibilité est différée jusqu’à
          la survenance d’un événement futur et certain, encore que la date en
          soit incertaine. » Deux enseignements majeurs peuvent être tirés de
          cette définition : Premier enseignement : une modalité temporelle de
          l’obligation Le terme est une modalité de l’obligation qui a pour
          objet d’affecter son exigibilité ou sa durée Lorsque le terme fait
          dépendre l’exigibilité de l’obligation d’un événement, on dit que le
          terme est suspensif Dans cette hypothèse, l’obligation existe
          Toutefois, tant que l’événement ne s’est pas réalisé, le créancier ne
          peut pas en réclamer l’exécution Lorsque le terme fait dépendre la
          durée de l’obligation d’un événement, on dit que le terme est
          extinctif Dans cette hypothèse, non seulement l’obligation existe,
          mais encore elle est exigible Il en résulte que tant que l’événement
          ne s’est pas réalisé le débiteur doit l’exécuter Lorsque, en revanche,
          l’échéance fixée interviendra, l’obligation disparaîtra Second
          enseignement : un événement futur et certain Le terme consiste en un
          événement qui est futur et certain, mais dont la date de réalisation
          peut être incertaine. Si donc l’événement doit être certain pour être
          qualifié de terme, sa date de réalisation peut en revanche ne pas être
          fixée : Lorsque la date de réalisation de l’événement dont dépend
          l’exigibilité ou la durée de l’obligation est déterminée, le terme est
          certain Lorsque la date de réalisation de l’événement dont dépend
          l’exigibilité ou la durée de l’obligation est indéterminée, le terme
          est incertain En toute hypothèse, pour constituer un terme l’événement
          auquel est subordonnée l’exigibilité ou la durée de l’obligation doit
          nécessairement être certain dans son principe Exemple: l’événement
          auquel est subordonné le versement d’une prime d’assurance au décès
          d’une personne constitue un terme et non une condition Si la date de
          décès d’une personne est, par nature, incertaine, il est certain que
          cet événement se produira À, défaut de certitude quant à la
          réalisation même de l’événement, celui-ci s’apparentera à une
          condition II) Critères de la distinction La condition se distingue du
          terme sur deux points : Premier élément distinctif : existence /
          exigibilité-durée La condition Elle est une modalité de l’obligation
          qui affecte son existence, en ce sens que de sa réalisation dépend
          soit sa création : la condition est suspensive soit sa disparition :
          la condition est résolutoire Le terme Il est une modalité de
          l’obligation qui affecte, non pas son existence, mais son exigibilité
          ou sa durée Le terme est suspensif lorsqu’il affecte l’exigibilité de
          l’obligation Le terme est extinctif lorsqu’il affecte la durée de
          l’obligation Second élément distinctif : l’incertitude La condition
          Elle se rapporte à un événement incertain, en ce sens que sa
          réalisation est indépendante de la volonté des parties Ce n’est qu’en
          cas de survenance de cet événement que l’obligation produira ses
          effets Le terme Il se rapporte à un événement certain, en ce sens que
          sa survenance n’est pas soumise à un aléa Les parties ont la certitude
          que cet événement se produira, soit parce que son échéance est
          déterminée, soit parce que sa réalisation est inévitable.
        </p>
      </div>
    </template>

    <template #action>
      <BaseButton btn-style="primary" @click="decline">
        <template #name> Decliner</template>
      </BaseButton>

      <BaseButton btn-style="primary" @click="click">
        <template #name> Accepter</template>
      </BaseButton>
    </template>
  </ModalDialogue>
</template>

<script>
import { mapState } from "vuex";
import ModalDialogue from "@/components/common/ui-components/ModalDialogue/ModalDialogue";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";

import { postAcceptTermCondition } from "@/components/AdminOffice/Register/api-register";
import { ROLE_BACK } from "~/components/common/utils/const-roles";
import modalSate from "@/mixins/modalState";
import closeEvent from "@/mixins/closeEvent";

export default {
  name: "ModalTermAndCondition",
  components: {
    ModalDialogue,
    BaseButton,
  },

  mixins: [modalSate, closeEvent],

  computed: {
    ...mapState({
      currentUser: (state) =>
        state.fetchUser.currentUser ?? state.auth.user.store,
    }),
  },

  mounted() {
    if (
      this.currentUser &&
      !this.currentUser.hasAcceptedTermCondition &&
      this.currentUser.roles[0] === ROLE_BACK
    ) {
      this.$refs.modal_dialogue.displayModal();
    }
  },

  methods: {
    decline() {
      this.$refs.modal_dialogue.modalHide();
    },

    async click() {
      await postAcceptTermCondition(this.currentUser.id, this.$cookies).then(
        (r) => {
          this.$refs.modal_dialogue.modalHide();
        }
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.v-btn:not(.v-btn--round).v-size--default {
  width: 50% !important;
}
</style>
