<template>
  <div
    id="filter-categories-restaurant"
    class="container-filter-categories-restaurant"
  >
    <div :class="customClassFixed">
      <v-sheet class="filter">
        <v-slide-group
          center-active
          :show-arrows="$device.isDesktop && !isFixed"
        >
          <div class="container-slide">
            <v-slide-item
              v-for="filter in displayMenuConfigurators"
              :key="filter.id"
              v-slot="{ active, toggle }"
              data-cy="slider-list-items"
            >
              <v-btn
                v-scroll-to="optionsScrollTo(filter)"
                class="ma-2"
                :input-value="isActiveFilter(active, filter)"
                active-class="black white--text"
                depressed
                rounded
                text
                data-cy="filter-item-button"
                @click="navigationFilter(filter, toggle)"
              >
                {{ filter.category }}
              </v-btn>
            </v-slide-item>
          </div>
        </v-slide-group>
      </v-sheet>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { transformSplitString } from "../../utils/helpers";
import { sortByRanK } from "@/components/common/utils/helpers";
import {
  ALL,
  ALL_LOWERCASE,
} from "@/components/common/ui-components/FilterCategoriesRestaurant/const-filters";

export default {
  name: "FilterCategoriesRestaurant",

  data() {
    return {
      option: undefined,
      currentCategory: undefined,
      isFixed: false,
    };
  },

  computed: {
    ...mapState({
      menuConfigurators: (state) => state.menuConfigurator.menuConfigurators,
    }),

    customClassFixed() {
      return `${this.isFixed ? "sticky-filter-categories" : ""}`;
    },

    displayMenuConfigurators() {
      const menuConfigs = [...this.menuConfigurators];
      return sortByRanK(menuConfigs);
    },
  },

  mounted() {
    window.addEventListener("scroll", this.handleScroll);
  },

  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },

  methods: {
    optionsScrollTo(item) {
      const categorySplit = transformSplitString(item.category, " ");
      if (categorySplit === ALL_LOWERCASE) {
        return (this.option = {
          el: `#filter-categories-restaurant`,
          offset: -40,
        });
      }

      return (this.option = {
        el: `#menu-${categorySplit}`,
        offset: -110,
      });
    },

    handleScroll() {
      const element = document.getElementById("filter-categories-restaurant");
      this.isFixed = window.scrollY >= element.offsetTop;
    },

    isActiveFilter(boolean, filter) {
      const filterName = filter.category;

      /** this.$root.$on("active-menu", (value) => {
       if (filterName === value) {
       return (this.currentCategory = value);
       }
       }); **/

      // FILTER MENU STYLE TITLE
      if (this.currentCategory) {
        return this.currentCategory === filterName;
      }

      return filterName === ALL;
    },

    navigationFilter(filter) {
      const filterName = filter.category;
      this.currentCategory = filterName;
      this.$scrollTo(`#${filterName}`);
      this.$ga.event({
        eventCategory: "filtersClick",
        eventAction: "click",
        eventLabel: "click filter",
        eventValue: 1,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.v-btn:not(.v-btn--round).v-size--default {
  height: 41px;
  min-width: 64px;
  font-size: 0.7rem;
  padding: 0 10px;
}

@media (max-width: 699px) {
  .container-filter-categories-restaurant {
    max-width: 91% !important;
  }
}

@media (min-width: 700px) {
  .container-filter-categories-restaurant {
    max-width: 70%;
  }
}

.container-filter-categories-restaurant {
  max-width: 70%;
  margin: 0 auto;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

  .sticky-filter-categories {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    animation: slideDown 0.35s ease-out;
    z-index: 99;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

    @media (min-width: 1199px) {
      .v-item-group.theme--light.v-slide-group {
        height: 60px;
        width: 80%;
        margin: 0 auto;
        animation: slideDown 0.35s ease-in;
      }
    }

    @keyframes slideDown {
      from {
        transform: translateY(-100%);
      }
      to {
        transform: translateY(0);
      }
    }
  }

  .opacity {
    opacity: 0.4;
  }

  .container-slide {
    margin: 0 auto;
  }

  .bounce-enter-active {
    animation: bounce-in 1s;
  }

  .bounce-leave-active {
    animation: bounce-in 2s reverse;
  }

  @-webkit-keyframes bounce-in {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.3);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1.6);
    }
    70% {
      -webkit-transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }

  @keyframes bounce-in {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.3);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1.05);
    }
    70% {
      -webkit-transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
}
</style>
