<template>
  <Fragment>
    <v-container>
      <div class="container text-center">
        <p class="error">{{ error }}</p>

        <p class="decode-result">
          Last result: <b>{{ result }}</b>
        </p>
        <qrcode-stream
          track="centered text"
          @detect="onDetect"
          @error="onError"
        />
      </div>
    </v-container>
  </Fragment>
</template>

<script>
export default {
  name: "Index",

  data() {
    return {
      error: "",
      result: "",
    };
  },

  methods: {
    onDetect(detectedCodes) {
      console.log(detectedCodes);

      const [firstCode] = detectedCodes;
      this.result = firstCode.rawValue;
    },

    onError(err) {
      this.error = `[${err.name}]: `;

      if (err.name === "NotAllowedError") {
        this.error += "you need to grant camera access permission";
      } else if (err.name === "NotFoundError") {
        this.error += "no camera on this device";
      } else if (err.name === "NotSupportedError") {
        this.error += "secure context required (HTTPS, localhost)";
      } else if (err.name === "NotReadableError") {
        this.error += "is the camera already in use?";
      } else if (err.name === "OverconstrainedError") {
        this.error += "installed cameras are not suitable";
      } else if (err.name === "StreamApiNotSupportedError") {
        this.error += "Stream API is not supported in this browser";
      } else if (err.name === "InsecureContextError") {
        this.error +=
          "Camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.";
      } else {
        this.error += err.message;
      }
    },
  },
};
</script>

<style>
.container {
  margin: 100px auto;
}
</style>
