<template>
  <v-container>
    <HeadingBack icon="invert-colors">Commande d'imprimés</HeadingBack>

    <!--   items print -->
    <ItemsPrint />
  </v-container>
</template>

<script>
import HeadingBack from "../../common/ui-components/HeadingBack/HeadingBack";
import ItemsPrint from "./ItemsPrint/ItemsPrint";

export default {
  name: "Print",
  components: {
    HeadingBack,
    ItemsPrint,
  },
};
</script>
