<template>
  <ModalDialogue
    :show-modal="showModal"
    enable-cross
    fullscreen
    scrollable
    @close="close"
  >
    <template #title>
      <h3 class="ma-auto">Ajouter une categorie</h3>
    </template>

    <template #body>
      <v-container>
        <ValidationObserver v-slot="{ invalid }">
          <ValidationProvider v-slot="{ errors }" rules="required">
            <div class="form-category-menu d-flex flex-wrap">
              <div class="width-100 pa-1">
                <span v-show="errors.length > 0" class="is-invalid">
                  {{ errors[0] }}
                </span>

                <v-text-field
                  v-model="name"
                  label="Intitulé de la categorie"
                  outlined
                  clearable
                />
              </div>

              <div class="wrapper-btn-category">
                <BaseButton
                  class="button-add-category"
                  :disabled="invalid"
                  :loading="isLoading"
                  color="black"
                  :heigth="150"
                  @click="create"
                >
                  <template #name>
                    <span class="btn-white">Ajouter</span>
                  </template>
                </BaseButton>
              </div>
            </div>
          </ValidationProvider>

          <v-card class="bg-black">
            <v-card-title>
              <span>Liste des categories</span>
            </v-card-title>

            <v-card-text>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Rechercher"
                class="mb-5"
                single-line
                hide-details
              />

              <v-data-table
                v-model="selected"
                :headers="headers"
                :items="categories"
                :items-per-page="25"
                class="elevation-1 text-lg-center"
                :loading="loading"
                :search="search"
                item-key="id"
                show-select
                loading-text="Chargement, veuillez patienter.."
              >
                <template #[`item.name`]="{ item }">
                  {{ item.name }}
                </template>

                <template #[`item.createAt`]="{ item }">
                  {{ $moment(item.createAt).format("DD-MM-Y") }}
                </template>

                <template #[`item.actions`]="{ item }">
                  <v-btn color="teal accent-4" icon @click="editItem(item)">
                    <v-icon small>mdi-pencil-outline</v-icon>
                  </v-btn>

                  <v-btn color="red" icon @click="deleteItem(item)">
                    <v-icon small> mdi-delete-outline </v-icon>
                  </v-btn>
                </template>

                <template #no-data>
                  <v-btn color="primary" @click="initialize"> Reset</v-btn>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </ValidationObserver>
      </v-container>

      <ModalDialogueDelete
        :dialog-delete.sync="dialogDelete"
        @click="removeCategory"
      >
        <template #title>Confirmation de suppression</template>

        <template #content>
          <v-chip
            v-if="itemSelected.countMenuConfigurator"
            label
            class="ma-2"
            color="orange"
            outlined
          >
            <v-icon left>mdi-alert</v-icon>
            Attention, cette action supprimera également les
            {{ itemSelected.countMenuConfigurator }}
            {{
              itemSelected.countMenuConfigurator > 1
                ? "sous-elements"
                : "sous-element"
            }}
          </v-chip>

          <p>Êtes-vous sûr de vouloir supprimer ?</p>

          <div>
            <v-chip color="red" class="ma-2" label outlined>
              La catégorie #{{ itemSelected.name }}
            </v-chip>
          </div>
        </template>
      </ModalDialogueDelete>

      <v-dialog v-if="dialogUpdate" v-model="dialogUpdate" max-width="500px">
        <v-card>
          <v-card-title> Modification du nom de la catégorie </v-card-title>

          <v-card-text>
            <v-text-field v-model="editValue" clearable />
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="closeModalUp">
              Cancel
            </v-btn>
            <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
  </ModalDialogue>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { mapActions, mapState } from "vuex";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import ModalDialogue from "@/components/common/ui-components/ModalDialogue/ModalDialogue";
import modalSate from "@/mixins/modalState";
import closeEvent from "@/mixins/closeEvent";
import ModalDialogueDelete from "~/components/common/ui-components/ModalDialogue/ModalDialogueDelete.vue";
import axiosClient from "@/components/common/utils/axiosClient";

export default {
  name: "ModalFormCreateMenuCategory",
  components: {
    ModalDialogueDelete,
    ValidationObserver,
    ValidationProvider,
    BaseButton,
    ModalDialogue,
  },

  mixins: [modalSate, closeEvent],

  data() {
    return {
      idx: 0,
      editedIndex: null,
      itemSelected: null,
      dialogDelete: false,
      dialogUpdate: false,
      selected: [],
      search: "",
      name: "",
      loading: false,
      headers: [
        {
          text: "Libellé",
          align: "center",
          sortable: false,
          value: "name",
        },

        {
          text: "Date",
          align: "center",
          sortable: false,
          value: "createAt",
        },
        { text: "Actions", align: "center", value: "actions", width: 110 },
      ],
    };
  },

  computed: {
    ...mapState({
      categories: (state) => state.category.categories,
      restaurant: (state) => state.auth.user.store,
      isLoading: (state) => state.category.isLoading,
    }),

    editValue: {
      get() {
        return this.itemSelected?.name ?? "";
      },

      set(value) {
        this.$store.commit("category/UPDATE_FIELD_NAME_CATEGORY", {
          value,
          index: this.idx,
        });
      },
    },
  },

  watch: {
    isLoading: {
      deep: false,
      immediate: false,
      handler(value) {
        if (!value) {
          this.name = "";
          this.close();
        }
      },
    },
  },

  methods: {
    ...mapActions({
      putCategoriesMenu: "category/PUT_CATEGORY_MENU",
      removeCategoryMenuAndChildren:
        "category/REMOVE_CATEGORY_MENU_AND_CHILDREN",
      postMenuTitle: "category/POST_CATEGORY_MENU",
    }),

    async create() {
      try {
        const data = await this.postMenuTitle({
          name: this.name.toUpperCase(),
          storeId: this.restaurant.uid,
        });

        if (data) {
          this.$toast.success("Création de la catégorie a bien été effectuée");
          this.name = "";
        }
      } catch (e) {
        this.$toast.error(e);
      }
    },

    editItem(item) {
      this.editedIndex = this.categories.indexOf(item);
      this.itemSelected = item;
      this.dialogUpdate = true;
    },

    deleteItem(item) {
      this.editedIndex = this.categories.indexOf(item);
      this.itemSelected = item;
      this.dialogDelete = true;
    },

    save() {
      try {
        axiosClient
          .put(`menu_titles/${this.itemSelected.id}`, {
            name: this.categories[this.editedIndex].name,
          })
          .then(() => {
            this.$toast.success("La modification a bien été effectuée");
            this.closeModalUp();
          });
      } catch (e) {
        console.error(e);
        this.$toast.error(e);
      }
    },

    removeCategory() {
      try {
        axiosClient.delete(`menu_titles/${this.itemSelected.id}`).then(() => {
          this.$store.dispatch(
            "category/REMOVE_CATEGORY_AND_FETCH",
            this.editedIndex
          );
          this.closeModalRemove();
          this.$toast.success("La suppression a bien été effectuée");
        });
      } catch (e) {
        console.log("efefe");
        console.error(e);
        this.$toast.error(e);
      }
    },

    closeModalUp() {
      this.dialogUpdate = false;
    },

    closeModalRemove() {
      this.dialogDelete = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.list-categories {
  width: 80%;
  margin: 0 auto;
}

.width-100 {
  margin: 0 auto;
  width: 100%;
}

.wrapper-btn-category {
  margin: 0 auto;
}

.width-50 {
  margin: 0 auto;
  width: 70%;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1440px) {
  .form-category-menu {
    margin: 15px auto;
    width: 100%;
  }

  .width-100 {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .form-category-menu {
    margin: 15px auto;
    width: 100%;
  }
}

.button-add-category {
  width: 50%;

  .v-btn:not(.v-btn--round).v-size--default {
    height: 3.4rem !important;
  }
}

@media (min-width: 1440px) {
  .categories-card-block {
    width: 50%;
    height: 550px;
    overflow-y: auto;
    text-align: center;
    padding: 15px;

    span {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1rem;
      padding: 0 20px;
    }
  }
}

.categories-card-block {
  width: 100%;
  height: 550px;
  overflow-y: auto;
  text-align: center;
  padding: 15px;

  span {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0 20px;
  }
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0 2px 4px -1px !important;
}
</style>
