<template>
  <v-dialog
    id="container-rgpd-banner"
    v-model="show"
    persistent
    max-width="480"
  >
    <v-card>
      <v-card-actions>
        <v-spacer></v-spacer>
        <a class="not-track" data-cy="button-declined" @click="declined">
          <v-icon left> mdi-close</v-icon>
          Continuer sans accepter
        </a>
      </v-card-actions>

      <v-card-text>
        Nous utilisons des cookies pour optimiser le fonctionnement de notre
        site, adapter les contenus proposés, et vous adresser des conseils et
        communications personnalisés. <br /><br />

        Pour plus d’informations, veuillez consulter notre
        <a :href="urlPolicy"> Politique de confidentialité </a>. et notre
        <a :href="urlCookie">politique de cookies</a>
      </v-card-text>

      <div class="card-action d-flex flex-wrap">
        <BaseButton
          outlined
          :class="buttonClassMa"
          :block="$device.isMobileOrTablet"
          @click="declined"
        >
          <template #name>
            <span class="btn-rgpd">REFUSER</span>
          </template>
        </BaseButton>

        <BaseButton
          id="btn-cookie-accept"
          :block="$device.isMobileOrTablet"
          :class="buttonClassMa"
          color="black"
          @click="acceptCookie"
        >
          <template #name>
            <span class="btn-rgpd" data-cy>Tout Accepter</span>
          </template>
        </BaseButton>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import { ListUrls } from "@/router/routeName";

export default {
  name: "BannerCookie",

  components: { BaseButton },

  data() {
    return {
      show: false,
    };
  },

  computed: {
    urlPolicy() {
      return ListUrls.POLICY_CONFIDENTIALITY;
    },

    urlCookie() {
      return ListUrls.POLICY_COOKIE;
    },

    buttonClassMa() {
      return this.$device.isDesktop ? "button" : "";
    },
  },

  mounted() {
    this.initCookieRGPD();
  },

  methods: {
    initCookieRGPD() {
      !this.$cookies.get("cookieConsent")
        ? (this.show = true)
        : (this.show = false);
    },

    acceptCookie() {
      this.$cookies.set("cookieConsent", "full");
      this.show = false;
    },

    // parameterCookie() {},
    declined() {
      this.$cookies.set("cookieConsent", "declined");
      this.show = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.v-application .title {
  font-size: 1rem !important;
}

.not-track {
  font-size: 0.9rem;
}
.button {
  margin: 10px;
}
.card-action {
  padding: 10px;
}

#container-rgpd-banner {
  width: 100%;
  z-index: 1000;
  height: 150px;
  bottom: 0;
  position: fixed;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.65) !important;
}
</style>
