<template>
  <div id="main-wrap">
    <section id="home">
      <Banner />
    </section>
    <section id="feature" class="space-top">
      <Feature />
    </section>
    <section id="pricing" class="space-top">
      <PricingPlan />
    </section>
    <section id="faq" class="space-top-short">
      <Faq />
    </section>
  </div>
</template>

<script>
export default {
  name: "Index",
  components: {
    Faq: () => import("@/components/common/ui-components/Faq/Faq"),
    PricingPlan: () =>
      import("@/components/common/ui-components/PricingPlan/PricingPlan"),

    Feature: () => import("@/components/common/ui-components/Feature/Feature"),
    Banner: () => import("@/components/common/ui-components/BannerHome/Banner"),
  },

  middleware: ["seo"],
};
</script>

<style lang="scss" scoped>
#main-wrap {
  background: white;
}

@function section-margin($margin) {
  @return $margin * 20;
}
.space-top {
  margin-top: section-margin($spacing1);
  @include breakpoints-down(sm) {
    margin-top: section-margin(6px);
  }
}

.space-top-short {
  margin-top: section-margin($spacing1 * 0.5);
}
</style>
