<template>
  <Fragment>
    <RestaurantEmptyItem v-if="restaurant.length === 0" />

    <RestaurantItems v-else />

    <ModalDeliveryItem
      v-if="isEnable && showModal"
      :show-modal.sync="showModal"
    />
  </Fragment>
</template>

<script>
import { mapState } from "vuex";
import ModalDeliveryItem from "@/components/RestaurantMenu/components/RestaurantMenuItem/RestaurantItems/Modal/ModalDeliveryItem";
import modal from "@/mixins/modal";
import {
  DELIVERY_COOKIE,
  ON_THE_SPOT_COOKIE,
  TAKE_COOKIE,
} from "@/components/RestaurantMenu/components/RestaurantMenuItem/DeliveryButton/const-delivery";

export default {
  name: "RestaurantMenuItem",
  components: {
    ModalDeliveryItem,
    RestaurantItems: () => import("./RestaurantItems/RestaurantItems"),
    RestaurantEmptyItem: () =>
      import("./RestaurantEmptyItem/RestaurantEmptyItem"),
  },

  mixins: [modal],

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
    }),

    selectDeliveriesActif() {
      const modeDeliveries = {
        [TAKE_COOKIE]: this.restaurant?.actifTakeAway,
        [DELIVERY_COOKIE]: this.restaurant?.actifDelivery,
        [ON_THE_SPOT_COOKIE]: this.restaurant?.actifInSite,
      };

      return Object.entries(modeDeliveries)
        .filter(([key, value]) => value === true)
        .map(([key, value]) => key);
    },

    isEnable() {
      return (
        this.restaurant.isShopStore && this.selectDeliveriesActif.length > 1
      );
    },
  },

  mounted() {
    if (this.selectDeliveriesActif.length === 1) {
      this.$cookies.set("im.driving_mode", this.selectDeliveriesActif[0]);
    }

    this.$cookies.set("im.eshop", this.restaurant?.isShopStore ?? false);

    if (!this.$cookies.get("im.driving_mode") && this.isEnable) {
      this.displayModal();
    }
  },
};
</script>
