<template>
  <div>
    <v-checkbox
      v-if="complementGroup.isMultiple"
      v-model="selectItem"
      :disabled="isDisabledCheckbox()"
      :label="label(complement)"
      color="black"
      class="pl-5"
      :class="{ disabled: isDisabledCheckbox() }"
    />

    <v-radio
      v-else
      :label="label(complement)"
      :value="formatRadio(complement)"
      class="pl-5 pt-2"
    />

    <hr v-if="length > 1" />
  </div>
</template>

<script>
import { transformPrice } from "@/components/common/utils/helpers";

export default {
  name: "InputComplementProduct",
  props: {
    complementGroup: {
      type: Object,
      required: true,
    },

    complement: {
      type: Object,
      required: true,
    },

    select: {
      type: Array,
      required: true,
    },

    length: {
      type: Number,
      required: true,
    },
  },

  data() {
    return {
      selectItem: false,
    };
  },

  watch: {
    selectItem: {
      deep: false,
      immediate: false,
      handler(value) {
        this.emitSelectItem(value);
      },
    },
  },

  methods: {
    formatRadio(complement) {
      return {
        ...complement,
        category: this.complementGroup.name,
        type: "radio",
      };
    },

    emitSelectItem(value) {
      if (value) {
        this.$emit("select-items", {
          price: this.complement.price,
          name: this.complement.name,
          id: this.complement.id,
          group: this.complementGroup.name,
        });
      } else {
        const index = this.select.findIndex(
          (v) =>
            v.name === this.complement.name &&
            v.group === this.complementGroup.name
        );

        this.$emit("select-items", index);
      }
    },

    label(item) {
      let label = item.name;

      if (item.price !== 0) {
        label += ` (${transformPrice(item.price)})`;
      }

      return label;
    },

    isDisabledCheckbox() {
      let isMaxChecked = 0;

      this.select.forEach((currentValue) => {
        if (
          currentValue &&
          this.complementGroup.name === currentValue.group &&
          !this.selectItem
        ) {
          isMaxChecked++;
        }
      });

      return (
        this.complementGroup.max > 0 &&
        isMaxChecked === this.complementGroup.max
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.disabled {
  background-color: #e3e3e3;
}
</style>
