<template>
  <ModalDialogue
    :show-modal="showModal"
    enable-cross
    fullscreen
    scrollable
    @close="close"
  >
    <template #title>
      <h3 class="ma-auto">Ajouter une banniére publicitaire</h3>
    </template>

    <template #body>
      <div class="wrap-input">
        <FileUpload
          class="w-50"
          :context="CONTEXT_IMAGE_PICTURE"
          :item-menu="banner.picture"
          :picture="picture"
        />

        <div class="pa-1 w-50">
          <div class="d-flex flew-wrap">
            <v-text-field
              v-model="label"
              class="w-50 mr-4"
              label="Intitulé de la banniére pub"
              outlined
              clearable
            />

            <v-switch
              v-model="device"
              inset
              label="Responsive Mobile"
              class="w-30"
            />
          </div>
        </div>

        <div class="w-50">
          <hr />

          <div class="d-flex flex-wrap">
            <div class="pa-1 flex-grow-1 flex-shrink-0">
              <v-menu
                v-model="menu1"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="auto"
              >
                <template #activator="{ on, attrs }">
                  <v-text-field
                    v-model="startTime"
                    label="Date de début de la campagne de publicité"
                    persistent-hint
                    prepend-icon="mdi-calendar"
                    v-bind="attrs"
                    v-on="on"
                  />
                </template>

                <v-date-picker
                  v-model="startTime"
                  no-title
                  @input="menu1 = false"
                />
              </v-menu>
            </div>

            <div class="pa-1 flex-grow-1 flex-shrink-3">
              <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="auto"
              >
                <template #activator="{ on, attrs }">
                  <v-text-field
                    v-model="endTime"
                    label="Date de fin de la campagne de publicité"
                    persistent-hint
                    prepend-icon="mdi-calendar"
                    v-bind="attrs"
                    v-on="on"
                  />
                </template>

                <v-date-picker
                  v-model="endTime"
                  class="w-50"
                  no-title
                  @input="menu2 = false"
                />
              </v-menu>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template #action>
      <v-spacer />

      <div class="d-flex flex-row-reverse">
        <div class="ma-2">
          <BaseButton
            :loading="isLoading"
            color="black"
            :heigth="150"
            @click="create"
          >
            <template #name>
              <span class="btn-white">Ajouter</span>
            </template>
          </BaseButton>
        </div>

        <div class="ma-2">
          <BaseButton :heigth="150" @click="close">
            <template #name>
              <span class="btn-white">Annuler</span>
            </template>
          </BaseButton>
        </div>
      </div>
    </template>
  </ModalDialogue>
</template>

<script>
import { mapActions, mapState } from "vuex";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton.vue";
import ModalDialogue from "@/components/common/ui-components/ModalDialogue/ModalDialogue.vue";
import modalSate from "@/mixins/modalState";
import closeEvent from "@/mixins/closeEvent";
import FileUpload from "@/components/common/ui-components/FileUpload/FileUpload.vue";
import { CONTEXT_IMAGE_PICTURE } from "@/components/BackOffice/MenuConfigurator/Items/type-image";

export default {
  name: "ModalBanner",
  components: {
    FileUpload,
    BaseButton,
    ModalDialogue,
  },

  mixins: [modalSate, closeEvent],

  data() {
    return {
      isLoading: false,
      menu1: false,
      menu2: false,
      CONTEXT_IMAGE_PICTURE,
    };
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
      file: (state) => state.Upload.file,
      banner: (state) => state.banner.banner,
    }),

    picture() {
      return this.banner?.picture?.fileName;
    },

    endTime: {
      get() {
        return this.$moment(this.banner.endTime).format("YYYY-MM-DD");
      },

      set(value) {
        this.$store.commit("banner/SET_BANNER_END_DATE", value);
      },
    },

    startTime: {
      get() {
        return this.$moment(this.banner.startTime).format("YYYY-MM-DD");
      },

      set(value) {
        this.$store.commit("banner/SET_BANNER_START_DATE", value);
      },
    },

    label: {
      get() {
        return this.banner.name;
      },

      set(value) {
        this.$store.commit("banner/SET_BANNER_NAME", value);
      },
    },

    device: {
      get() {
        return this.banner.device;
      },

      set(value) {
        this.$store.commit("banner/SET_BANNER_DEVICE", value);
      },
    },
  },

  methods: {
    ...mapActions({
      createBanners: "banner/CREATE",
    }),

    create() {
      if (
        this.$moment(this.banner.endTime) < this.$moment(this.banner.startTime)
      ) {
        return this.$toast.info(
          "La date de fin ne peut précéder la date du début"
        );
      }

      const banner = {
        file: this.file,
        ...this.banner,
        device: this.banner.device ? "mobile" : "desktop",
      };

      this.createBanners({
        context: "PICTURE",
        ...banner,
      }).then(() => this.close());
    },
  },
};
</script>

<style lang="scss" scoped>
.w-50 {
  margin: 0 auto;
  width: 50%;
}

.wrap-input {
  margin-top: 1rem;
}

.w-100 {
  margin: 0 auto;
  width: 100%;
}

.v-time-picker-custom .v-picker__title {
  height: 84px;
  padding-top: 10px;
}
</style>
