<template>
  <v-container>
    <h1>{{ item.name }}</h1>
    <div class="spacer">
      <ValidationObserver v-slot="{ invalid }">
        <FileUpload context="print"></FileUpload>
        <ValidationProvider v-slot="{ errors }" rules="required">
          <span v-show="errors.length > 0" class="is-invalid">{{
            errors[0]
          }}</span>

          <v-select
            v-model="print.select"
            :items="items[0].printRunItems"
            label="Tirage"
            outlined
          ></v-select>
        </ValidationProvider>

        <ValidationProvider v-slot="{ errors }" rules="required">
          <span v-show="errors.length > 0" class="is-invalid">{{
            errors[0]
          }}</span>

          <v-select
            v-model="print.selectSize"
            :items="items[0].finished_size"
            label="Format final"
            outlined
          ></v-select>
        </ValidationProvider>

        <ValidationProvider v-slot="{ errors }" rules="required">
          <span v-show="errors.length > 0" class="is-invalid">{{
            errors[0]
          }}</span>

          <v-select
            v-model="print.selectMaterial"
            :items="items[0].material"
            label="Matériau"
            outlined
          ></v-select>
        </ValidationProvider>

        <ValidationProvider v-slot="{ errors }" rules="required">
          <span v-show="errors.length > 0" class="is-invalid">{{
            errors[0]
          }}</span>

          <v-select
            v-model="print.selectColor"
            :items="items[0].color"
            label="Colorimétrie"
            outlined
          ></v-select>
        </ValidationProvider>

        <ValidationProvider v-slot="{ errors }" rules="required">
          <span v-show="errors.length > 0" class="is-invalid">{{
            errors[0]
          }}</span>

          <v-select
            v-model="print.selectNumberPage"
            :items="items[0].NumberPage"
            label="Nombre de page"
            outlined
          ></v-select>

          <div class="container-price">
            <p class="price-print">
              Votre prix TTC: <strong>{{ transformPriceCurrency }}</strong>
            </p>
          </div>

          <v-btn
            :disabled="invalid"
            class="btn-print white--text"
            block
            @click="submit"
          >
            Commander
          </v-btn>
        </ValidationProvider>
      </ValidationObserver>
    </div>
  </v-container>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { mapActions, mapGetters } from "vuex";
import FileUpload from "../../../common/ui-components/FileUpload/FileUpload";
import {
  generatePrintPrice,
  transformPrice,
} from "@/components/common/utils/helpers";

export default {
  name: "FormPrint",
  components: {
    FileUpload,
    ValidationObserver,
    ValidationProvider,
  },

  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      print: {
        select: 1000,
        selectSize: "A6",
        selectMaterial: "135g/m couché brillant",
        selectColor: "quadrichromie 4/4",
        selectNumberPage: 2,
      },

      items: [
        {
          printRunItems: [],
          NumberPage: [1, 2],
          finished_size: ["A6", "A5", "A3"],
          material: ["135g/m couché mat", "135g/m couché brillant"],
          color: ["quadrichromie 4/4"],
        },
      ],
    };
  },

  computed: {
    ...mapGetters({
      user: "fetchUser/getUser",
      restaurant: "fetchDefaultData/getRestaurant",
      fileId: "menuConfigurator/getFile",
    }),

    transformPriceCurrency() {
      Object.assign(this.item, { unitPrice: this.item.price });
      const price = generatePrintPrice(this.item.price);
      // this.item.price = price;
      return transformPrice(price);
    },
  },

  methods: {
    ...mapActions({
      postOrderWaiting: "checkout/POST_ORDER_WAITING",
      addCart: "checkout/addCart",
    }),

    submit() {
      Object.assign(this.item, {
        price: this.item.price,
        files: [this.fileId],
        status: "waiting",
        storeId: this.restaurant.id,
        context: "print",
      });

      if (this.item.files.length > 0) {
        this.postOrderWaiting({
          data: this.item,
        });
        // this.$refs.checkout_stripe.redirectCheckout();
      } else {
        // eslint-disable-next-line no-console
        console.log("le document n'existe pas");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.spacer {
  margin-top: 20px;
}
.container-price {
  width: 100%;
  margin: 0 auto;

  .price-print {
    font-size: 2em;
  }
}

.btn-print {
  background-color: #cc4728 !important;
}
</style>
