<template>
  <ModalDialogue
    show-image
    :show-modal="showModal"
    :max-width="changeWithByDevice"
    enable-cross
    :fullscreen="checkIsMobile"
    scrollable
    @close="close"
  >
    <template #title>
      <h5>
        Avant de valider ajouter un estimation de preparation de la commande
      </h5>
    </template>

    <template #body>
      <div></div>
    </template>

    <template #action>
      <BaseButton block @click="validate">
        <template #name>
          <span class="btn-white"> Valider la commande </span>
        </template>
      </BaseButton>
    </template>
  </ModalDialogue>
</template>

<script>
import $Modal from "@/mixins/$_modal";
import closeEvent from "@/mixins/closeEvent";
import modalSate from "@/mixins/modalState";

export default {
  name: "ModalValidateDelay",
  components: {
    BaseButton: () =>
      import("@/components/common/ui-components/BaseButton/BaseButton"),

    ModalDialogue: () =>
      import("@/components/common/ui-components/ModalDialogue/ModalDialogue"),
  },

  mixins: [$Modal, closeEvent, modalSate],

  props: {},

  methods: {
    validate() {},
  },
};
</script>
