<template>
  <div class="mt-5">
    <v-card>
      <v-card-title>Réinitialisation du MOT DE PASSE </v-card-title>
      <v-card-subtitle>Entrez le nouveau mot de passe : </v-card-subtitle>

      <v-card-text>
        <ValidationObserver v-slot="{ invalid }">
          <ValidationProvider
            v-slot="{ errors }"
            rules="min:8|required|confirmed:confirmation"
          >
            <span v-show="errors.length > 0" class="is-invalid">{{
              errors[0]
            }}</span>
            <v-text-field
              v-model="user.password"
              label="Nouveau mot de passe"
              counter
              hint="At least 8 characters"
              outlined
              clearable
              @click:append="showPassword = !showPassword"
            />
          </ValidationProvider>

          <ValidationProvider v-slot="{ errors }" vid="confirmation">
            <span v-show="errors.length > 0" class="is-invalid">{{
              errors[0]
            }}</span>
            <v-text-field
              v-model="user.rePassword"
              label="Retapez le mot de passe"
              outlined
              counter
              hint="At least 8 characters"
              clearable
              @click:append="showPassword = !showPassword"
            />
          </ValidationProvider>

          <v-btn
            :disabled="invalid"
            block
            class="mb-10 white--text"
            color="teal"
            @click="handleDataForm"
          >
            Envoyer
          </v-btn>
        </ValidationObserver>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { resetPassword } from "@/components/Login/Services/api-login";

export default {
  name: "FormResetPassword",
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  data() {
    return {
      showPassword: false,
      user: {
        password: "",
        rePassword: "",
      },
    };
  },

  methods: {
    // todo faire api
    async handleDataForm() {
      await resetPassword({
        password: this.user.rePassword,
      })
        .then((res) => {
          console.log(res);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>
