<template>
  <div class="mt-5 container-form-forget-password">
    <v-row>
      <v-col cols="12" xs="12">
        <v-alert v-if="error" class="error-info" outlined type="error">
          {{ message }}
        </v-alert>

        <v-card v-if="show">
          <v-card-title> DEMANDE D'UN NOUVEAU MOT DE PASSE </v-card-title>
          <v-card-subtitle>
            Nous venons de vous envoyer un e-mail pour la réinitialisation de
            votre mot de passe. Pour en créer un nouveau, cliquez sur le lien
            présent dans le mail.
          </v-card-subtitle>
          <v-card-actions>
            <v-btn
              class="mb-10 white--text"
              color="teal"
              @click="redirectLogin"
            >
              Retour page connexion
            </v-btn>
          </v-card-actions>
        </v-card>

        <!--   else -->
        <v-card v-else class="content">
          <v-card-title> MOT DE PASSE OUBLIÉ </v-card-title>
          <v-card-subtitle>
            Entrez votre e-mail et recevez un lien pour modifier votre mot de
            passe :
          </v-card-subtitle>

          <v-card-text>
            <ValidationObserver v-slot="{ invalid }">
              <ValidationProvider v-slot="{ errors }" rules="required|email">
                <span v-show="errors.length > 0" class="is-invalid">{{
                  errors[0]
                }}</span>
                <v-text-field
                  v-model="email"
                  label="email"
                  type="email"
                  outlined
                  clearable
                ></v-text-field>
              </ValidationProvider>

              <v-btn
                :disabled="invalid"
                block
                class="mb-10 white--text"
                color="teal"
                @click="handleDataForm"
              >
                Envoyer
              </v-btn>
            </ValidationObserver>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { forgetPasswordRequest } from "./Services/api-login";

export default {
  name: "FormForgetPassword",
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  data() {
    return {
      email: "",
      error: null,
      message: null,
      show: false,
    };
  },

  methods: {
    async handleDataForm() {
      this.error = false;
      await forgetPasswordRequest({
        email: this.email,
      })
        .then((res) => {
          if (res) {
            this.show = true;
            this.error = false;
          }
        })
        .catch((e) => {
          this.error = true;
          this.message = e.response.data.message;
          console.error(e);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.container-form-forget-password {
  width: 100%;

  @media (min-width: 1199px) {
    .content {
      margin: 0 auto;
      width: 50%;
    }
  }

  @media (max-width: 1199px) {
    .content {
      margin-bottom: 4rem;
      max-width: 100%;
    }
  }
}
</style>
