<template>
  <Fragment>
    <div class="container-login text-center">
      <BaseAlertMessage v-if="error" class="error-info" type="error">
        <template #title>Erreur : </template>
        <template #body> {{ message }}</template>
      </BaseAlertMessage>

      <BaseAlertMessage v-if="resetError" class="error-info" type="error">
        <template #body>{{ message }}</template>
      </BaseAlertMessage>

      <BaseButton
        v-if="displayForgetPassword"
        text
        color="black"
        prepend-icon="mdi-lock"
        @click="hide"
      >
        <template #name>
          <span class="btn-white"> me connecter </span>
        </template>
      </BaseButton>

      <BaseAlertMessage v-if="success" dismissible text type="success">
        <template #body>
          Merci de consulter la boite mail renseignée pour récupérer votre mot
          de passe
        </template>
      </BaseAlertMessage>

      <v-card class="pa-4">
        <div class="text-center">
          <img
            :src="require('~/assets/images/imenus-logo-black.png')"
            width="150"
            alt="logo"
          />
        </div>

        <h3 class="text-caption">{{ msg }}</h3>

        <p v-if="displayForgetPassword" class="ma-5 caption">
          Entrez votre e-mail et recevez un lien pour modifier votre mot de
          passe :
        </p>

        <form @submit.prevent="userLogin">
          <ValidationObserver v-slot="{ invalid }">
            <v-card-text>
              <ValidationProvider rules="required|email">
                <v-text-field
                  v-model="login.username"
                  label="Email"
                  type="email"
                  data-cy="text-email"
                  prepend-icon="mdi-email"
                  outlined
                  clearable
                />
              </ValidationProvider>

              <ValidationProvider
                v-if="!displayForgetPassword"
                rules="required"
              >
                <v-text-field
                  v-model="login.password"
                  type="password"
                  label="Mot de passe"
                  data-cy="text-password"
                  prepend-icon="mdi-lock"
                  outlined
                  clearable
                />
              </ValidationProvider>
            </v-card-text>

            <v-card-actions>
              <BaseButton
                block
                :loading="loading"
                :disabled="invalid"
                color="black"
                data-cy="submit"
                type="submit"
              >
                <template #name>
                  <span class="btn-white">
                    {{
                      displayForgetPassword
                        ? "Réinitialisation"
                        : "Me connecter"
                    }}
                  </span>
                </template>
              </BaseButton>
            </v-card-actions>
          </ValidationObserver>

          <a
            v-if="!displayForgetPassword"
            href="#"
            class="text-decoration-none text-caption transition-swing"
            @click="display"
          >
            Mot de passe oublié ?
          </a>
        </form>
      </v-card>

      <div class="text-caption transition-swing text-justify pa-4">
        Pour plus d’informations, veuillez consulter notre
        <a :href="urlPolicy">Politique de confidentialité</a>, et notre
        <a :href="urlCookie">politique de cookies</a>
      </div>
    </div>
  </Fragment>
</template>

<script lang="ts">
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { ListUrls } from "~/router/routeName";
import { ERROR_LOGIN } from "~/components/common/messages/messageError";
import { verifyRecaptcha } from "@/config/api/api-recaptcha";
import axiosClient from "@/components/common/utils/axiosClient";
import BaseAlertMessage from "~/components/common/ui-components/BaseAlertMessage/BaseAlertMessage.vue";
import BaseButton from "~/components/common/ui-components/BaseButton/BaseButton.vue";

export default {
  name: "Login",
  components: {
    ValidationObserver,
    ValidationProvider,
    BaseButton,
    BaseAlertMessage,
  },

  data() {
    return {
      message: null,
      error: false,
      resetError: false,
      loading: false,
      login: {
        username: "",
        password: "",
      },

      success: false,
      displayForgetPassword: false,
    };
  },

  computed: {
    urlPolicy(): string {
      return ListUrls.POLICY_CONFIDENTIALITY;
    },

    urlCookie(): string {
      return ListUrls.POLICY_COOKIE;
    },

    msg(): string {
      return !this.displayForgetPassword
        ? "Connectez-vous à votre compte"
        : "Mot de passe oublié";
    },
  },

  async mounted(): Promise<void> {
    try {
      await this.$recaptcha.init();
    } catch (e) {
      console.error(e);
    }
  },

  beforeDestroy(): void{
    this.$recaptcha.destroy();
  },

  methods: {
    isLoading(value: boolean = false): void {
      this.loading = value;
    },

    async userLogin(): Promise<void> {
      this.success = false;
      this.error = false;
      this.resetError = false;

      this.isLoading(true);
      if (this.displayForgetPassword) {
        axiosClient
          .post(`forgot_password`, { email: this.login.username })
          .then(() => {
            this.success = true;
          })
          .catch((e: any) => {
            console.error(e);
            if (e.response.status === 404) {
              this.resetError = true;
              this.message =
                "Désolé, nous ne reconnaissons pas cette adresse mail";
            }
          })
          .finally(this.isLoading());
      } else {
        this.isLoading(true);
        const token = await this.$recaptcha.execute("login");

        verifyRecaptcha(token)
          .then(async ({ data }) => {
            if (data.data.success) {
              await this.$auth
                .loginWith("local", {
                  data: this.login,
                })
                .then(() => {
                  this.$recaptcha.reset();

                  if (this.$auth.loggedIn && this.$auth.user) {
                    if (
                      this.$auth.user?.mustChangePassword &&
                      this.$auth.user?.token
                    ) {
                      this.$router.push(`/reset/${this.$auth.user.token}`);
                    }

                    this.$store.commit(
                      "fetchDefaultData/SET_RESTAURANT",
                      this.$auth.user.store
                    );

                    this.$store.commit(
                      "fetchUser/SET_TO_USER",
                      this.$auth.user
                    );

                    this.isLoading();
                    this.$router.push(ListUrls.BACKOFFICE);
                  }
                });
            }
          })
          .catch((e) => {
            this.error = true;
            this.message = ERROR_LOGIN;
            console.error(e);
            this.isLoading();
          });
      }
    },

    display(): void {
      this.error = false;
      this.success = false;
      this.displayForgetPassword = true;
    },

    hide():void {
      this.displayForgetPassword = false;
      this.success = false;
    },
  },
};
</script>

<style lang="scss" scoped>
@media (max-width: 1198px) {
  .container-login {
    width: 60% !important;
  }

  .v-card {
    width: 100%;
  }
}

@media (max-width: 630px) {
  .container-login {
    width: 90% !important;
  }
}

@media (min-width: 1199px) {
  .container-login {
    width: 550px !important;
  }
}

.is-invalid {
  text-align: center;
  color: red;

  font-size: 0.75rem !important;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0333333333em !important;
}

.container-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .login-btn {
    background-color: #cc4728 !important;
    border-color: #cc4728 !important;
  }

  .error-info {
    margin-top: 20px;
    z-index: 20;
  }
}
</style>
