<template>
  <div class="text-center ma-3 pa-3">
    <div v-for="(item, index) in deliveroo" :key="`${item.title}-${index}`">
      <v-btn
        v-if="cookieDelivery(item)"
        outlined
        class="ma-2"
        :color="index === selectedDeliveroo ? 'black' : '#848484'"
        @click="selected(index)"
      >
        <v-icon left>{{ item.icon }}</v-icon>
        {{ item.title }}
      </v-btn>
    </div>

    <div v-if="selectedDeliveroo === 2 && !isBooking" class="text-center mt-5">
      <SearchZoneDelivery @address="(v) => $emit('address', v)" />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import {
  DELIVERY,
  DELIVERY_COOKIE,
  ON_THE_SPOT,
  ON_THE_SPOT_COOKIE,
  TAKE,
  TAKE_COOKIE,
} from "@/components/RestaurantMenu/components/RestaurantMenuItem/DeliveryButton/const-delivery";
import SearchZoneDelivery from "@/components/checkout/SearchZoneDelivery.vue";

export default {
  name: "DeliveryButton",
  components: { SearchZoneDelivery },
  data() {
    return {
      selectedDeliveroo: 1,
      deliveroo: [
        {
          title: "Sur place",
          type: ON_THE_SPOT_COOKIE,
          icon: "mdi-silverware",
        },
        {
          title: "Click & Collect",
          type: TAKE_COOKIE,
          icon: "mdi-walk",
        },
        {
          title: "Livraison",
          type: DELIVERY_COOKIE,
          icon: "mdi-bike",
        },
      ],
    };
  },

  computed: {
    ...mapState({
      schedule: (state) => state.fetchDefaultData.scheduleFront.data,
    }),

    isBooking() {
      return this.$cookies.get("im.carts")?.isBooking;
    },
  },

  mounted() {
    if (
      !this.$cookies.get("im.driving_mode") &&
      this.selectedDeliveroo === TAKE
    ) {
      this.$cookies.set("im.driving_mode", TAKE_COOKIE);
    } else {
      this.selectedDeliveroo = this.modeDrivingCookie();
    }
  },

  methods: {
    cookieDelivery(value) {
      return (
        this.$cookies.get("im.driving_mode") &&
        this.$cookies.get("im.driving_mode") === value.type
      );
    },

    selected(idx) {
      this.selectedDeliveroo = idx;
      this.$cookies.set(
        "im.driving_mode",
        this.modeDriving(this.selectedDeliveroo)
      );
    },

    modeDriving(idxDeliveroo) {
      switch (idxDeliveroo) {
        case DELIVERY:
          return DELIVERY_COOKIE;
        case TAKE:
          return TAKE_COOKIE;
        case ON_THE_SPOT:
          return ON_THE_SPOT_COOKIE;
        default:
          return TAKE_COOKIE;
      }
    },

    modeDrivingCookie() {
      switch (this.$cookies.get("im.driving_mode")) {
        case DELIVERY_COOKIE:
          return DELIVERY;
        case TAKE_COOKIE:
          return TAKE;
        case ON_THE_SPOT_COOKIE:
          return ON_THE_SPOT;
        default:
          return TAKE;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.v-btn:not(.v-btn--round).v-size--default {
  font-size: 0.55rem;
}

.form {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  border: red 1px solid;
  padding: 10px;
}
</style>
