<template>
  <ContainerBackOffice>
    <MenuConfigurator class="container-menu-configurator" />
  </ContainerBackOffice>
</template>

<script>
import MenuConfigurator from "@/components/BackOffice/MenuConfigurator/MenuConfigurator";
import ContainerBackOffice from "@/components/common/ui-components/ContainerBO/ContainerBackOffice";

export default {
  name: "Index",
  components: { ContainerBackOffice, MenuConfigurator },
  middleware: "auth",
};
</script>

<style scoped lang="scss">
@media (max-width: 700px) {
  .container-menu-configurator {
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 1199px) {
  .container-menu-configurator {
    margin: 0 auto;
    width: 100%;
  }
}
</style>
