<template>
  <ContainerBackOffice>
    <Print />
  </ContainerBackOffice>
</template>

<script>
import Print from "@/components/BackOffice/Print/Print.vue";
import ContainerBackOffice from "@/components/common/ui-components/ContainerBO/ContainerBackOffice.vue";

export default {
  name: "OrderPrint",
  components: { ContainerBackOffice, Print },
};
</script>
