<template>
  <v-img
    class="img-center"
    :class="{ 'opacity-no-image': hasDefaultImage }"
    :max-height="maxHeight"
    :max-width="maxWidth"
    :src="cloudinarySrc"
    :alt="alt"
    :lazy-src="cloudinarySrc"
  >
  </v-img>
</template>

<script>
const DEFAULT_NO_IMAGE = "default_no_image_r5jf8s";

export default {
  name: "BaseImage",
  props: {
    src: {
      type: String,
      default: undefined,
    },

    alt: {
      type: String,
      default: undefined,
    },

    maxHeight: {
      type: Number,
      required: false,
      default: 100,
    },

    maxWidth: {
      type: Number,
      required: false,
      default: 100,
    },
  },

  computed: {
    cloudinarySrc() {
      if (this.src && this.src.startsWith("blob:")) {
        return this.src;
      }

      return this.$cloudinary.image.url(`/${this.src}.png`, {
        "max-width": `${this.maxWidth} px`,
        "max-height": `${this.maxHeight} px`,
      });
    },

    hasDefaultImage() {
      return this.src === DEFAULT_NO_IMAGE;
    },
  },
};
</script>

<style lang="scss" scoped>
.img-center {
  margin: 0 auto;
}

.opacity-no-image {
  opacity: 0.3;
}
</style>
