<template>
  <div id="create">
    <v-speed-dial
      v-model="fab"
      :top="top"
      :bottom="bottom"
      :right="right"
      :left="left"
      :direction="direction"
      :open-on-hover="hover"
      :transition="transition"
    >
      <template #activator>
        <v-btn v-model="fab" color="black darken-2" dark fab>
          <v-icon v-if="fab"> mdi-close </v-icon>
          <v-icon v-else> mdi-apps </v-icon>
        </v-btn>
      </template>
      <v-btn fab dark small color="white">
        <NuxtLink :to="to" target="_blank">
          <v-icon>mdi-eye</v-icon>
        </NuxtLink>
      </v-btn>

      <v-btn fab dark small @click="handleClick">
        <v-icon>mdi-qrcode</v-icon>
      </v-btn>

      <a :href="generateExcel" target="_blank" rel="noopener noreferrer">
        <v-btn fab dark small>
          <v-icon>mdi-file-export</v-icon>
        </v-btn>
      </a>
    </v-speed-dial>

    <VueQrcode
      :color="{ dark: '#000000ff', light: '#ffffffff' }"
      type="image/png"
      :value="`${$config.PUBLIC_BASE_URI}/stores/${restaurant.id}/menu/pdf?authorization=${token}`"
      @change="onDataUrlChange"
    />
  </div>
</template>

<script>
import VueQrcode from "vue-qrcode";
import { mapState } from "vuex";
import JsPDF from "jspdf";

export default {
  name: "ButtonFloatingActionNav",
  components: {
    VueQrcode,
  },

  data: () => ({
    direction: "top",
    fab: false,
    hover: false,
    top: false,
    right: true,
    bottom: true,
    left: false,
    base64Img: null,
    transition: "slide-y-reverse-transition",
  }),

  computed: {
    ...mapState({
      restaurant: (state) =>
        state.fetchDefaultData.restaurant,
    }),

    token() {
      return this.$cookies.get("auth._token.local").replace("Bearer ", "");
    },

    to() {
      if (this.restaurant.category.name && this.restaurant.slug.name) {
        return `/${
          this.restaurant.city
        }/${this.restaurant.category.name.toLowerCase()}/${
          this.restaurant.slug.name
        }`;
      }

      return `/${this.restaurant.city}/${this.restaurant.category.name}/${this.restaurant.slug.name}`;
    },

    generateExcel() {
      const baseUrl = this.$axios.defaults.SERVER_API_URL;
      const token = this.$cookies
        .get("auth._token.local")
        .replace("Bearer ", "");

      return `${baseUrl}/files/menu_configurators/store/export/${this.restaurant.id}?authorization=${token}`;
    },
  },

  methods: {
    onDataUrlChange(e) {
      this.base64Img = e;
    },

    handleClick() {
      this.generatePdf();
    },

    generatePdf() {
      const pdf = new JsPDF({
        format: "A8",
      });

      if (this.base64Img) {
        pdf.addImage(this.base64Img, "png", 1, 10, 50, 50);
        pdf.save("qrcode-menu");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
#create .v-speed-dial {
  position: fixed;
}

#create .v-btn--floating {
  position: relative;
}
</style>
