<template>
  <div class="camera-modal">
    <video ref="video" class="camera-stream" />
    <div class="camera-modal-container">
      <span
        class="take-picture-button take-picture-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
        @click="capture"
      >
        <i class="material-icons">camera</i>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "CameraView",
  mounted() {
    navigator.mediaDevices
      .getUserMedia({ video: true })
      .then((mediaStream) => {
        this.$refs.video.srcObject = mediaStream;
        this.$refs.video.play();
      })
      .catch((error) => console.error("getUserMedia() error:", error));
  },

  methods: {
    capture() {},
  },
};
</script>

<style scoped>
.camera-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: white;
  z-index: 10;
}
.camera-stream {
  width: 100%;
  max-height: 100%;
}

.camera-modal-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  margin-bottom: 24px;
}
.take-picture-button {
  display: flex;
}
</style>
