<template>
  <div>
    <HeadingBack icon="room-service">
      Interface de prise de commande
    </HeadingBack>

    <v-card
      v-for="item in links"
      :key="item.title"
      class="card-menu text-center ma-3"
      :to="item.link"
    >
      <v-card-text>
        <v-icon class="pa-2">mdi-{{ item.icon }}</v-icon>
        <p class="font-size-link text--primary">{{ item.title }}</p>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { ListUrls, MY_ACCOUNT_FR } from "@/router/routeName";
import { ROLE_BACK } from "@/components/common/utils/const-roles";
import HeadingBack from "@/components/common/ui-components/HeadingBack/HeadingBack";

export default {
  name: "ContainerRoomService",
  components: { HeadingBack },
  data() {
    return {
      links: [
        {
          title: MY_ACCOUNT_FR,
          icon: "account-box-outline",
          link: ListUrls.MY_ACCOUNT,
          access: ROLE_BACK,
        },
        {
          title: MY_ACCOUNT_FR,
          icon: "account-box-outline",
          link: ListUrls.MY_ACCOUNT,
          access: ROLE_BACK,
        },
      ],
    };
  },
};
</script>
