<template>
  <ValidationObserver v-slot="{ invalid }">
    <ValidationProvider v-slot="{ errors }">
      <span v-show="errors.length > 0" class="is-invalid">{{ errors[0] }}</span>
      <p class="title-information-back">Modifier votre numéro de téléphone</p>
      <hr />

      <VuePhoneNumberInput
        v-model="phoneNumber"
        clearable
        :no-flags="true"
        :no-country-selector="true"
      />
    </ValidationProvider>

    <BaseButton
      block
      :elevation="1"
      :loading="loading"
      color="black"
      :disabled="invalid"
      @click="send"
    >
      <template #name>
        <span class="btn-white"> Enregistrer</span>
      </template>
    </BaseButton>
  </ValidationObserver>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { mapState } from "vuex";
import VuePhoneNumberInput from "vue-phone-number-input";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import { postPhoneNumber } from "@/components/BackOffice/MyAccount/service/api-account";

export default {
  name: "FormPhoneNumber",
  components: {
    ValidationObserver,
    ValidationProvider,
    BaseButton,
    VuePhoneNumberInput,
  },

  data() {
    return {
      loading: false,
    };
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
    }),

    phoneNumber: {
      get() {
        return this.restaurant.phoneNumber;
      },

      set(value) {
        this.$store.commit("fetchDefaultData/UPDATE_FORM_PHONE_NUMBER", value);
      },
    },
  },

  methods: {
    send() {
      this.loading = true;
      postPhoneNumber(this.restaurant.uid, this.restaurant.phoneNumber).then(
        (r) => {
          this.$toast.success(r.data);
          this.loading = false;
        }
      );
    },
  },
};
</script>
