<template>
  <BaseAlertMessage type="error" class="error-message">
    <template #title>Error</template>
    <template #body>
      {{ ERROR_API }}
      <BaseButton color="black" block @click="refresh">
        <template #name>
          <span class="btn-white">Rafraîchir la page</span>
        </template>
      </BaseButton>
    </template>
  </BaseAlertMessage>
</template>

<script>
import BaseAlertMessage from "@/components/common/ui-components/BaseAlertMessage/BaseAlertMessage";
import { ERROR_API } from "@/components/common/messages/messageError";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";

export default {
  name: "MessageError",
  components: { BaseButton, BaseAlertMessage },
  props: {},
  data() {
    return {
      ERROR_API,
    };
  },

  methods: {
    refresh() {
      window.location.reload();
    },
  },
};
</script>

<style lang="scss" scoped>
.error-message {
  width: 95%;
  margin: 10px auto;
}
</style>
