<template>
  <div class="container-quantity-product">
    <!--   remove carts  -->
    <div class="quantity-product">
      <v-btn :elevation="0" :disabled="quantity === 1" class="btn" @click="sub">
        <v-icon>mdi-minus</v-icon>
      </v-btn>

      <div class="number-quantity">{{ quantity }}</div>
      <!--   ADD carts   -->
      <v-btn :elevation="0" class="btn" @click="add">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "QuantityItemProduct",
  props: {
    item: {
      type: Object,
      default: null,
    },

    // eslint-disable-next-line vue/require-default-prop
    idx: Number,
  },

  data() {
    return {
      quantity: 0,
    };
  },

  computed: {
    ...mapState({
      // quantity: (state) => state.checkout.quantity,
      carts: (state) => state.checkout.carts,
    }),
  },

  mounted() {
    this.quantity = this.item?.quantity ?? 1;
  },

  methods: {
    ...mapActions({
      incrementQuantityProduct: "checkout/decrementQuantityProduct",
      addQuantityProduct: "checkout/addQuantityProduct",
    }),

    add() {
      this.quantity += 1;
      if (this.idx >= 0) {
        this.$store.dispatch("checkout/updateQuantityCart", {
          idx: this.idx,
          quantity: this.quantity,
        });
        this.$cookies.set("im.carts", this.carts);
      } else {
        this.$emit("change-quantity", this.quantity);
      }
      // this.addQuantityProduct();
    },

    sub() {
      if (this.quantity === 1) {
        return;
      }

      this.quantity -= 1;
      if (this.idx >= 0) {
        this.$store.dispatch("checkout/subQuantityCart", {
          idx: this.idx,
          quantity: this.quantity,
        });
        this.$cookies.set("im.carts", this.carts);
      } else {
        this.$emit("change-quantity", this.quantity);
      }
      // this.incrementQuantityProduct();
    },
  },
};
</script>

<style lang="scss" scoped>
.v-btn:not(.v-btn--round).v-size--default {
  width: 36px !important;
  padding: 0 8px !important;
}

.container-quantity-product {
  margin: 0 auto;
  .v-size--default {
    height: 4.5vh;
    padding: 0;
    min-width: 2vw;
  }

  .quantity-product {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;

    .number-quantity {
      text-align: center;
      width: 60px;
    }
  }
}
</style>
