<template>
  <div class="title-style-border-grey">
    <span>Configuration du store</span>

    <div class="pa-10 d-flex flex-row flex-wrap justify-space-between">
      <v-switch
        v-if="!isBooking"
        v-model="isEShopStore"
        :label="displayIsShowCase"
        :disable="isDisabled"
        inset
      />

      <v-switch
        v-if="!isShopStoreSwitch"
        v-model="isBooking"
        :label="displayIsBooking"
        inset
      />

      <v-switch v-model="isClosed" inset :label="displayIsClosedOnline" />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import axiosClient from "@/components/common/utils/axiosClient";
export default {
  name: "RestaurantConfigSwitch",
  computed: {
    ...mapState({
      disabledShopStore: (state) =>
        state.fetchDefaultData.restaurant.disabledShopStore,
      isShopStoreSwitch: (state) =>
        state.fetchDefaultData.restaurant.isShopStore,
      restaurant: (state) => state.fetchDefaultData.restaurant,
    }),

    isDisabled() {
      return this.restaurant?.configShop?.isShopStore;
    },

    isEShopStore: {
      get() {
        return this.isShopStoreSwitch;
      },

      set(value) {
        this.IsShopStore({
          value,
          uid: this.restaurant.uid,
        }).then(() =>
          this.$store.commit("fetchDefaultData/SET_STORE_ECOMMERCE", value)
        );
      },
    },

    isBooking: {
      get() {
        return this.restaurant.booking;
      },

      set(value) {
        axiosClient
          .put(`stores/${this.restaurant.uid}`, {
            booking: value,
          })
          .then(() =>
            this.$store.commit("fetchDefaultData/SET_STORE_BOOKING", value)
          );
      },
    },

    isClosed: {
      get() {
        return this.disabledShopStore;
      },

      set(value) {
        this.IsClosedOnline(value);
        this.$store.commit("fetchDefaultData/SET_STORE_CLOSED", value);
      },
    },

    displayIsClosedOnline() {
      return !this.isClosed
        ? "La boutique est actuellement activée"
        : "La boutique est actuellement désactivée";
    },

    displayIsShowCase() {
      return this.isEShopStore
        ? "Actuellement en mode e-shop boutique"
        : "Actuellement en mode Site vitrine";
    },

    displayIsBooking() {
      return this.isBooking
        ? "Mode réservation activé"
        : "Mode réservation désactivé";
    },
  },

  methods: {
    ...mapActions({
      IsClosedOnline: "fetchDefaultData/postIsClosedOnlineSwitch",
      IsShopStore: "fetchDefaultData/postIsShopStoreSwitch",
    }),
  },
};
</script>
