<template>
  <div>
    <v-snackbar
      v-model="displaySnackbar"
      right
      :timeout="timeout"
      :multi-line="multiLine"
    >
      {{ displayMessage }}
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Snackbar",
  data: () => ({
    multiLine: true,
    timeout: 2000,
  }),

  computed: {
    // eslint-disable-next-line vue/return-in-computed-property
    displayMessage() {
      // eslint-disable-next-line no-unused-expressions
      this.message;
    },

    // eslint-disable-next-line vue/return-in-computed-property
    displaySnackbar() {
      // eslint-disable-next-line no-unused-expressions
      this.display;
    },
  },

  methods: {
    ...mapGetters({
      display: "snackBar/GET_DISPLAY",
      message: "snackBar/GET_MESSAGE",
    }),
  },
};
</script>
