<template>
  <div class="text-center wrapper-visual-interface">
    <BaseButton block color="black" @click="sheet = !sheet">
      <template #name>
        <span class="btn-white">Ouvrir Menu Interface</span>
      </template>
    </BaseButton>

    <v-bottom-sheet v-model="sheet">
      <v-sheet class="text-center">
        <BaseButton @click="sheet = !sheet">
          <template #name>
            <span class="btn-white">Fermer</span>
          </template>
        </BaseButton>

        <v-list>
          <v-list-group :value="true" prepend-icon="mdi-food">
            <template #activator>
              <v-list-item-title>COMMANDE(S)</v-list-item-title>
            </template>

            <v-list-group
              v-for="item in products"
              :key="item.id"
              no-action
              :value="true"
              sub-group
            >
              <template #activator>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ item.name | capitalize }}
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    {{ item.subTitle | capitalize }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </template>

              <v-list-item v-for="child in item.children" :key="child.id" link>
                <v-list-item-title v-text="child.title"></v-list-item-title>

                <v-list-item v-for="value in child.values" :key="value.id" link>
                  <v-list-item-content> {{ value.name }}</v-list-item-content>
                </v-list-item>
              </v-list-item>
            </v-list-group>
          </v-list-group>
        </v-list>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
import { mapState } from "vuex";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";

export default {
  name: "VisualProductInterface",
  components: { BaseButton },

  data() {
    return {
      sheet: false,
    };
  },

  computed: {
    ...mapState({
      products: (state) => state.ProductInterface.products,
    }),
  },
};
</script>

<style scoped>
.wrapper-visual-interface {
  overflow: auto;
}
</style>
