<template>
  <div class="parallax-wrap dots-wrap">
    <div class="inner-parallax large">
      <Parallax :speed-factor="0.3" :section-height="600" direction="up">
        <div class="figure">
          <div>
            <svg class="plus">
              <use xlink:href="/images/decoration/plus.svg#main" />
            </svg>
          </div>
        </div>
      </Parallax>
      <Parallax :speed-factor="0.2" :section-height="700" direction="up">
        <div class="figure">
          <div>
            <svg class="circle">
              <use xlink:href="/images/decoration/circle.svg#main" />
            </svg>
          </div>
        </div>
      </Parallax>
      <Parallax :speed-factor="0.15" :section-height="700" direction="up">
        <div class="figure">
          <div>
            <svg class="zigzag">
              <use xlink:href="/images/decoration/zigzag.svg#main" />
            </svg>
          </div>
        </div>
      </Parallax>
    </div>
  </div>
</template>

<script>
import Parallax from "vue-parallaxy";

export default {
  name: "Large",
  components: {
    Parallax,
  },

  data() {
    return {
      loaded: false,
    };
  },

  mounted() {
    this.loaded = true;
  },
};
</script>

<style lang="scss" scoped>
@import "parallax-style";
</style>
