<template>
  <div>
    <client-only>
      <!--      <StripeCheckout -->
      <!--        ref="checkout_stripe_element" -->
      <!--        :mode="mode" -->
      <!--        :pk="publishableKey" -->
      <!--        :line-items="lineItems" -->
      <!--        @loading="v => (loading = v)" -->
      <!--      > -->
      <!--        <slot></slot> -->
      <!--      </StripeCheckout> -->
    </client-only>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "CheckoutStripeElement",
  components: {
    // StripeCheckout
  },

  props: {
    // eslint-disable-next-line vue/no-unused-properties
    mode: {
      type: String,
      required: false,
      default: "payment",
    },
  },

  computed: {
    ...mapGetters({
      currentUser: "fetchUser/getUser",
      carts: "checkout/getCart",
    }),
  },

  // eslint-disable-next-line vue/order-in-components
  data() {
    return {
      // publishableKey: this.currentUser.restaurant.shopConfig.stripeKey,
      // eslint-disable-next-line vue/no-unused-properties
      publishableKey: "pk_test_iGX1WWt4cmBmvG86JCZTknAy",
      // eslint-disable-next-line vue/no-unused-properties
      loading: false,
      lineItems: [],
      // successURL: "your-success-url",
      // cancelURL: "your-cancel-url"
    };
  },

  methods: {
    // redirectCheckout() {
    //   this.$refs.checkout_stripe_element.redirectToCheckout();
    // },
    // eslint-disable-next-line vue/no-unused-properties
    addPriceId(price) {
      this.lineItems[0] = {
        price,
        quantity: 1,
      };
      if (this.lineItems.length > 0)
        this.$refs.checkout_stripe_element.redirectToCheckout();
    },
  },
};
</script>
