<template>
  <Fragment>
    <HeadingBack icon="mdi-account-group-outline"> List users </HeadingBack>

    <TableUsers />
  </Fragment>
</template>

<script>
import HeadingBack from "@/components/common/ui-components/HeadingBack/HeadingBack";
import TableUsers from "@/components/AdminOffice/ContainerUsers/TableUsers/TableUsers";

export default {
  name: "ContainerUsers",
  components: {
    HeadingBack,
    TableUsers,
  },
};
</script>
