<template>
  <Fragment>
    <HeadingBack icon="silverware"> Configurer vos plats</HeadingBack>
    <!--  Button Action  -->
    <div class="row m-4">
      <div class="col-lg-6 col-xs-12 col-xm-6">
        <ButtonAction
          @display-modal-menu="displayModalMenu"
          @display-modal-categories="displayModal"
        />
      </div>

      <div class="col-lg-6 col-xs-12 col-xm-6">
        <v-card>
          <v-card-title>Import du fichier Excel</v-card-title>
          <v-card-subtitle>
            Gestion des Menus grâce à l'Intégration d'un fichier excel
          </v-card-subtitle>

          <v-card-text>
            <v-file-input
              ref="import"
              :loading="loading"
              accept=".xlsx"
              label="Import des menus"
              outlined
              dense
              @change="onChangeFile"
            />

            <v-alert v-if="importation.message" text prominent type="error">
              {{ importation.message }}
            </v-alert>

            <BaseButton
              :loading="loading"
              block
              color="black"
              :disabled="!file"
              @click="importer"
            >
              <template #name>
                <span class="btn-white">Valider l'importation</span>
              </template>
            </BaseButton>
          </v-card-text>
        </v-card>
      </div>
    </div>

    <template v-if="isLoading">
      <v-skeleton-loader
        v-for="n in 6"
        :key="n"
        class="mx-auto pa-6"
        v-bind="{ boilerplate: true, elevation: 2 }"
        max-width="1200"
        type="list-item-avatar"
      />
    </template>

    <template v-if="!isLoading && !displayMenuConfigurators.length">
      <v-card>
        <v-card-text class="text-center"> Aucune donnée </v-card-text>
      </v-card>
    </template>

    <v-expansion-panels
      v-else-if="$device.isDesktop"
      v-model="active"
      accordion
      focusable
    >
      <Items
        v-for="item in displayMenuConfigurators"
        :key="`menuConfigurators-${item.id}`"
        :item="item"
      />
    </v-expansion-panels>

    <ModalCreateEditMenuConfig
      v-if="showModalMenu"
      :show-modal-menu.sync="showModalMenu"
    />

    <ModalFormCreateMenuCategory
      v-if="showModal"
      :show-modal.sync="showModal"
    />
  </Fragment>
</template>

<script>
import { mapActions, mapState } from "vuex";
import HeadingBack from "../../common/ui-components/HeadingBack/HeadingBack";
import ButtonAction from "./ButtonAction/ButtonAction";
import Items from "@/components/BackOffice/MenuConfigurator/Items/Items";
import ModalCreateEditMenuConfig from "@/components/BackOffice/MenuConfigurator/ModalCreateEditMenuConfig/ModalCreateEditMenuConfig";
import ModalFormCreateMenuCategory from "@/components/BackOffice/MenuConfigurator/Modal/ModalFormCreateMenuCategory";
import { sortByRanK } from "@/components/common/utils/helpers";
import modal from "@/mixins/modal";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton.vue";
import axiosClient from "@/components/common/utils/axiosClient";

export default {
  name: "MenuConfigurator",
  components: {
    BaseButton,
    ModalCreateEditMenuConfig,
    ButtonAction,
    HeadingBack,
    Items,
    ModalFormCreateMenuCategory,
  },

  mixins: [modal],

  data() {
    return {
      showModalMenu: false,
      active: undefined,
      loading: false,
      importation: {
        message: "",
      },

      file: null,
    };
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
      menuConfigurators: (state) => state.menuConfigurator.menuConfigurators,
      isLoading: (state) => state.menuConfigurator.isLoading,
      activePanel: (state) => state.menuConfigurator.activePanel,
    }),

    displayMenuConfigurators() {
      const menus = [...this.menuConfigurators].filter(
        (menu) => menu.children.length > 0
      );
      return sortByRanK(menus);
    },
  },

  watch: {
    activePanel: {
      deep: false,
      immediate: false,
      handler(value) {
        if (value) {
          this.$store.commit("menuConfigurator/SET_ACTIVE_PANEL", value);
        }
      },
    },
  },

  created() {
    this.fetchMenuConfigurators();
    this.fetchCategories();
    this.active = this.activePanel;
  },

  methods: {
    ...mapActions({
      postRankCategory: "category/POST_RANK",
      fetchMenuConfigurators: "menuConfigurator/FETCH_MENUS_CONFIGURATOR",
      fetchCategories: "category/FETCH_CATEGORIES",
    }),

    onChangeFile(file) {
      this.file = file;
    },

    displayModalMenu() {
      this.$store.commit("menuConfigurator/RESET_MENU_CONFIGURATOR");
      this.showModalMenu = true;
    },

    async importer() {
      try {
        if (!this.file) {
          return this.$toast.warning(
            "Aucun fichier sélectionné. Veuillez choisir un fichier."
          );
        }
        this.loading = true;
        this.importation.message = null;

        const formData = new FormData();
        formData.append("file", this.file);
        const { data } = await axiosClient.post(
          `/menu_configurators/store/${this.restaurant.id}/import`,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          }
        );

        if (data) {
          if (data?.Produits?.length > 0) {
            this.importation.message = data?.Produits[0][0];

            return;
          }

          if (data?.exception) {
            this.importation.message = data?.exception?.message;

            return;
          }

          this.file = null;
          this.$refs.import.reset();
          await this.fetchMenuConfigurators();
          this.$toast.success("Le fichier a correctement été importé !");
        }
      } catch (e) {
        console.error(e);
        this.importation.message = e;
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.container-tabs {
  margin: 0 auto;
  width: 84%;
}

.list-group-item {
  cursor: move;
}
</style>
