<template>
  <ContainerBackOffice>
    <HeadingBack icon="basket-outline">Mes Commandes</HeadingBack>

    <div>
      <audio ref="notif" hidden controls>
        <source
          src="http://soundbible.com/mp3/Elevator Ding-SoundBible.com-685385892.mp3"
        />
      </audio>
      <v-data-table
        :headers="headers"
        :items="data"
        :items-per-page="30"
        class="elevation-1 text-lg-center"
        :loading="loading"
        item-key="id"
        show-expand
        loading-text="Chargement, veuillez patienter.."
      >
        <template #[`item.status`]="{ item }">
          <v-chip :color="`${statusString(item.status).color} lighten-2`">
            <span class="text-white">
              {{ statusString(item.status).name }}
            </span>
          </v-chip>
        </template>

        <template #[`item.modeDelivery`]="{ item }">
          {{ translateModeDelivery(item.modeDelivery) }}
        </template>

        <template #[`item.phone`]="{ item }">
          {{ item.phone }}
        </template>

        <template #[`item.email`]="{ item }">
          {{ item.email }}
        </template>

        <template #[`item.totalHt`]="{ item }">
          {{ transformPriceCurrency(item.totalHt) }}
        </template>

        <template #[`item.createAt`]="{ item }">
          {{ $moment(item.createAt).format("DD-MM-YYYY HH:mm") }}
        </template>

        <template #expanded-item="{ item }">
          <td :colspan="15">
            <div class="ma-5 d-flex flex-column">
              <div v-for="(line, idx) in item.orderLines" :key="line.id">
                <div class="ma-5 ml-10">
                  <span>Quantité : {{ line.quantity }}</span>
                  <h3>{{ line.name }}</h3>
                </div>

                <div
                  class="ma-5 d-flex flex-center flex-row justify-space-around"
                >
                  <div
                    v-for="complement in line.complement"
                    :key="complement.id"
                    class="ma-5"
                  >
                    <div class="ma-2">
                      <b>
                        {{
                          lastString(complement.complementGroup.name)
                            | capitalize
                        }}:
                      </b>
                      <br />

                      <v-chip
                        class="ma-2"
                        color="blue lighten-2"
                        text-color="white"
                      >
                        {{ complement.name }}
                      </v-chip>
                    </div>
                  </div>
                </div>
                <hr v-if="item.orderLines.length !== idx + 1" />
              </div>
            </div>
          </td>
        </template>

        <template #[`item.actions`]="{ item }">
          <v-tooltip v-if="!isDisabled(item)" bottom>
            <template #activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                :disabled="isDisabled(item)"
                v-on="on"
                @click="accepted(item)"
              >
                <v-icon :size="32" class="mr-2" color="green lighten-2">
                  mdi-hamburger-check
                </v-icon>
              </v-btn>
            </template>
            <span>Valider la commande</span>
          </v-tooltip>

          <v-tooltip v-if="!isDisabled(item)" bottom>
            <template #activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                :disabled="isDisabled(item)"
                v-on="on"
                @click="declined(item)"
              >
                <v-icon :size="32" class="mr-2" color="red lighten-2">
                  mdi-hamburger-remove
                </v-icon>
              </v-btn>
            </template>
            <span>Annuler la commande</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </div>
  </ContainerBackOffice>
</template>

<script>
import { mapState } from "vuex";
import ContainerBackOffice from "@/components/common/ui-components/ContainerBO/ContainerBackOffice.vue";
import HeadingBack from "@/components/common/ui-components/HeadingBack/HeadingBack.vue";
import axiosClient from "@/components/common/utils/axiosClient";
import { transformPrice } from "@/components/common/utils/helpers";
import { MODE_DELIVERY_MAP } from "@/components/RestaurantMenu/components/RestaurantMenuItem/DeliveryButton/const-delivery";
import { ROLE_BACK } from "~/components/common/utils/const-roles";

const STATUS_SUCCEEDED = "SUCCEEDED";
const STATUS_WAITING = "WAITING";
const STATUS_CANCELED = "CANCELED";

const STATUS_MAP = {
  [STATUS_SUCCEEDED]: {
    name: "Accepté",
    color: "green",
  },
  [STATUS_WAITING]: {
    name: "En attente",
    color: "orange",
  },
  [STATUS_CANCELED]: {
    name: "Annulé",
    color: "red",
  },
};

export default {
  name: "Order",
  components: { HeadingBack, ContainerBackOffice },
  middleware: "auth",
  data() {
    return {
      loading: false,
      data: [],
      headers: [
        {
          text: "Reference",
          align: "center",
          sortable: false,
          value: "reference",
        },
        {
          text: "Téléphone",
          width: 150,
          sortable: false,
          align: "center",
          value: "cellPhone",
        },
        {
          text: "Status",
          sortable: true,
          align: "center",
          value: "status",
        },
        {
          text: "Mode de commande",
          sortable: false,
          align: "center",
          value: "modeDelivery",
        },
        {
          text: "Email",
          sortable: false,
          align: "center",
          value: "email",
        },
        {
          text: "Total commande",
          sortable: true,
          width: 80,
          align: "center",
          value: "totalHt",
        },
        {
          text: "Commentaire",
          sortable: false,
          width: 260,
          align: "center",
          value: "comment",
        },
        {
          text: "Date",
          sortable: true,
          width: 180,
          align: "center",
          value: "createAt",
        },
        { text: "Actions", value: "actions", sortable: false, width: 110 },
      ],

      timer: "",
      dataChanged: [],
    };
  },

  fetch() {
    this.fetchOrders();
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.auth.user.store,
      user: (state) => state.auth.user,
    }),

    /** src() {
      return "~/assets/audio/notif-son.mp3";
    },**/
  },

  created() {
    const timeOut = 3 * 10000;
    this.timer = setInterval(this.fetchOrders, timeOut);
  },

  beforeUnmount() {
    this.cancelAutoUpdate();
  },

  methods: {
    cancelAutoUpdate() {
      clearInterval(this.timer);
    },

    fetchOrders() {
      const roles = this.user?.roles;

      if (roles.includes(ROLE_BACK)) {
        this.loading = true;
        axiosClient
          .get(`stores/${this.restaurant.uid}/orders`)
          .then(({ data }) => {
            data.sort((a, b) => {
              return new Date(b.createAt) - new Date(a.createAt);
            });

            this.loading = false;
            this.data = data;

            if (this.data.length > this.dataChanged.length) {
              if (this.dataChanged.length > 0) {
                const audio = this.$refs.notif;
                audio.play();
              }

              this.dataChanged = this.data;
            }
          });
      }
    },

    lastString(name) {
      return name.split(" ").pop();
    },

    translateModeDelivery(mode) {
      return MODE_DELIVERY_MAP[mode];
    },

    statusString(status) {
      if (!STATUS_MAP[status]) {
        return STATUS_MAP[STATUS_WAITING];
      }

      return STATUS_MAP[status];
    },

    isDisabled(item) {
      return [STATUS_SUCCEEDED, STATUS_CANCELED].includes(item.status);
    },

    transformPriceCurrency(price) {
      return transformPrice(price ?? 0);
    },

    changeStatusOrder(item, data) {
      this.$set(item, "status", data.order.status);
    },

    declined(item) {
      axiosClient
        .put(`orders/${item.id}/canceled`)
        .then(({ data }) => {
          this.changeStatusOrder(item, data);
          this.isDisabled(item);
          this.$toast.success(data.response);
        })
        .catch((e) => {
          this.$toast.warning(e);
          console.error(e);
        });
    },

    accepted(item) {
      axiosClient
        .put(`orders/${item.id}/validate`)
        .then(({ data }) => {
          this.changeStatusOrder(item, data);
          this.isDisabled(item);
          this.$toast.success(data.response);
        })
        .catch((e) => {
          this.$toast.warning(e.response.data);
          console.error(e);
        });
    },
  },
};
</script>
