<template>
  <div class="mb-6">
    <ValidationObserver v-slot="{ invalid }">
      <p class="title-information-back">Indiquez les jours d'ouvertures :</p>
      <hr />

      <FormDayWeek />

      <ValidationProvider v-slot="{ errors }">
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>
        <p class="title-information-back">Indiquez les frais de livraison:</p>
        <hr />

        <v-text-field
          v-model="deliveryCostData"
          label="Frais de livraison"
          type="number"
          outlined
          clearable
        />

        <v-text-field
          v-model="minimumOrderData"
          label="Minimum de commande"
          type="number"
          outlined
          clearable
        />
      </ValidationProvider>

      <ValidationProvider v-slot="{ errors }">
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>

        <p class="title-information-back">
          Selectionner les moyens de paiment:
        </p>
        <hr />

        <v-checkbox v-model="checkBoxCash" :label="paymentData[0].name" />
        <v-checkbox v-model="checkBoxTicket" :label="paymentData[1].name" />
        <v-checkbox v-model="checkboxCreditCard" :label="paymentData[2].name" />
      </ValidationProvider>
      <br />

      <BaseButton
        block
        :elevation="1"
        color="black"
        :loading="loading"
        :disabled="invalid"
        @click="send"
      >
        <template #name>
          <span class="btn-white">Enregistrer</span>
        </template>
      </BaseButton>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { mapState } from "vuex";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import { postConfigShopAccount } from "@/components/BackOffice/MyAccount/service/api-account";
import FormDayWeek from "@/components/BackOffice/MyAccount/components/formDayWeek/FormDayWeek";

export default {
  name: "FormAboutStore",
  components: {
    FormDayWeek,
    ValidationObserver,
    ValidationProvider,
    BaseButton,
  },

  data() {
    return {
      loading: false,
      paymentData: [
        {
          name: "Carte de credit",
          icon: "mdi-credit-card-outline",
          id: 0,
          type: "creditCard",
        },
        {
          name: "Espece",
          icon: "mdi-cash",
          id: 1,
          type: "cash",
        },
        {
          name: "Ticket restaurant",
          icon: "mdi-ticket-outline",
          id: 2,
          type: "ticket",
        },
      ],
    };
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.auth.user.store,
      cash: (state) => state.fetchDefaultData.shopConf.typePayment.cash,
      creditCard: (state) =>
        state.fetchDefaultData.shopConf.typePayment.creditCard,
      ticket: (state) => state.fetchDefaultData.shopConf.typePayment.ticket,
      deliveryCost: (state) =>
        state.fetchDefaultData.shopConf.detailCosts.deliveryCost,
      minimumOrder: (state) =>
        state.fetchDefaultData.shopConf.detailCosts.minimumOrder,
      schedules: (state) => state.fetchDefaultData.shopConf.schedule,
    }),

    checkBoxTicket: {
      get() {
        return this.ticket;
      },

      set(value) {
        this.$store.commit("fetchDefaultData/UPDATE_CHECKBOX_TYPE_TICKET", {
          value,
        });
      },
    },

    checkBoxCash: {
      get() {
        return this.cash;
      },

      set(value) {
        this.$store.commit("fetchDefaultData/UPDATE_CHECKBOX_TYPE_CASH", {
          value,
        });
      },
    },

    checkboxCreditCard: {
      get() {
        return this.creditCard;
      },

      set(value) {
        this.$store.commit(
          "fetchDefaultData/UPDATE_CHECKBOX_TYPE_CREDIT_CARD",
          {
            value,
          }
        );
      },
    },

    deliveryCostData: {
      get() {
        return this.deliveryCost;
      },

      set(value) {
        this.$store.commit("fetchDefaultData/UPDATE_FORM_DELIVERY_COST", {
          value,
        });
      },
    },

    minimumOrderData: {
      get() {
        return this.minimumOrder;
      },

      set(value) {
        this.$store.commit("fetchDefaultData/UPDATE_FORM_MINIMUM_ORDER", {
          value,
        });
      },
    },
  },

  methods: {
    async send() {
      this.loading = true;

      const schedules = this.schedules.data.map((item) => {
        return {
          close: this.convertDayTime(item.close),
          open: this.convertDayTime(item.open),
          id: item.id,
          schedule: item.schedule,
        };
      });

      await postConfigShopAccount({
        uid: this.restaurant.uid,
        deliveryCost: this.deliveryCost,
        minimumOrder: this.minimumOrder,
        dayWeek: schedules,
        ticket: this.ticket,
        creditCard: this.creditCard,
        cash: this.cash,
      }).then(({ data }) => {
        this.$toast.success(data.message);
        this.loading = false;
      });
    },

    /** convertTime(value) {
      return this.$moment(value, "HH:mm A").format("HH:mm");
    },**/

    convertDayTime(value) {
      return this.$moment(value, "HH:mm A").format("YY-MM-DD HH:mm:ss");
    },
  },
};
</script>
