<template>
  <div class="store-config">
    <div class="d-flex flex-row flex-wrap">
      <div class="container-image">
        <h4 class="text-center">Image de couverture :</h4>

        <FileUpload
          id="dropzone-cover"
          class="custom-drop-zone"
          :picture="pictureCover"
          :context="CONTEXT_IMAGE_COVER"
        />
      </div>

      <div class="container-image">
        <h4 class="text-center">Logo :</h4>

        <FileUpload
          id="dropzone-profile"
          class="custom-drop-zone"
          :picture="pictureProfile"
          :context="CONTEXT_IMAGE_PROFILE"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import FileUpload from "@/components/common/ui-components/FileUpload/FileUpload";
import {
  CONTEXT_IMAGE_COVER,
  CONTEXT_IMAGE_PROFILE,
} from "@/components/BackOffice/MenuConfigurator/Items/type-image";

export default {
  name: "RestaurantConfig",
  components: {
    FileUpload,
  },

  data() {
    return {
      CONTEXT_IMAGE_COVER,
      CONTEXT_IMAGE_PROFILE,
    };
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.auth.user.store,
    }),

    pictureCover() {
      return this.restaurant?.pictureCover;
    },

    pictureProfile() {
      return this.restaurant?.pictureProfile;
    },
  },

  methods: {},
};
</script>

<style scoped lang="scss">
.store-config {
  margin: 0 auto;

  .custom-drop-zone {
    color: inherit;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
  }
}
</style>
