<template>
  <v-btn
    :disabled="disabled"
    :text="text"
    :title="title"
    :loading="loading"
    :rounded="rounded"
    :block="block"
    :fab="fab"
    :width="width"
    :type="type"
    :dark="dark"
    :right="right"
    :btn-style="btnStyle"
    :left="left"
    :height="height"
    :color="color"
    :elevation="elevation"
    :class="btnClass"
    :icon="icon"
    :is-sticky="isSticky"
    :outlined="outlined"
    @click="$emit('click')"
  >
    <slot name="name"></slot>
  </v-btn>
</template>

<script>
export default {
  name: "BaseButton",
  props: {
    text: {
      type: Boolean,
    },

    rounded: {
      type: Boolean,
    },

    loading: {
      type: Boolean,
    },

    dark: {
      type: Boolean,
    },

    height: {
      type: Number,
      default: 40,
    },

    width: {
      type: Number,
      default: 200,
    },

    fab: {
      type: Boolean,
    },

    outlined: {
      type: Boolean,
    },

    elevation: {
      type: Number,
      default: 0,
    },

    block: {
      type: Boolean,
    },

    icon: {
      type: Boolean,
    },

    right: {
      type: Boolean,
    },

    left: {
      type: Boolean,
    },

    btnStyle: {
      type: String,
      default: undefined,
    },

    type: {
      type: String,
      default: "button",
    },

    title: {
      type: String,
      default: "",
    },

    color: {
      type: String,
      default: "black",
    },

    disabled: {
      type: Boolean,
    },

    isSticky: {
      type: Boolean,
    },
  },

  computed: {
    btnClass() {
      let style = ["mt-2 mb-2"];

      if (this.isSticky) {
        style += " sticky";
      }
      return `${style} ${this.btnStyle}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.v-btn {
  width: 100%;
  height: 2rem;
  color: #eeeeee;
  font-size: 0.8rem;
}

.sticky {
  position: fixed;
  bottom: 0;
  background-color: #000000;
  z-index: 999;
}
</style>
