.root {
  position: relative
}

.decoration {
  position: absolute;
  width: 1280px;
  height: 100%;
  @include left(-10px);
  top: 100px;
  svg {
    width: 100%;
    height: 1700px;
    @include use-theme(fill, $palette-primary-light, $palette-primary-dark);
    opacity: 0.2;
    transform: scale(1.3);
    @media only screen and (min-width: 1400px) {
      transform: scale(2.5, 1);
    }
    @include breakpoints-up(xl) {
      display: none
    }
    @include breakpoints-down(xs) {
      transform: scale(0.5);
      transform-origin: center left
    }
  }
}

.item {
  position: relative;
  min-height: 320px;
  margin-bottom: $spacing20;
  .desc {
    position: relative;
    z-index: 60
  }
  &.last {
    margin-bottom: $spacing10
  }
  @include breakpoints-down(md) {
    margin-bottom: $spacing15
  }
  @include breakpoints-down(sm) {
    text-align: center
  }
  h6 {
    margin-bottom: $spacing5
  }
  .parallax-wrap {
    .Masthead {
      overflow: visible;
      min-height: 80vh;
      @include breakpoints-down(xs) {
        min-height: 30vh
      }
    }
    @include breakpoints-up(md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @include breakpoints-down(sm) {
      margin: spacing(3, 0)
    }
    @include breakpoints-down(xs){
      margin: 0
    }
    .viewport  {
      perspective: 1000px
    }
  }
  .figure {
    transform-style: preserve-3d;
    overflow: hidden;
    @include shadow3;
    border-radius: $rounded-medium;
    background: $palette-common-white;
    padding: $spacing1;
    padding-top: $spacing3;
    margin: $spacing3;
    img {
      width: 100%
    }
  }
}

.screen {
  position: relative;
  img {
    width: 90%;
    display: block
  }
}
.graphic {
  position: relative;
  img {
    width: 90%;
    display: block
  }
}

.tabs {
  position: relative;
  z-index: 55;
  margin-top: $spacing5 * -1;
  .v-tabs-slider-wrapper .v-tabs-slider {
    background-color: $palette-primary-light !important
  }
  section {
    @include breakpoints-down(sm){
      margin: spacing(3, 0)
    }
  }
  .v-slide-group__prev.v-slide-group__prev--disabled {
    @include breakpoints-down(xs) {
      display: none !important
    }
  }
  .v-slide-group__wrapper {
    @include breakpoints-down(xs) {
      overflow: auto
    }
  }
}

.tab-content {
  position: relative;
  @include breakpoints-up(md) {
    padding: spacing(8, 4, 0)
  }
  section {
    position: relative;
    div {
      overflow: visible
    }
  }
}

.tab-label {
  font-size: 18px;
  font-weight: $font-medium;
  letter-spacing: 0;
  padding: spacing(0, 5);
  border-bottom: 1px solid;
  @include use-theme(border-color, $light-text-disabled,  $dark-text-disabled);
  @include breakpoints-down(xs) {
    font-size: 14px;
  }
  &.selected {
    @include use-theme(color, $palette-primary-main, $palette-primary-light)
  }
  .theme--dark & {
    color: $palette-primary-light
  }
}

.illustration-left {
  position: relative;
  z-index: 1;
  max-height: 600px;
  height: 100%;
  @include breakpoints-up(md) {
    top: -220px;
  }
  .screen {
    @include breakpoints-up(md) {
      margin-top: 212px;
      .v-application--is-ltr & {
        transform: rotateY(30deg)
      }
      .v-application--is-rtl & {
        transform: rotateY(-30deg)
      }
    }
  }
  .graphic {
    top: 200px;
    @include left(70px);
    width: 360px;
    @include breakpoints-up(md) {
      .v-application--is-ltr & {
        transform: rotateY( 30deg ) rotateX(-5deg) rotateZ(0deg)
      }
      .v-application--is-rtl & {
        transform: rotateY( -30deg ) rotateX(-5deg) rotateZ(0deg)
      }
    }
  }
}

.illustration-right {
  position: relative;
  z-index: 2;
  top: 0;
  @include breakpoints-up(md) {
    top: -220px;
  }
  .screen {
    @include breakpoints-up(md) {
      @include left(-20px);
      top: 120px;
      //margin-top: 400px;
      .v-application--is-ltr & {
        transform: rotateY(-30deg)
      }
      .v-application--is-rtl & {
        transform: rotateY(30deg)
      }
    }
  }
  .graphic {
    @include right(-60px);
    top: 400px;
    width: 400px;
    @media screen and (min-width: 1400px) {
      top: 200px;
    }
    @include breakpoints-up(md) {
      transform-style: preserve-3d;
      .v-application--is-ltr & {
        transform: rotateY(-19deg) rotateX(1deg) rotateZ(-2deg)
      }
      .v-application--is-rtl & {
        transform: rotateY(19deg) rotateX(1deg) rotateZ(-2deg)
      }
    }
  }
}

.illustration-center {
  perspective: 1000px;
  .figure.screen {
    display: block;
    text-align: center;
    max-width: 700px;
    margin: -50px auto 0;
    transform: rotateY( 0 ) rotateX(35deg) rotateZ(0deg);
    img {
      margin: 0 auto;
      width: 100%
    }
  }
}
