<template>
  <div class="root">
    <div class="decoration">
      <svg class="wave">
        <use xlink:href="~/assets/images/saas/deco-bg.svg#main" />
      </svg>
    </div>

    <v-container :class="{ fixed: isDesktop }">
      <div class="item">
        <v-row :class="[isMobile ? 'column-reverse' : 'row']">
          <v-col cols="12" md="6">
            <div class="illustration-left">
              <section class="parallax-wrap">
                <div class="viewport">
                  <figure class="figure screen">
                    <img
                      :src="require('assets/images/saas/feature_site_1.png')"
                      alt="screen"
                    />
                  </figure>
                </div>
              </section>
            </div>
          </v-col>
          <v-col md="6" cols="12">
            <div class="desc">
              <TheTitle :align="isMobile ? 'center' : 'left'">
                <span> Commande web </span>
              </TheTitle>
              <h6
                class="use-text-subtitle2"
                :class="[isMobile ? 'text-center' : 'text-left']"
              >
                Offrez à vos clients la possibilité d’accéder à votre menu et de
                passer commande depuis leur mobile, fluidifiez et accélérez le
                service en libérant vos serveurs de la prise de commande.
              </h6>
              <v-btn color="primary" large class="btn"> En savoir plus </v-btn>
            </div>
          </v-col>
        </v-row>
      </div>

      <div class="item">
        <v-row>
          <v-col md="6" cols="12">
            <div class="desc">
              <TheTitle :align="isMobile ? 'center' : 'right'">
                <span> Tableau de bord </span>
              </TheTitle>
              <h6
                class="use-text-subtitle2"
                :class="[isMobile ? 'text-center' : 'text-right']"
              >
                Gérez votre menu et les détails de votre restaurant à partir
                d’une seule interface. Grâce à notre interface de gestion des
                commandes en temps réel.
              </h6>
              <div :class="[isMobile ? 'text-center' : 'text-right']">
                <v-btn color="primary" large class="btn">
                  En savoir plus
                </v-btn>
              </div>
            </div>
          </v-col>
          <v-col md="6" cols="12">
            <div class="illustration-right">
              <section class="parallax-wrap">
                <div class="viewport">
                  <figure class="figure screen">
                    <img
                      :src="require('assets/images/saas/feature_site_2.png')"
                      alt="screen"
                    />
                  </figure>
                </div>
              </section>
            </div>
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
import TheTitle from "@/components/common/ui-components/Title/TheTitle";
export default {
  name: "Feature",
  components: { TheTitle },

  computed: {
    isMobile() {
      return this.$device.isMobile;
    },

    isDesktop() {
      return this.$device.isDesktop;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "feature-style";
</style>
