<template>
  <Fragment>
    <v-simple-table>
      <template #default>
        <thead>
          <tr>
            <th class="text-left">Id</th>
            <th class="text-left">Email</th>
            <th class="text-left">Nom du restaurant</th>
            <th class="text-left">Url</th>
            <th class="text-left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, index) in listUsers" :key="index">
            <td>
              <a @click="redirectToPageUserId(user.id)">
                {{ user.id }}
              </a>
            </td>
            <td>{{ user.user.email }}</td>
            <td>{{ user.name }}</td>
            <td>
              <a @click="linkTo(user)">
                {{ user.slug.name }}
              </a>
            </td>
            <td>
              <v-icon> mdi-dots-vertical</v-icon>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </Fragment>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "TableUsers",
  data() {
    return {};
  },

  computed: {
    ...mapState({
      users: (state) => state.fetchUser.users,
    }),

    listUsers() {
      return this.users;
    },
  },

  methods: {
    linkTo(restaurant) {
      this.$router.push(
        `/${restaurant.city}/${restaurant.category}/${restaurant.slug}`
      );
    },

    redirectToPageUserId(value) {
      this.$router.push({ name: "pageUserId", params: { id: value } });
    },
  },
};
</script>
