<template>
  <ContainerBackOffice>
    <Register />
  </ContainerBackOffice>
</template>

<script>
import Register from "@/components/AdminOffice/Register/Register.vue";
import ContainerBackOffice from "@/components/common/ui-components/ContainerBO/ContainerBackOffice";
import axiosClient from "~/components/common/utils/axiosClient";
export default {
  name: "Index",
  components: {
    ContainerBackOffice,
    Register,
  },

  middleware: ["auth"],

  fetch() {
    axiosClient.get(`categories`).then(({ data }) => {
      this.$store.commit("fetchUser/SET_TO_CATEGORIES", data["hydra:member"]);
    });
  },
};
</script>
