<template>
  <ModalDialogue
    :show-modal="showModalMenu"
    enable-cross
    fullscreen
    @close="closeModal"
  >
    <template #title>
      <div class="text-center ma-auto">
        <h4>
          {{ title }}
        </h4>

        <v-chip v-if="titleProduct" color="black" label outlined class="ma-2">
          <h2>{{ titleProduct }}</h2>
        </v-chip>
      </div>
    </template>

    <template #body>
      <FormCreateMenuConfiguratorOnly :context="context" @close="closeModal" />
    </template>
  </ModalDialogue>
</template>

<script>
import { mapActions } from "vuex";
import FormCreateMenuConfiguratorOnly from "@/components/BackOffice/MenuConfigurator/Form/CreateMenuConfigurator/FormCreateMenuConfiguratorOnly";
import ModalDialogue from "@/components/common/ui-components/ModalDialogue/ModalDialogue";
import {
  CREATE_PRODUCT_MENU,
  UPDATE_PRODUCT_MENU,
} from "@/components/BackOffice/MenuConfigurator/utils/const-menu-configurator";
import {
  CONTEXT_CREATE,
  CONTEXT_EDITION,
} from "@/components/BackOffice/MenuConfigurator/Form/CreateMenuConfigurator/context-menu-configurator";

export default {
  name: "ModalCreateEditMenuConfig",
  components: {
    FormCreateMenuConfiguratorOnly,
    ModalDialogue,
  },

  props: {
    context: {
      type: String,
      default: CONTEXT_CREATE,
      validator: (value) => {
        return [CONTEXT_CREATE, CONTEXT_EDITION].includes(value);
      },
    },

    showModalMenu: Boolean,

    itemMenu: {
      type: Object,
      default: undefined,
    },
  },

  computed: {
    title() {
      return this.itemMenu
        ? `${UPDATE_PRODUCT_MENU}`
        : `${CREATE_PRODUCT_MENU}`;
    },

    titleProduct() {
      return this.itemMenu ? `#${this.itemMenu.name}` : "";
    },
  },

  mounted() {
    this.fetchComplementGroupsFilterMenu();
  },

  methods: {
    ...mapActions({
      fetchComplementGroupsFilterMenu:
        "menuConfigurator/FETCH_COMPLEMENT_GROUPS_FILTER_MENU_CONFIGURATOR",
    }),

    closeModal() {
      this.$store.dispatch("menuConfigurator/CLEAR_FORM_ITEM_MENUS");
      this.$emit("update:showModalMenu", !this.showModalMenu);
    },
  },
};
</script>
