<template>
  <div id="navBar-menu">
    <v-navigation-drawer
      class="display-navbar-menu-admin"
      fixed
      mini-variant
      permanent
      dark
    >
      <v-list class="mt-6">
        <v-list-item class="px-2">
          <img
            :src="require('~/assets/images/imenus-logo.png')"
            alt="logo"
            width="90"
            class="ma-auto"
          />
        </v-list-item>

        <v-divider />

        <v-list nav dense>
          <v-list-item
            v-for="(item, index) in filterMenuByRole"
            :key="index"
            :to="item.link"
            class="mb-4"
            link
          >
            <v-list-item-icon>
              <v-icon class="white--text">mdi-{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="white--text">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item to="/login" link @click="$auth.logout()">
            <v-list-item-icon>
              <v-icon>mdi-lock</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="white--text">
                Se déconnecter
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { getMenuByRole } from "@/components/common/utils/helpers";
import URL_LINK_MAPS from "@/components/common/utils/link-router";

export default {
  name: "NavBarMenu",
  data() {
    return {
      items: URL_LINK_MAPS,
    };
  },

  computed: {
    filterMenuByRole() {
      return getMenuByRole(this.items, this.$auth?.user);
    },
  },
};
</script>

<style lang="scss">
#navBar-menu {
  margin-right: 2px;
  padding: 10px;

  a {
    color: #d6d4d4 !important;
  }
}
</style>
