<template>
  <v-container>
    <div class="d-flex flex-row">
      <div class="content">
        <p>
          Nom : <strong>{{ currentUser.firstName }}</strong>
        </p>
        Email: <strong>{{ currentUser.email }}</strong>
      </div>
      <div>
        Prénom: <strong>{{ currentUser.lastName }}</strong>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "CardInfoAccount",

  props: {
    currentUser: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {};
  },
};
</script>

<style scoped>
.content {
  width: 50%;
}
</style>
