<template>
  <Fragment>
    <div class="d-flex flex-wrap justify-space-between ma-3">
      <v-switch
        v-model="deliverySwitch"
        color="teal accent-4 ma-2"
        inset
        :label="`${deliverySwitch ? 'Activer' : 'Désactiver'} la Livraison`"
        @change="change"
      />

      <v-switch
        v-model="takeAwaySwitch"
        color="teal accent-4 ml-6"
        inset
        :label="`${takeAwaySwitch ? 'Activer' : 'Désactiver'} à emporter`"
        @change="changeTakeAway"
      />

      <v-switch
        v-model="inSiteSwitch"
        color="teal accent-4 ml-6"
        inset
        :label="`${inSiteSwitch ? 'Activer' : 'Désactiver'} sur place`"
        @change="changeInSite"
      />
    </div>

    <div class="d-flex flex-wrap justify-center mb-8">
      <v-text-field
        v-model.number="form.city"
        class="w-30 ma-2"
        label="Ville"
        outlined
        clearable
      />

      <v-text-field
        v-model.number="form.zipCode"
        class="w-30 ma-2"
        maxlength="5"
        label="Code postale"
        outlined
      />

      <BaseButton
        :loading="loading"
        color="black"
        class="btnDelivery"
        :disabled="form.city.length < 3 && form.zipCode.length !== 5"
        @click="send"
      >
        <template #name>
          <span class="btn-white">Ajouter</span>
        </template>
      </BaseButton>
    </div>

    <div class="d-flex flex-row-reverse">
      <v-btn color="red" @click="remove">
        <v-icon class="text-white" dark>mdi-delete</v-icon>
        <span class="btn-white">Supprimer les zones</span>
      </v-btn>
    </div>

    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="deliveries"
      item-key="name"
      show-select
      class="elevation-1 mt-8"
    >
      <template #[`item.createdAt`]="{ item }">
        {{ $moment(item.createdAt).format("Y-MM-DD H:mm:ss") }}
      </template>
    </v-data-table>
  </Fragment>
</template>

<script>
import { mapState } from "vuex";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton.vue";
import axiosClient from "@/components/common/utils/axiosClient";

export default {
  name: "DeliveryZone",
  components: { BaseButton },

  data() {
    return {
      deliveries: [],
      selected: [],
      deliverySwitch: false,
      takeAwaySwitch: false,
      inSiteSwitch: false,
      loading: false,
      form: {
        city: "",
        zipCode: "",
      },

      headers: [
        {
          text: "Ville",
          align: "start",
          value: "name",
        },
        { text: "Code postale", value: "zipCode" },
        { text: "Date de création", value: "createdAt" },
      ],
    };
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.auth.user.store,
    }),
  },

  watch: {},

  async mounted() {
    await this.fetchDeliveries();
    this.deliverySwitch = this.restaurant.actifDelivery;
    this.takeAwaySwitch = this.restaurant.actifTakeAway;
    this.inSiteSwitch = this.restaurant.actifInSite;
  },

  methods: {
    postSwitch({ key, value }) {
      axiosClient.put(`stores/${this.restaurant.uid}`, {
        [key]: value,
      });
    },

    change() {
      this.postSwitch({
        key: "actifDelivery",
        value: this.deliverySwitch,
      });
    },

    changeTakeAway() {
      this.postSwitch({
        key: "actifTakeAway",
        value: this.takeAwaySwitch,
      });
    },

    changeInSite() {
      this.postSwitch({
        key: "actifInSite",
        value: this.inSiteSwitch,
      });
    },

    async fetchDeliveries() {
      const { data } = await axiosClient.get("deliveries");
      if (data) {
        this.deliveries = data["hydra:member"];
      }
    },

    send() {
      axiosClient
        .post("deliveries", {
          name: this.form.city,
          zipCode: parseInt(this.form.zipCode),
          store: `/v1/api/stores/${this.restaurant.uid}`,
          createdAt: new Date(),
        })
        .then(({ data }) => {
          this.deliveries.push(data);
        });
    },

    remove() {
      const ids = this.selected.map((v) => v.id);
      axiosClient.post(`/deliveries/removes`, { ids }).then(() => {
        this.fetchDeliveries();
      });
    },
  },
};
</script>

<style lang="scss">
.btnDelivery {
  margin: 50px auto !important;
}

.btn-white {
  color: white;
  margin: 10px;
}

.text-white {
  color: white !important;
}
</style>
