<template>
  <v-container>
    <HeadingBack icon="account-box-outline"> Mon compte</HeadingBack>

    <div class="container-my-account">
      <div class="container-store-config">
        <RestaurantConfig class="mb-7" />
      </div>

      <div class="container-user-info flex-grow-1">
        <v-expansion-panels accordion>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Données personnelles
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <FormAccount :current-user="currentUser"></FormAccount>
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>
              Changer mot de passe
            </v-expansion-panel-header>

            <v-expansion-panel-content>
              <FormChangePassword />
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>
              Configuration des informations de votre restaurant
            </v-expansion-panel-header>

            <v-expansion-panel-content>
              <FormPhoneNumber class="mb-6" />
              <FormAboutStore class="mt-5" />
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>
              Configuration des zones de Livraisons
            </v-expansion-panel-header>

            <v-expansion-panel-content>
              <DeliveryZone />
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>
              Configuration du style global
            </v-expansion-panel-header>

            <v-expansion-panel-content>
              <v-row justify="space-around" align="center">
                <v-color-picker v-model="picker" mode="hexa" hide-inputs />
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-expansion-panel>
            <v-expansion-panel-header>
              <v-icon v-if="!restaurant.configShop" left> mdi-alert </v-icon>
              Configuration Stripe
            </v-expansion-panel-header>

            <v-expansion-panel-content>
              <FormStripeKey
                :shop-config="
                  restaurant.configShop ? restaurant.configShop : undefined
                "
              />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </div>
    <RestaurantConfigSwitch class="mt-7" />
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import HeadingBack from "../../common/ui-components/HeadingBack/HeadingBack";
import FormStripeKey from "./FormAccount/FormStripeKey";
import FormAccount from "@/components/BackOffice/MyAccount/CardInfoAccount.vue";
import FormChangePassword from "@/components/BackOffice/MyAccount/FormAccount/FormChangePassword";
import RestaurantConfig from "@/components/BackOffice/MyAccount/components/RestaurantConfig";
import FormAboutStore from "@/components/BackOffice/MyAccount/components/FormAboutStore";
import RestaurantConfigSwitch from "@/components/common/ui-components/RestaurantConfigSwitch";
import FormPhoneNumber from "@/components/common/ui-components/FormPhoneNumber";
import DeliveryZone from "@/components/BackOffice/MyAccount/DeliveryZone.vue";
import axiosClient from "@/components/common/utils/axiosClient";

export default {
  name: "MyAccount",
  components: {
    DeliveryZone,
    FormPhoneNumber,
    RestaurantConfigSwitch,
    FormStripeKey,
    HeadingBack,
    FormAccount,
    FormChangePassword,
    RestaurantConfig,
    FormAboutStore,
  },

  data() {
    return {};
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.auth.user.store,
      currentUser: (state) => state.fetchUser.currentUser,
    }),

    picker: {
      get() {
        return this.currentUser?.store.configShop?.colorBase;
      },

      set(value) {
        if (value) {
          axiosClient
            .put(`config_shops/${this.currentUser?.store.configShop.id}`, {
              colorBase: value.hex,
            })
            .catch((e) => this.$toast.error(e));
        }
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.container-my-account {
  width: 100%;
  margin-top: 15px;

  .container-store-config {
    width: 100%;
  }

  @media (max-width: 1199px) {
    .container-store-config {
      width: 100%;
    }

    .container-user-info {
      width: 100%;
    }
  }
}
</style>
