<template>
  <ModalDialogue
    id="nav-panel-wrapper"
    :show-modal="showModal"
    :enable-toolbar="false"
    enable-cross
    :max-width="changeWithByDevice"
    :fullscreen="IsMobile"
    scrollable
    hide-overlay
  >
    <template #body>
      <div v-if="isBackUser" class="mb-12 d-flex flex-wrap">
        <div class="header-avatar">
          <BaseImage :src="pictureProfile"></BaseImage>
        </div>

        <div class="header-restaurant-name">
          <p class="font-size-1 font-weight-bold">Mon compte</p>
          <p class="font-size-2">{{ nameRestaurant }}</p>
        </div>
      </div>
      <template v-if="isBackUser">
        <BaseButton outlined block @click="redirectAccountManagement">
          <template #name>
            <v-icon left> mdi-account</v-icon>
            Mon compte
          </template>
        </BaseButton>

        <BaseButton outlined block @click="redirectMenuManagement">
          <template #name>
            <v-icon left> mdi-food</v-icon>
            Gestion des plats
          </template>
        </BaseButton>
      </template>

      <BaseButton v-if="!isLogged" block @click="redirectLogin">
        <template #name> Se connecter</template>
      </BaseButton>
    </template>

    <template #action>
      <BaseButton v-if="isLogged" block @click="logout">
        <template #name>Déconnexion</template>
      </BaseButton>
    </template>
  </ModalDialogue>
</template>

<script>
import { mapState } from "vuex";
import ModalDialogue from "../common/ui-components/ModalDialogue/ModalDialogue";
import BaseButton from "../common/ui-components/BaseButton/BaseButton";
import { ListUrls } from "@/router/routeName";
import BaseImage from "@/components/common/ui-components/BaseImage";
import { ROLE_BACK } from "@/components/common/utils/const-roles";
import modalState from "@/mixins/modalState";
import closeEvent from "@/mixins/closeEvent";

export default {
  name: "ModalMenuHamburger",
  components: {
    BaseImage,
    BaseButton,
    ModalDialogue,
  },

  mixins: [modalState, closeEvent],
  computed: {
    ...mapState({
      user: (state) => state.fetchUser.currentUser,
      restaurant: (state) => state.fetchDefaultData.restaurant,
    }),

    changeWithByDevice() {
      return this.$device.isMobileOrTablet ? 800 : 500;
    },

    IsMobile() {
      return this.$device.isMobileOrTablet;
    },

    isLogged() {
      return this.$auth.loggedIn;
    },

    pictureProfile() {
      return this.isLogged ? this.restaurant?.picture?.profile?.name : "";
    },

    nameRestaurant() {
      return this.restaurant.name.toUpperCase();
    },

    isBackUser() {
      return this.isLogged && this.user?.role[0] === ROLE_BACK;
    },
  },

  methods: {
    logout() {
      this.close();
      this.$auth.logout();
    },

    redirectMenuManagement() {
      this.close();
      this.$router.push(ListUrls.MENU_CONFIGURATOR);
    },

    // redirectOrderManagement() {
    //   this.$refs.modal_menu.modalHide();
    //   this.$router.push(ListUrls.MENU_CONFIGURATOR);
    // },

    redirectAccountManagement() {
      if (this.isBackUser) {
        this.close();
        this.$router.push(ListUrls.MY_ACCOUNT);
      } else {
        this.close();
        this.$router.push(ListUrls.BACKOFFICE);
      }
    },

    redirectLogin() {
      this.close();
      this.$router.push(ListUrls.LOGIN);
    },
  },
};
</script>
