<template>
  <HeaderMain />
</template>

<script>
import HeaderMain from "@/components/TheHeader/Header/HeaderMain";
export default {
  name: "TheHeader",
  components: {
    HeaderMain,
  },
};
</script>
