<template>
  <Checkout />
</template>

<script>
import Checkout from "@/components/checkout/checkout";
export default {
  name: "OrderConfirm",

  components: { Checkout },

  middleware: ["checkout"],

  head() {
    return {
      script: [{ src: "https://js.stripe.com/v3/" }],
    };
  },
};
</script>
