<template>
  <Fragment>
    <SeoForm
      v-for="(value, index) in seoValues"
      :key="index"
      :content-seo="value"
      :index="index"
    />

    <BaseButton block @click="handleClick">
      <template #name> save </template>
    </BaseButton>
  </Fragment>
</template>

<script>
import { mapActions, mapState } from "vuex";
import SeoForm from "@/components/AdminOffice/ManageSeo/SeoForm";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
export default {
  name: "SeoContainer",
  components: { BaseButton, SeoForm },
  data() {
    return {};
  },

  computed: {
    ...mapState({
      inputValues: (state) => state.seo.inputValues,
    }),

    seoValues() {
      return this.inputValues.data;
    },
  },

  methods: {
    ...mapActions({
      createSeo: "seo/createSeo",
    }),

    handleClick() {
      this.createSeo({
        value: this.inputValues,
        id: this.$route.params.id,
      });
    },
  },
};
</script>

<!-- <style scoped></style> -->
