<template>
  <Fragment>
    <v-text-field
      v-model="inputValue"
      :label="keyToObject"
      class="pa-5"
      outlined
      clearable
    />
  </Fragment>
</template>

<script>
export default {
  name: "SeoForm",
  props: {
    contentSeo: {
      type: Object,
      required: true,
    },

    index: {
      type: Number,
      required: true,
    },
  },

  computed: {
    inputValue: {
      get() {
        return this.contentSeo[this.keyToObject];
      },

      set(value) {
        this.$store.commit("seo/UPDATE_FORM_SEO", {
          value,
          key: this.keyToObject,
          index: this.index,
        });
      },
    },

    keyToObject() {
      return Object.keys(this.contentSeo)[0];
    },
  },
};
</script>

<!-- <style scoped></style> -->
