<template>
  <div id="container-print">
    <div class="filter d-flex flex-row-reverse mr-10">
      <div class="mr-5">
        <v-icon>mdi-refresh</v-icon>
        <v-icon>mdi-apps</v-icon>

        <v-select
          v-model="filtered"
          :items="filters"
          label="Filtrer par catégorie"
          item-text="name"
          outlined
          clearable
        />
      </div>

      <div class="mr-5">
        <span>
          Trier par:
          <v-select
            v-model="filtered"
            :items="filters"
            label="Trier par pertinence"
            item-text="name"
            outlined
            clearable
          />
        </span>
      </div>
    </div>

    <v-alert v-if="user.orderWaiting" outlined icon="mdi-alert" type="warning">
      <div class="title">Commande en attente</div>
      <div>
        Vous avez un une commande <strong>en Attente</strong>, cliquer sur ce
        lien pour la finaliser ou l'annuler.
      </div>

      <div class="d-flex">
        <div class="pa-6">
          Commande N° <strong>{{ user.orderWaiting.reference }}</strong>
        </div>

        <div class="pa-6 ml-16">
          <v-btn class="white--text" color="teal" to="/order/meal-confirm/">
            Finaliser ma commande
          </v-btn>
        </div>
      </div>
    </v-alert>

    <template v-for="(item, index) in items">
      <div :key="`${index}-print-item`" class="container-item d-flex flex-row">
        <div class="container-title-category">
          <span class="title-category">{{ item.name }}</span>
        </div>

        <div class="d-flex flex-wrap flex-row">
          <v-card
            v-for="(print, indexChild) in item.children"
            :key="indexChild"
            :loading="loading"
            :disabled="!!user.orderWaiting"
            max-width="300"
            class="ma-3 mb-12 mx-auto"
          >
            <v-img height="150" :src="item.image" />

            <v-card-title class="title-item">{{ print.name }}</v-card-title>
            <v-card-subtitle class="title-item">
              {{ print.finished_size }}
            </v-card-subtitle>

            <v-card-text class="text-center">
              <span>A partir de</span>
              <p class="print-price">{{ priceTotal(print.price) }} HT</p>
              <span class="print-price-promote-1">
                {{ priceTotalPromote1(print.price) }}
              </span>
              <span class="print-price-promote-2">
                {{ priceTotalPromote2(print.price) }}
              </span>
            </v-card-text>

            <v-divider class="mx-4"></v-divider>

            <v-card-actions>
              <BaseButton class="mx-auto">
                <template #name>
                  <span class="btn-white" @click="handleModal(print)">
                    Commander
                  </span>
                </template>
              </BaseButton>
            </v-card-actions>
          </v-card>
        </div>
      </div>
    </template>

    <!-- MODAL -->
    <ModalDialogue :show-modal="showModal" @close="close">
      <template #body>
        <FormPrint :item="currentPrint"></FormPrint>
      </template>

      <template #btn-save> IMPRIMER </template>
      <template #title> CONFIGURER ET IMPRIMER </template>
    </ModalDialogue>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ModalDialogue from "../../../common/ui-components/ModalDialogue/ModalDialogue";
import FormPrint from "../Form/FormPrint";
import {
  generatePrintPrice,
  transformPrice,
} from "@/components/common/utils/helpers";
import modalSate from "@/mixins/modalState";
import closeEvent from "@/mixins/closeEvent";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton.vue";

export default {
  name: "ItemsPrint",
  components: { BaseButton, FormPrint, ModalDialogue },
  mixins: [modalSate, closeEvent],
  data() {
    return {
      currentPrint: null,
      loading: false,
      filtered: "",
      filters: [],
      items: [
        {
          name: "Flyer",
          image:
            "https://e7.pngegg.com/pngimages/101/923/png-clipart-flyer-paper-printing-advertising-business-cards-flyer-brochure-poster-flyer-thumbnail.png",

          children: [
            {
              name: "Flyer Standards",
              price: 38.95,
              pricePromote1: 0,
              pricePromote2: 0,
              print_run: 1000,
              finished_size: "A6 (105x148 mm) portrait",
            },
            {
              name: "Flyer",
              image:
                "https://e7.pngegg.com/pngimages/772/589/png-clipart-product-design-brand-business-cards-business-card-business-cards-brand.png",

              price: 30.91,
              print_run: 1000,
              finished_size: "A6 (105x148 mm) portrait",
            },
            {
              name: "Flyer",
              image:
                "https://e7.pngegg.com/pngimages/772/589/png-clipart-product-design-brand-business-cards-business-card-business-cards-brand.png",

              price: 30.91,
              print_run: 1000,
              finished_size: "A6 (105x148 mm) portrait",
            },
            {
              name: "Flyer",
              image:
                "https://e7.pngegg.com/pngimages/772/589/png-clipart-product-design-brand-business-cards-business-card-business-cards-brand.png",

              price: 30.91,
              print_run: 1000,
              finished_size: "A6 (105x148 mm) portrait",
            },
            {
              name: "Flyer",
              image:
                "https://e7.pngegg.com/pngimages/772/589/png-clipart-product-design-brand-business-cards-business-card-business-cards-brand.png",

              price: 30.91,
              print_run: 1000,
              finished_size: "A6 (105x148 mm) portrait",
            },
            {
              name: "Flyer",
              image:
                "https://e7.pngegg.com/pngimages/772/589/png-clipart-product-design-brand-business-cards-business-card-business-cards-brand.png",

              price: 30.91,
              print_run: 1000,
              finished_size: "A6 (105x148 mm) portrait",
            },
          ],
        },
        {
          name: "Carte de visite",
          image:
            "https://e7.pngegg.com/pngimages/772/589/png-clipart-product-design-brand-business-cards-business-card-business-cards-brand.png",

          children: [
            {
              name: "Carte de visite Standards",
              price: 29.93,
              print_run: 500,
              finished_size: "85 x 55 mm horizontal",
            },
          ],
        },
      ],
    };
  },

  computed: {
    ...mapGetters({
      user: "fetchUser/getUser",
    }),
  },

  methods: {
    priceTotal(price) {
      return this.transformPrice(price);
    },

    priceTotalPromote1(price) {
      const promote = 5;
      return this.transformPrice(price, promote);
    },

    priceTotalPromote2(price) {
      const promote = 10;
      return this.transformPrice(price, promote);
    },

    transformPrice(item, promote) {
      const price = this.generatePrice(item, promote);
      return transformPrice(price);
    },

    generatePrice(item, percentage = null) {
      return generatePrintPrice(item, percentage);
    },

    handleModal(print) {
      this.currentPrint = print;
      this.close();
    },
  },
};
</script>

<style lang="scss" scoped>
#container-print {
  .container-item {
    width: 100%;
    margin-bottom: 70px;

    .filter {
      width: 100%;
    }

    .container-title-category {
      border: 0.1px solid orange;
      line-height: 0;
      text-align: center;
      margin: 20px;
      writing-mode: vertical-rl;
      text-orientation: mixed;

      span.title-category {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.3rem;
        color: orange;
        background: #f5f5f5;
        padding: 10px 20px;
      }
    }

    .print-run {
      font-weight: 800;
    }

    .title-item {
      font-weight: 600;
    }

    .print-price {
      font-size: 30px;
      font-weight: 800;
      color: orange;
    }

    .print-price-promote-1 {
      font-size: 20px;
      font-weight: 800;
      color: #1976d2;
      text-decoration: line-through;
    }

    .print-price-promote-2 {
      font-size: 20px;
      font-weight: 800;
      color: #00bfa5;
      text-decoration: line-through;
    }
  }
}
</style>
