<template>
  <v-dialog
    v-if="dialogDelete"
    v-model="dialogDelete"
    transition="dialog-top-transition"
    max-width="600"
  >
    <template #activator="{ on, attrs }">
      <v-btn color="red" v-bind="attrs" icon v-on="on">
        <v-icon> mdi-delete</v-icon>
      </v-btn>
    </template>

    <v-card>
      <v-toolbar dark>
        <slot name="title"></slot>
      </v-toolbar>

      <v-card-text>
        <div class="text-h6 pa-12">
          <slot name="content"></slot>
        </div>
      </v-card-text>

      <v-card-actions class="justify-end">
        <v-btn class="ma-1" color="error" @click="$emit('click')">
          Supprimer
        </v-btn>

        <v-btn text @click="$emit('update:dialogDelete', !dialogDelete)">
          Fermer
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ModalDialogueDelete",
  props: {
    dialogDelete: Boolean,
  },
};
</script>
