<template>
  <v-dialog
    v-if="showModal"
    v-model="showModal"
    :fullscreen="fullscreen"
    :hide-overlay="hideOverlay"
    :scrollable="scrollable"
    :persistent="persistent"
    :width="maxWidth"
    class="z-index"
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-toolbar v-if="enableToolbar" dark class="mb-3">
        <v-btn class="white--text" icon @click="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>

        <v-toolbar-title>
          <slot name="title"></slot>
        </v-toolbar-title>
      </v-toolbar>

      <template v-else>
        <v-btn v-if="enableCross" icon left class="pa-5 ma-2" @click="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>

        <v-card-title v-if="showImage">
          <slot name="image"></slot>
        </v-card-title>

        <v-card-title>
          <slot name="title"></slot>
        </v-card-title>

        <v-card-subtitle class="ma-1">
          <slot name="description"></slot>
        </v-card-subtitle>
        <v-divider></v-divider>
      </template>

      <v-card-text>
        <slot name="body" :style="{ height: `${300}px` }"></slot>
      </v-card-text>

      <v-card-actions>
        <slot name="action"></slot>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import modalSate from "@/mixins/modalState";

export default {
  name: "ModalDialogue",

  mixins: [modalSate],
  props: {
    fullscreen: Boolean,

    enableToolbar: Boolean,

    enableCross: Boolean,

    persistent: Boolean,

    hideOverlay: Boolean,

    scrollable: Boolean,

    showImage: Boolean,

    maxWidth: {
      type: Number,
      default: undefined,
    },
  },

  methods: {
    close() {
      this.$emit("close");
      this.$store.commit("menuConfigurator/SET_ERROR", false);
    },
  },
};
</script>

<style lang="scss" scoped>
html {
  overflow-y: hidden;
}
.z-index {
  z-index: 1099;
}
</style>
