<template>
  <div class="bg">
    <v-container>
      <v-row justify="end">
        <v-col cols="12" sm="10" md="8" lg="6">
          <v-card ref="form">
            <v-card-title>
              <b>Lancez-vous</b>
            </v-card-title>

            <v-card-text>
              <v-text-field
                ref="name"
                v-model="name"
                outlined
                :rules="[() => !!name || FIELD_REQUIRED]"
                :error-messages="errorMessages"
                label="Nom de l'établissement *"
                placeholder="Exemple: American sandwich"
                required
              />

              <v-text-field
                ref="address"
                v-model="address"
                outlined
                :rules="[
                  () => !!address || FIELD_REQUIRED,
                  () =>
                    (!!address && address.length <= 25) ||
                    'Address must be less than 25 characters',
                  addressCheck,
                ]"
                label="Adresse de l'établissement *"
                required
              />

              <div class="d-flex flex-wrap">
                <v-text-field
                  ref="city"
                  v-model="city"
                  outlined
                  class="mr-2"
                  :rules="[() => !!city || FIELD_REQUIRED, addressCheck]"
                  label="Ville"
                  placeholder=""
                  required
                />

                <v-text-field
                  ref="zip"
                  v-model="zip"
                  outlined
                  :rules="[() => !!zip || FIELD_REQUIRED]"
                  label="Code postale"
                  required
                  placeholder="79938"
                />
              </div>

              <div class="d-flex flex-wrap">
                <v-text-field
                  ref="firstName"
                  v-model="firstName"
                  outlined
                  class="mr-2"
                  :rules="[() => !!firstName || FIELD_REQUIRED]"
                  label="Prénom *"
                  required
                />

                <v-text-field
                  ref="lastName"
                  v-model="lastName"
                  outlined
                  :rules="[() => !!lastName || FIELD_REQUIRED]"
                  label="Nom de famille *"
                  required
                />
              </div>

              <v-text-field
                ref="email"
                v-model="email"
                outlined
                type="email"
                :rules="[() => !!email || FIELD_REQUIRED]"
                label="Email *"
                required
              />

              <VuePhoneNumberInput
                v-model="phoneNumber"
                :translations="translations"
                size="lg"
                :rules="[() => !!phoneNumber || FIELD_REQUIRED]"
                required
                class="mb-5"
                clearable
              />
            </v-card-text>

            <v-card-actions class="ma-5">
              <v-slide-x-reverse-transition>
                <v-tooltip v-if="formHasErrors" left>
                  <template #activator="{ on, attrs }">
                    <v-btn
                      icon
                      class="my-0"
                      v-bind="attrs"
                      @click="resetForm"
                      v-on="on"
                    >
                      <v-icon>mdi-refresh</v-icon>
                    </v-btn>
                  </template>
                  <span>Refresh form</span>
                </v-tooltip>
              </v-slide-x-reverse-transition>

              <BaseButton block color="black" @click="submit">
                <template #name>
                  <span class="btn-white">ENVOYER</span>
                </template>
              </BaseButton>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import VuePhoneNumberInput from "vue-phone-number-input";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton.vue";
const FIELD_REQUIRED = "Ce champs est obligatoire";
export default {
  name: "Index",
  components: {
    VuePhoneNumberInput,
    BaseButton,
  },

  data: () => ({
    FIELD_REQUIRED,
    errorMessages: "",
    name: null,
    address: null,
    lastName: null,
    firstName: null,
    city: null,
    email: null,
    zip: null,
    formHasErrors: false,
    phoneNumber: "",
    translations: {
      countrySelectorLabel: "Code pays",
      countrySelectorError: "Choisir un pays",
      phoneNumberLabel: "Numéro de téléphone",
      example: "Exemple :",
    },
  }),

  computed: {
    form() {
      return {
        name: this.name,
        address: this.address,
        lastName: this.lastName,
        firstName: this.firstName,
        city: this.city,
        email: this.email,
        zip: this.zip,
        phoneNumber: this.phoneNumber,
      };
    },
  },

  watch: {
    name() {
      this.errorMessages = "";
    },
  },

  methods: {
    addressCheck() {
      this.errorMessages = this.address && !this.name ? `Obligatoire` : "";

      return true;
    },

    resetForm() {
      this.errorMessages = [];
      this.formHasErrors = false;

      Object.keys(this.form).forEach((f) => {
        if (this.form[f] && f !== "phoneNumber") {
          this.$refs[f].reset();
        }
      });
    },

    submit() {
      this.formHasErrors = false;

      Object.keys(this.form).forEach((f) => {
        if (!this.form[f]) this.formHasErrors = true;

        if (this.form[f] && f !== "phoneNumber") {
          this.$refs[f].validate(true);
        }
      });
    },
  },
};
</script>

<style>
.bg {
  margin-top: 4.5rem;
  background-position-y: bottom;
  background-size: cover;
  width: 100vw;
  background-image: url("~/assets/images/bg.jpg");
}
</style>
