<template>
  <v-alert
    v-model="alert"
    :custom-class="customClass"
    :dismissible="dismissible"
    :color="color"
    :type="type"
    :class="addClass"
    border="left"
    elevation="2"
    outlined
    prominent
    :icon="iconName"
  >
    <h3>
      <slot name="title"></slot>
    </h3>

    <slot name="body"></slot>
  </v-alert>
</template>

<script>
export default {
  name: "BaseAlertMessage",
  props: {
    iconName: {
      type: String,
    },

    customClass: {
      type: String,
      default: "",
    },

    dismissible: {
      type: Boolean,
    },

    type: {
      type: String,
      required: true,
    },

    color: {
      type: String,
    },
  },

  data() {
    return {
      alert: true,
    };
  },

  computed: {
    addClass() {
      return this.customClass || "";
    },
  },
};
</script>

<style lang="scss" scoped>
.notice_error {
  width: 60%;
  margin: 29px auto;
}
</style>
