<template>
  <v-container id="container-order-details" class="card">
    <OrderSuccessOrFailure v-if="display" />

    <FormPayment
      v-else-if="accessPayment"
      :form="form"
      @display-succeeded-message="display = true"
      @hide="accessPayment = false"
    />

    <template v-else class="ma-5">
      <BaseButton class="mb-5 mt-8" @click="redirect">
        <template #name>
          <v-icon small left> mdi-arrow-left</v-icon>
          retour
        </template>
      </BaseButton>

      <MapPlace v-if="hasCookieStoreName" />

      <ValidationObserver v-slot="{ invalid }">
        <v-row>
          <v-col class="order-details" cols="12" md="8" sm="12" xs="12">
            <v-card class="pa-6">
              <div>
                <h3 class="pb-4">{{ restaurantName }}</h3>
              </div>

              <div class="mb-4">
                <ListCart />
                <hr />
              </div>

              <div>
                <h4 class="text-center">Mode de Livraison</h4>
                <DeliveryButton @address="(value) => getAddress(value)" />
              </div>

              <hr class="mb-3" />

              <div class="information-order">
                <h4 class="text-center mb-3">Informations générales</h4>
                <ValidationProvider v-slot="{ errors }" rules="required|email">
                  <span class="is-invalid">
                    {{ errors[0] }}
                  </span>

                  <v-text-field
                    v-model="form.email"
                    prepend-inner-icon="mdi-email-outline"
                    type="email"
                    :disabled="!hasCartContain || totalPriceCharge === 0"
                    label="Email pour recevoir la confirmation de commande"
                    outlined
                    clearable
                  />
                </ValidationProvider>

                <ValidationProvider v-slot="{ errors }" rules="required|min:14">
                  <span
                    v-show="errors.length > 0"
                    class="is-invalid text-center"
                  >
                    {{ errors[0] }}
                  </span>

                  <VuePhoneNumberInput
                    v-model="form.phone"
                    clearable
                    size="lg"
                    maxlength="14"
                    :translations="translations"
                    required
                    max="14"
                    :only-countries="['FR']"
                    default-country-code="FR"
                    :preferred-countries="['FR']"
                    :disabled="!hasCartContain || totalPriceCharge === 0"
                    label="Numéro de téléphone"
                  />
                </ValidationProvider>
              </div>

              <div class="mt-5">
                <v-textarea
                  v-model="form.comment"
                  outlined
                  counter
                  placeholder="Ajouter moi de la sauce..."
                  :rules="rules"
                  :disabled="!hasCartContain || totalPriceCharge === 0"
                  name="input-7-4"
                  maxlength="100"
                  label="Ajoutez un commentaire à l’intention de l'établissement."
                />
                <hr />
              </div>

              <div class="mt-4">
                <h4 class="text-center mb-3">Mode de paiement</h4>

                <SelectPayment />
              </div>
            </v-card>
          </v-col>

          <v-col cols="12" sm="12" xs="12" md="4" class="card">
            <v-card class="pa-6">
              <div class="container-details-price">
                <hr />

                <ul>
                  <li class="details-price d-flex justify-space-between">
                    <span class="title-price">Sous-totals</span>
                    <span>{{ formattedTotalPrice }}</span>
                  </li>

                  <!--
                    <li class="details-price d-flex justify-space-between">
                    <span class="title-price">Frais</span>
                    <span>{{ chargeService }}</span>
                    </li>
                  -->

                  <li class="details-price d-flex justify-space-between">
                    <span class="title-price">Livraison</span>
                    <span>{{ delivery }}</span>
                  </li>
                </ul>

                <hr />
              </div>

              <div class="price-total d-flex justify-space-between">
                <span>Total: </span>
                <span class="price">{{ formattedTotalPriceCharge }}</span>
              </div>

              <BaseButton
                :disabled="
                  isDisable || invalid || !hasCartContain || isDeliveryDisabled
                "
                :loading="loading"
                block
                @click="modalPayment"
              >
                <template #name>COMMANDER</template>
              </BaseButton>
            </v-card>
          </v-col>
        </v-row>
      </ValidationObserver>
    </template>
  </v-container>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import { ValidationObserver, ValidationProvider } from "vee-validate";
import VuePhoneNumberInput from "vue-phone-number-input";
import ListCart from "../RestaurantMenu/components/RestaurantMenuBasket/ListCart/ListCart.vue";
import { transformPrice } from "../common/utils/helpers";
import BaseButton from "../common/ui-components/BaseButton/BaseButton.vue";
import OrderSuccessOrFailure from "../common/ui-components/OrderRedirection/OrderSuccessOrFailure.vue";
import MapPlace from "../../components/common/ui-components/MapsPlace/MapPlace";
import FormPayment from "@/components/common/ui-components/paymentStripe/formPayment.vue";
import DeliveryButton from "@/components/RestaurantMenu/components/RestaurantMenuItem/DeliveryButton/DeliveryButton.vue";
import SelectPayment from "@/components/checkout/SelectPayment.vue";
import paymentMixins from "@/mixins/paymentMixins";

export default {
  name: "Checkout",
  components: {
    SelectPayment,
    DeliveryButton,
    FormPayment,
    MapPlace,
    BaseButton,
    OrderSuccessOrFailure,
    ListCart,
    ValidationObserver,
    ValidationProvider,
    VuePhoneNumberInput,
  },

  mixins: [paymentMixins],

  data() {
    return {
      form: {
        comment: "",
        email: "",
        phone: "",
        address: "",
      },

      loading: false,

      display: false,

      // address: undefined,
      // codePromo: undefined,
      isSticky: true,
      accessPayment: false,
      rules: [(v) => v.length <= 100 || "Max 100 caractères"],
      translations: {
        countrySelectorLabel: "Code pays",
        countrySelectorError: "Choisir un pays",
        phoneNumberLabel: "Numéro de téléphone",
        example: "Exemple :",
      },
    };
  },

  computed: {
    ...mapState({
      charge: (state) => state.checkout.charge,
      deliveryPrice: (state) => state.checkout.deliveryPrice,
      fields: (state) => state.checkout.fields,
      totalPriceCharge: (state) => state.checkout.totalPriceCharge,
    }),

    ...mapGetters({
      restaurant: "fetchDefaultData/getRestaurant",
      cart: "checkout/getCart",
      totalPrice: "checkout/getTotalPrice",
      hasPaymentStatus: "checkout/hasPaymentStatus",
    }),

    isDeliveryDisabled() {
      return (
        (!this.$cookies.get("im.driving_mode") &&
          (!this.cart.isShopStore || !this.cart.isBooking) &&
          !this.form.address) ||
        this.totalPriceCharge === 0
      );
    },

    isDisable() {
      return (
        !this.$cookies.get("im.eshop") && this.$cookies.get("im.eshop") === true
      );
    },

    hasCartContain() {
      return this.cart && this.cart?.orders?.length;
    },

    hasCookieStoreName() {
      return this.$cookies.get("im.restaurant_name")?.name;
    },

    formattedTotalPrice() {
      return transformPrice(this.totalPrice);
    },

    formattedTotalPriceCharge() {
      return transformPrice(this.totalPriceCharge);
    },

    delivery() {
      return transformPrice(this.deliveryPrice);
    },

    restaurantName() {
      return this.$cookies.get("im.restaurant_name")?.name?.toUpperCase();
    },

    /** changeWithByDevice() {
      return this.$device.isMobileOrTablet ? 800 : 470;
    },**/
  },

  mounted() {
    this.display = false;
    window.addEventListener("scroll", this.handleScroll);
  },

  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },

  methods: {
    getAddress(value) {
      this.form.address = value || "";
    },

    modalPayment() {
      if (this.cart?.isBooking) {
        this.paymentProduct({
          storeUid: this.$cookies.get("im.restaurant_name").uuid,
        });

        this.$on("display-succeeded-message", () => (this.display = true));
        return;
      }

      if (!this.hasCartContain) {
        return false;
      }

      this.accessPayment = true;
    },

    handleScroll() {
      const btnElement = document.getElementById("btn-payment");
      this.isSticky =
        this.$device.isMobile && window.scrollY > btnElement.offsetTop;
    },

    /** redirectToStore() {
      return this.$router.push(
        `/${this.restaurant.city}/${this.restaurant.category}/${this.restaurant.slug}`
      );
    },**/

    redirect() {
      const cookieRestaurant = this.$cookies.get("im.restaurant");

      if (
        !cookieRestaurant ||
        !cookieRestaurant?.city ||
        !cookieRestaurant?.category?.name ||
        !cookieRestaurant?.slug?.name
      ) {
        this.display = false;
        return this.$router.push("/");
      }

      this.$router.push(
        `/${
          cookieRestaurant.city
        }/${cookieRestaurant.category.name.toLowerCase()}/${
          cookieRestaurant.slug.name
        }`
      );

      this.display = false;
    },
  },
};
</script>

<style lang="scss" scoped>
#container-order-details {
  width: 100%;
  margin-top: 100px;

  .container-details-price {
    //margin: 5px;
    width: 100%;

    ul {
      padding: 0;
    }
  }

  .v-icon {
    font-size: 3em;
  }

  .price {
    font-weight: 500;
  }

  .details-price {
    list-style: none;
  }

  .title-price {
    font-size: 18px;
    margin: 10px;
  }

  .price-total {
    margin-top: 4rem;
  }
}
</style>
