<template>
  <div>
    <v-autocomplete
      v-model="delivery"
      :items="items"
      :loading="isLoading"
      :search-input.sync="search"
      item-text="name"
      :filter="customFilter"
      hide-selected
      outlined
      hide-no-data
      dense
      clearable
      return-object
      label="Saisissez votre code postal ou votre ville"
    />

    <template v-if="delivery">
      <v-text-field
        v-model="fieldAddress"
        prepend-inner-icon="mdi-map"
        label="Indiquer votre adresse"
        outlined
        clearable
      />

      <v-select
        v-if="isAvailableDelivery"
        v-model="hour"
        :items="hoursAvailable"
        label="Séletionnez l'heure de livraison"
        outlined
      />

      <BaseAlertMessage v-else type="error">
        <template #body>La livraison n'est pas disponible</template>
      </BaseAlertMessage>
    </template>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import moment from "moment";
import axiosClient from "@/components/common/utils/axiosClient";
import { WEEK_MAP } from "@/components/BackOffice/MyAccount/service/const-time-open";
import BaseAlertMessage from "@/components/common/ui-components/BaseAlertMessage/BaseAlertMessage.vue";

export default {
  name: "SearchZoneDelivery",
  components: { BaseAlertMessage },

  props: {},

  data() {
    return {
      entries: [],
      delivery: null,
      isLoading: false,
      search: null,
      address: "",
      hour: "",
    };
  },

  computed: {
    ...mapGetters({
      getRestaurant: "fetchDefaultData/getRestaurant",
    }),

    ...mapState({
      schedules: (state) => state.fetchDefaultData.scheduleFront.data,
      restaurant: (state) => state.fetchDefaultData.restaurant,
    }),

    items() {
      return this.entries.map((entry) => {
        const name =
          entry.name.length > 60 ? entry.name.slice(0, 60) + "..." : entry.name;
        return Object.assign({}, entry, { name });
      });
    },

    fieldAddress: {
      get() {
        return this.address;
      },

      set(value) {
        this.address = value;
        this.$emit("address", value);
      },
    },

    isDayTime() {
      const hours = new Date().getHours();
      return hours > 6 && hours < 18;
    },

    isAvailableDelivery() {
      const hours = new Date().getHours();
      return (
        (!this.isDayTime && hours < 23 && hours >= 18) ||
        (this.isDayTime && hours >= 11 && hours < 17)
      );
    },

    hoursAvailable() {
      const optionsTimes = [];
      if (this.schedules.length) {
        const now = new Date();
        const day = now.getDay();
        const currentDay = WEEK_MAP[day];
        const scheduleIndex = this.isDayTime ? 0 : 1;

        const currentDaySchedule = this.schedules[scheduleIndex]
          ? this.schedules[scheduleIndex][currentDay]
          : null;

        if (
          currentDaySchedule &&
          now >= new Date(currentDaySchedule[0]?.open) &&
          now <= new Date(currentDaySchedule[0]?.close)
        ) {
          const close = new Date(
            now.toDateString() + " " + currentDaySchedule[0].close.split(" ")[1]
          );

          const incrementTime = new Date(now);
          // eslint-disable-next-line no-unmodified-loop-condition
          while (incrementTime <= close) {
            optionsTimes.push(moment(incrementTime).format("hh:mm"));
            incrementTime.setMinutes(incrementTime.getMinutes() + 10);
          }
        }
      }

      return optionsTimes;
    },
  },

  watch: {
    search() {
      if (this.$cookies.get("im.restaurant_name")?.uuid) {
        this.isLoading = true;

        axiosClient
          .get(
            `deliveries?store=${this.$cookies.get("im.restaurant_name")?.uuid}`
          )
          .then(({ data }) => {
            this.entries = data["hydra:member"];
          })
          .catch((err) => {
            console.log(err);
          })
          .finally(() => (this.isLoading = false));
      }
    },
  },

  created() {
    if (this.getRestaurant) {
      this.fetchDayWeeksAndTypePayments({
        id:
          this.getRestaurant?.shopConfig?.id ??
          this.getRestaurant?.configShop?.id,
      });
    }
  },

  methods: {
    ...mapActions({
      fetchDayWeeksAndTypePayments:
        "fetchDefaultData/fetchDataDayWeekAndTypePayment",
    }),

    customFilter(item, queryText, itemText) {
      return (
        item.name.toLowerCase().includes(queryText.toLocaleLowerCase()) ||
        item.zipCode
          .toString()
          .toLowerCase()
          .includes(queryText.toLocaleLowerCase())
      );
    },
  },
};
</script>
