<template>
  <Fragment>
    <ValidationProvider v-slot="{ errors }" rules="required">
      <span v-if="errors.length > 0" class="is-invalid">{{ errors[0] }}</span>

      <v-text-field
        v-model="title"
        label="Titre du complement"
        outlined
        clearable
      />
    </ValidationProvider>

    <ValidationProvider v-slot="{ errors }" rules="required">
      <span v-if="errors.length > 0" class="is-invalid">{{ errors[0] }}</span>

      <v-switch
        v-model="isMultiple"
        class="text-center"
        :label="isMultiple ? `Multi-choix activé` : `Multi-choix désactivé`"
      />
    </ValidationProvider>

    <ValidationProvider v-slot="{ errors }" rules="required">
      <span v-if="errors.length > 0" class="is-invalid">{{ errors[0] }}</span>

      <v-text-field
        v-model="min"
        type="number"
        label="Choix d'aliment minimum"
        outlined
        clearable
      />
    </ValidationProvider>

    <ValidationProvider v-slot="{ errors }" rules="required">
      <span v-if="errors.length > 0" class="is-invalid">{{ errors[0] }}</span>

      <v-text-field
        v-model="max"
        type="number"
        label="Choix d'aliment maximum"
        outlined
        clearable
      />
    </ValidationProvider>

    <v-select
      v-model="nbField"
      :items="nbFields"
      label="Selectionner le nombre d'element"
      outlined
      clearable
    />

    <template v-if="nbField > 0">
      <div
        v-for="(element, childIndex) in item.complements"
        :key="`element-item-menu-${childIndex}`"
        class="element-item-menu-input"
      >
        <ChildItemMenuInput
          :element="element"
          :child-index="childIndex"
          :item-index="index"
        />
      </div>
    </template>
  </Fragment>
</template>

<script>
import { ValidationProvider } from "vee-validate";
import ChildItemMenuInput from "@/components/BackOffice/MenuConfigurator/Form/FormItemMenuConfigurator/FormItemMenu/childItemMenuInput/childItemMenuInput";

export default {
  name: "ItemMenuInput",
  components: {
    ChildItemMenuInput,
    ValidationProvider,
  },

  props: {
    item: {
      type: Object,
      default: undefined,
    },

    index: {
      type: Number,
      default: undefined,
    },
  },

  data() {
    return {
      nbFields: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    };
  },

  computed: {
    min: {
      get() {
        return this.item.min;
      },

      set(value) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_ITEM_MENU", {
          value: parseInt(value),
          index: this.index,
          key: "min",
        });
      },
    },

    isMultiple: {
      get() {
        return this.item.isMultiple;
      },

      set(value) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_ITEM_MENU", {
          value,
          index: this.index,
          key: "isMultiple",
        });
      },
    },

    max: {
      get() {
        return this.item.max;
      },

      set(value) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_ITEM_MENU", {
          value,
          index: this.index,
          key: "max",
        });
      },
    },

    title: {
      get() {
        return this.item.name;
      },

      set(value) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_ITEM_MENU", {
          value,
          index: this.index,
          key: "name",
        });
      },
    },

    nbField: {
      get() {
        return this.item.nbField;
      },

      set(value) {
        this.$store.dispatch(
          "menuConfigurator/ADD_AND_UPDATE_FIELD_FROM_SELECTOR",
          {
            value,
            index: this.index,
            key: "nbField",
            id: this.item.id,
          }
        );
      },
    },
  },

  methods: {},
};
</script>
