<template>
  <Fragment>
    <v-card class="pa-6 wrap-container">
      <BaseAlertMessage v-if="message" class="error-info" type="error">
        <template #body> {{ message }}</template>
      </BaseAlertMessage>

      <form @submit.prevent="userLogin">
        <v-card-title>
          Réinitialisation du mot de passe
          <hr />
        </v-card-title>

        <ValidationObserver v-slot="{ invalid }">
          <v-card-text>
            <ValidationProvider
              v-slot="{ errors }"
              rules="min:8|required|confirmed:confirmation"
            >
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>

              <v-text-field
                v-model="user.password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                label="Nouveau mot de passe"
                counter
                hint="At least 8 characters"
                outlined
                clearable
                @click:append="showPassword = !showPassword"
              />
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" vid="confirmation">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>
              <v-text-field
                v-model="user.rePassword"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                label="Confirmer le noouveau mot de passe"
                outlined
                counter
                hint="At least 8 characters"
                clearable
                @click:append="showPassword = !showPassword"
              />
            </ValidationProvider>
          </v-card-text>

          <v-card-actions>
            <BaseButton block :disabled="invalid" color="black" type="submit">
              <template #name>
                <span class="btn-white">Réinitialiser</span>
              </template>
            </BaseButton>
          </v-card-actions>
        </ValidationObserver>
      </form>
    </v-card>
  </Fragment>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { mapState } from "vuex";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import axiosClient from "@/components/common/utils/axiosClient";
import { ListUrls } from "@/router/routeName";
import BaseAlertMessage from "~/components/common/ui-components/BaseAlertMessage/BaseAlertMessage.vue";

export default {
  name: "Reset",
  components: {
    BaseAlertMessage,
    ValidationObserver,
    ValidationProvider,
    BaseButton,
  },

  data() {
    return {
      showPassword: false,
      message: null,
      user: {
        password: "",
        rePassword: "",
      },
    };
  },

  fetch() {},

  computed: {
    ...mapState({
      auth: (state) => state.auth.user,
    }),
  },

  mounted() {
    if (this.auth?.token && this.auth.token !== this.$route.params.token) {
      this.$router.push(`/login`);
    }

    this.message = null;
  },

  methods: {
    userLogin() {
      this.message = null;

      try {
        axiosClient
          .post(`forgot_password/${this.$route.params.token}`, this.user)
          .then(() => {
            this.$toast.success("Le mot de passe a bien été modifié");
            this.$router.push(ListUrls.LOGIN);
          })
          .catch((e) => {
            console.error(e);
            if (e.response.status === 422) {
              this.message = e.response.data.response;
            }
          });
      } catch (e) {
        console.error(e);
        this.message = e;
      }
    },
  },
};
</script>

<style>
.wrap-container {
  margin: 9em auto;
  max-width: 380px;
  height: 440px;
}
</style>
