<template>
  <ModalDialogue
    :max-width="600"
    :show-modal="showModal"
    enable-cross
    scrollable
    @close="close"
  >
    <template #title>
      <h4 class="ma-auto red--text">Prise de commande indisponible</h4>
    </template>

    <template #body>
      <div class="pa-5">
        <h4>Raison : Fermeture temporaire</h4>

        <p>
          {{ restaurant.name | upperFirst }}
          {{ restaurant.city | upperFirst }} ne prend pas de commandes en ligne
          actuellement.
        </p>
        <br />

        <p>
          Cette page s'actualisera automatiquement <br />
          lors du retour de la disponibilité de la prise de commandes.
        </p>
      </div>
    </template>
  </ModalDialogue>
</template>

<script>
import { mapState } from "vuex";
import ModalDialogue from "@/components/common/ui-components/ModalDialogue/ModalDialogue";
import modalSate from "@/mixins/modalState";
import closeEvent from "@/mixins/closeEvent";

export default {
  name: "ModalDisabledStoreInfo",
  components: { ModalDialogue },
  mixins: [modalSate, closeEvent],
  computed: {
    ...mapState({
      restaurant: (state) =>
        state.fetchDefaultData.restaurant,
    }),
  },
};
</script>
