@font-face {
  font-family: "WorkSans-ExtraBold";
  src: local("WorkSans-ExtraBold"),
  url(~assets/fonts/WorkSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Giants";
  src: local("Giants"),
  url(~assets/fonts/Giants.ttf) format("truetype");
}

@font-face {
  font-family: "Justicia";
  src: local("Justicia"),
  url(~assets/fonts/Justicia.ttf) format("truetype");
}

@font-face {
  font-family: "Futura Bold";
  src: local("Futura Bold"),
  url(~assets/fonts/Futura-Bold.otf) format("truetype");
}
