<template>
  <section id="footer">
    <LazyHydrate when-visible>
      <FooterWithDeco v-if="hasRouteFooter" />
    </LazyHydrate>
  </section>
</template>

<script>
import LazyHydrate from "vue-lazy-hydration";
import FooterWithDeco from "@/components/TheFooter/components/FooterWithDeco";

export default {
  name: "TheFooter",
  components: {
    FooterWithDeco,
    LazyHydrate,
  },

  computed: {
    hasRouteFooter() {
      return [
        "cgu",
        "home",
        "Connexion",
        "policyCookie",
        "mentionLegal",
        "policyConfidentiality",
      ].includes(this.$route.name);
    },
  },
};
</script>
