<template>
  <v-container class="dropzone-custom-content">
    <client-only>
      <div class="d-flex">
        <BaseImage
          v-if="overviewPicture"
          :src="overviewPicture"
          class="mr-3"
          :max-width="200"
          :max-height="150"
        />

        <v-file-input
          v-model="file"
          class="dropzone"
          :rules="rules"
          counter
          accept=".jpeg,.jpg,.png,.webp,image/jpeg,image/png,image/webp"
          label="Faites glisser ou déposez pour télécharger une image !"
          placeholder="Sélectionnez vos fichiers"
          prepend-icon="mdi-cloud-upload"
          @change="addedFile"
        >
          <template #selection="{ index, text }">
            <v-chip v-if="index < 2" color="black" dark label small>
              {{ text }}
            </v-chip>
          </template>
        </v-file-input>
      </div>
    </client-only>
  </v-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
import {
  CONTEXT_IMAGE_COVER,
  CONTEXT_IMAGE_PICTURE,
  CONTEXT_IMAGE_PROFILE,
} from "@/components/BackOffice/MenuConfigurator/Items/type-image";
import { handleMessage } from "@/components/common/HandleMessage";
import BaseImage from "@/components/common/ui-components/BaseImage.vue";

export default {
  name: "FileUpload",
  components: { BaseImage },
  props: {
    context: {
      type: String,
      default: undefined,
    },

    picture: {
      type: String,
      default: undefined,
    },

    itemMenu: {
      type: Object,
      default: undefined,
    },
  },

  data() {
    return {
      file: null,
      url: null,
      rules: [
        (value) =>
          !value ||
          value.size < 1000000 ||
          "La taille de l'image doit être inférieure à 1 Mo!",
      ],
    };
  },

  computed: {
    ...mapState({
      auth: (state) => state.auth.user,
    }),

    overviewPicture() {
      if (this.url) {
        return this.url;
      }

      return this.picture;
    },

    getAssetId() {
      const itemAssetIds = {
        [CONTEXT_IMAGE_COVER]: this.auth?.store?.pictureCover?.assetId ?? "",

        [CONTEXT_IMAGE_PROFILE]:
          this.auth?.store?.pictureProfile?.assetId ?? "",

        [CONTEXT_IMAGE_PICTURE]:
          this.itemMenu?.picture?.assetId ?? this.itemMenu?.assetId,
      };

      return itemAssetIds[this.context] ?? null;
    },
  },

  mounted() {
    this.prefetchImage();
  },

  methods: {
    ...mapActions({
      uploadFile: "Upload/UPDATE_UPLOAD_FILE",
    }),

    async addedFile() {
      if (!this.file) {
        this.$toast.error(`Aucun fichier n'a été importé, réessayer`);
        console.debug(`File is not defined : ${this.file}`);
        return;
      }

      try {
        const readData = (f) =>
          new Promise((resolve) => {
            const reader = new FileReader();
            reader.onloadend = () => resolve(reader.result);
            reader.readAsDataURL(f);
          });

        this.url = URL.createObjectURL(this.file);

        const file = await readData(this.file);

        if (file) {
          this.$store.commit("Upload/UPLOAD_FILE", file);
          this.$store.commit("Upload/SET_CONTEXT", this.context);

          if (this.context !== CONTEXT_IMAGE_PICTURE) {
            if (this.getAssetId === null) {
              console.debug(`Asset ID is null: ${this.getAssetId}`);
              return;
            }

            await this.uploadFile({
              file,
              assetId: this.getAssetId,
              context: this.context,
              storeId: this.auth?.store?.id,
            }).then(({ data }) => {
              handleMessage(this.$toast, data.message);
            });
          }
        }
      } catch (e) {
        console.error(e);
      }
    },

    prefetchImage() {
      this.file = null;

      const store = this.auth?.store;
      const itemFiles = {
        [CONTEXT_IMAGE_COVER]: {
          name: store?.pictureCover?.name,
          size: store?.pictureCover?.size,
        },

        [CONTEXT_IMAGE_PROFILE]: {
          name: store?.pictureProfile?.name,
          size: store?.pictureProfile?.size,
        },

        [CONTEXT_IMAGE_PICTURE]: {
          name:
            this.itemMenu?.mediaManager?.fileName ?? this.itemMenu?.fileName,

          size: this.itemMenu?.mediaManager?.size ?? this.itemMenu?.size,
          format: this.itemMenu?.mediaManager?.format ?? this.itemMenu?.format,
        },
      };

      const itemFile = itemFiles[this.context];

      this.file =
        new File(
          [itemFile?.size ?? 0],
          `${itemFile?.name ?? "empty"}.${itemFile.format}`,
          {
            type: ["image/png", "image/jpeg", "image/webp"],
          }
        ) ?? null;

      if (this.file) {
        this.$store.commit("Upload/UPLOAD_FILE", this.file);
        this.$store.commit("Upload/SET_CONTEXT", this.context);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.dropzone {
  background: #ffffff;
  color: inherit;
  padding: 45px;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  border: 3px #000 dashed;

  .dropzone-custom-content {
    color: #00bfa5;
    .v-icon {
      font-size: 8em;
      color: #00bfa5;
    }
  }
}

.hide-input {
  display: none;
}

* {
  text-transform: none !important;
}

.upload-button {
  color: white;
}
</style>
