<template>
  <div id="map" class="map" />
</template>

<script>
import { Loader } from "@googlemaps/js-api-loader";
import {
  GOOGLE_MAP_API_KEY_PLACE,
  GOOGLE_MAP_LIBRARIES,
  GOOGLE_MAP_VERSION,
} from "@/components/common/ui-components/MapsPlace/google-map-const";

const loader = new Loader({
  apiKey: GOOGLE_MAP_API_KEY_PLACE,
  version: GOOGLE_MAP_VERSION,
  libraries: GOOGLE_MAP_LIBRARIES,
});
export default {
  name: "MapPlace",

  async mounted() {
    await loader
      .load()
      .then((google) => {
        const geoLocStore = new google.maps.LatLng(
          this.$cookies.get("im.geoLoc")?.latitude ?? 45.75,
          this.$cookies.get("im.geoLoc")?.longitude ?? 4.85
        );
        const infoWindow = new google.maps.InfoWindow();

        const map = new google.maps.Map(document.getElementById("map"), {
          center: geoLocStore,
          zoom: 18,
        });

        const request = {
          query: `Restaurant ${
            this.$cookies.get("im.restaurant_name")?.name.toUpperCase() ?? ""
          }`,
          fields: ["name", "geometry"],
        };

        const service = new google.maps.places.PlacesService(map);

        service.findPlaceFromQuery(request, (results, status) => {
          if (status === google.maps.places.PlacesServiceStatus.OK && results) {
            for (let i = 0; i < results.length; i++) {
              if (!results[i].geometry || !results[i].geometry.location) return;

              const marker = new google.maps.Marker({
                map,
                position: results[i].geometry.location,
              });

              google.maps.event.addListener(marker, "click", () => {
                infoWindow.setContent(results[i].name || "");
                infoWindow.open(map);
              });
            }

            map.setCenter(results[0].geometry.location);
          }
        });
      })
      .catch((error) => {
        console.log(error);
      });
  },

  methods: {},
};
</script>

<style lang="scss" scoped>
#map {
  width: 100%;
  height: 300px;
}
</style>
