<template>
  <ContainerBackOffice>
    <BackOffice />
  </ContainerBackOffice>
</template>

<script>
import ContainerBackOffice from "@/components/common/ui-components/ContainerBO/ContainerBackOffice";
import BackOffice from "@/components/BackOffice/BackOffice";

export default {
  name: "Index",
  components: { BackOffice, ContainerBackOffice },
  middleware: "auth",
};
</script>
