<template>
  <div class="container-back">
    <v-container>
      <slot></slot>
    </v-container>

    <ButtonFloatingActionNav v-if="$device.isDesktopOrTablet" />
    <NavBarMenu v-if="$device.isDesktopOrTablet" />
    <MobileNavigation v-if="$device.isMobile" />
  </div>
</template>

<script>
import MobileNavigation from "@/components/common/ui-components/MobileNavigation/MobileNavigation";
import NavBarMenu from "@/components/BackOffice/NavBarMenu/NavBarMenu";
import ButtonFloatingActionNav from "@/components/common/ui-components/ButtonFloatingActionNav.vue";

export default {
  name: "ContainerBackOffice",
  components: { ButtonFloatingActionNav, NavBarMenu, MobileNavigation },
};
</script>
