<template>
  <v-container>
    <div class="container-file-upload">
      <FileUpload
        :picture="src(childMenuConfigurator)"
        :context="CONTEXT_IMAGE_PICTURE"
        :item-menu="childMenuConfigurator"
      />
    </div>

    <ValidationObserver v-slot="{ invalid }">
      <ValidationProvider v-slot="{ errors }">
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>

        <v-text-field
          v-model="subTitle"
          label="Sous titre du plat"
          outlined
          clearable
        />
      </ValidationProvider>

      <ValidationProvider v-slot="{ errors }" rules="required">
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>

        <v-text-field
          v-model="name"
          label="Titre du plat *"
          outlined
          clearable
        />
      </ValidationProvider>

      <div class="d-flex flex-row">
        <div class="input">
          <ValidationProvider v-slot="{ errors }">
            <span v-show="errors.length > 0" class="is-invalid">{{
              errors[0]
            }}</span>

            <v-text-field
              v-model="supplementName"
              label="Ajouter un message pour les supplements ex: Supplement fromage"
              outlined
              clearable
            />
          </ValidationProvider>
        </div>

        <div class="input">
          <ValidationProvider v-slot="{ errors }">
            <span v-show="errors.length > 0" class="is-invalid">{{
              errors[0]
            }}</span>

            <v-text-field
              v-model="supplementPrice"
              label="Prix du supplement"
              type="number"
              min="0"
              outlined
              clearable
            />
          </ValidationProvider>
        </div>
      </div>

      <ValidationProvider v-slot="{ errors }" rules="required">
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>

        <v-text-field
          v-model="price"
          label="Prix seul *"
          type="number"
          min="0"
          outlined
          clearable
        />
      </ValidationProvider>

      <ValidationProvider v-slot="{ errors }">
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>

        <v-text-field
          v-model="priceMenu"
          label="Prix du menu"
          type="number"
          min="0"
          outlined
          clearable
        ></v-text-field>
      </ValidationProvider>

      <div class="d-flex flex-row">
        <ValidationProvider v-slot="{ errors }" rules="required">
          <span v-show="errors.length > 0" class="is-invalid">{{
            errors[0]
          }}</span>

          <v-select
            v-model="categoryMenu"
            :items="categoriesMenu"
            item-text="name"
            label="Catégorie du plat*"
            outlined
            clearable
            return-object
          />
        </ValidationProvider>
        <v-spacer />

        <v-btn fab dark @click="displayModal">
          <v-icon dark> mdi-plus</v-icon>
        </v-btn>
      </div>

      <ValidationProvider v-slot="{ errors }" rules="max:600">
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>

        <span>Ajouter une description :</span>
        <ClientOnly>
          <VueEditor v-model="description" class="mb-4" />
        </ClientOnly>
      </ValidationProvider>

      <ValidationProvider v-slot="{ errors }" rules="max:400">
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>

        <span>Ajouter un commentaire sur les Allergènes :</span>

        <ClientOnly>
          <VueEditor v-model="allergen" />
        </ClientOnly>
      </ValidationProvider>

      <div class="d-flex flex-row">
        <v-checkbox
          v-model="isMenu"
          class="ma-5"
          label="Ajouter une formule"
          required
        />
      </div>

      <!-- form add menu item -->
      <FormAddItemMenu
        v-if="isMenu"
        :context="childMenuConfigurator ? CONTEXT_EDITION : CONTEXT_CREATE"
        :menu-configurator-item="childMenuConfigurator"
      />

      <MessageError v-if="displayError" />
      <div class="d-flex flex-row-reverse wrap-btn">
        <BaseButton
          :disabled="invalid"
          :loading="isLoading"
          class="ma-3"
          color="black"
          @click="add"
        >
          <template #name>
            <span class="btn-white">{{ titleButton }}</span>
          </template>
        </BaseButton>

        <BaseButton @click="$emit('close')">
          <template #name>
            <span class="btn-white">Annuler</span>
          </template>
        </BaseButton>
      </div>
    </ValidationObserver>

    <p class="lighten-2">* Champs obligatoires</p>

    <!--  form create category -->
    <ModalFormCreateMenuCategory
      v-if="showModal"
      :show-modal.sync="showModal"
    />
  </v-container>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { mapActions, mapState } from "vuex";
import FormAddItemMenu from "../FormItemMenuConfigurator/FormAddItemMenu";
import {
  CONTEXT_CREATE,
  CONTEXT_EDITION,
} from "@/components/BackOffice/MenuConfigurator/Form/CreateMenuConfigurator/context-menu-configurator";
import { CONTEXT_IMAGE_PICTURE } from "@/components/BackOffice/MenuConfigurator/Items/type-image";
import FileUpload from "@/components/common/ui-components/FileUpload/FileUpload";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import ModalFormCreateMenuCategory from "@/components/BackOffice/MenuConfigurator/Modal/ModalFormCreateMenuCategory.vue";
import MessageError from "@/components/common/ui-components/MessageError";
import modal from "@/mixins/modal";

export default {
  name: "FormCreateMenuConfiguratorOnly",
  components: {
    MessageError,
    FormAddItemMenu,
    ValidationObserver,
    ValidationProvider,
    BaseButton,
    FileUpload,
    ModalFormCreateMenuCategory,
  },

  mixins: [modal],
  props: {
    context: {
      type: String,
      required: true,
      default: undefined,
    },
  },

  data() {
    return {
      CONTEXT_IMAGE_PICTURE,
      CONTEXT_EDITION,
      CONTEXT_CREATE,
      isMenu: false,
    };
  },

  computed: {
    ...mapState({
      auth: (state) => state.auth.user,
      childMenuConfigurator: (state) =>
        state.menuConfigurator.childMenuConfigurator,
      fileId: (state) => state.menuConfigurator.file,
      categoriesMenu: (state) => state.category.categories,
      itemsMenusData: (state) => state.menuConfigurator.itemsMenus,
      error: (state) => state.menuConfigurator.error,
      isLoading: (state) => state.menuConfigurator.isLoading,
      file: (state) => state.Upload.file,
      contextPicture: (state) => state.Upload.context,
    }),

    titleButton() {
      return this.childMenuConfigurator.id ? "mise à jour" : "Ajouter";
    },

    name: {
      get() {
        return this.childMenuConfigurator.name;
      },

      set(val) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_NAME", val);
      },
    },

    subTitle: {
      get() {
        return this.childMenuConfigurator.subTitle;
      },

      set(val) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_SUB_TITLE", val);
      },
    },

    price: {
      get() {
        return this.childMenuConfigurator.price;
      },

      set(val) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_PRICE", val);
      },
    },

    priceMenu: {
      get() {
        return this.childMenuConfigurator.priceMenu;
      },

      set(val) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_PRICE_MENU", val);
      },
    },

    description: {
      get() {
        return this.childMenuConfigurator.description;
      },

      set(val) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_DESCRIPTION", val);
      },
    },

    allergen: {
      get() {
        return this.childMenuConfigurator.allergen;
      },

      set(val) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_ALLERGEN", val);
      },
    },

    categoryMenu: {
      get() {
        return this.childMenuConfigurator.menuTitle.name;
      },

      set(val) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_CATEGORY", val);
      },
    },

    supplementName: {
      get() {
        return this.childMenuConfigurator.supplement;
      },

      set(val) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_SUPPLEMENT", val);
      },
    },

    supplementPrice: {
      get() {
        return this.childMenuConfigurator.supplementPrice;
      },

      set(val) {
        this.$store.commit(
          "menuConfigurator/UPDATE_FORM_SUPPLEMENT_PRICE",
          val
        );
      },
    },

    displayError() {
      return this.error;
    },
  },

  mounted() {
    this.hasItemMenus();
    this.fetchCategories();
  },

  methods: {
    ...mapActions({
      createMenuConfigurator: "menuConfigurator/CREATE_MENU_CONFIGURATOR",
      updateMenuConfigurator: "menuConfigurator/UPDATE_MENU_CONFIGURATOR",
      fetchCategories: "category/FETCH_CATEGORIES",
    }),

    src(child) {
      return child?.mediaManager?.fileName;
    },

    add() {
      if (!this.file) {
        this.$toast.warning("Aucune image n'est importée");
        return;
      }

      const data = {
        form: this.childMenuConfigurator,
        storeId: this.auth?.store?.id,
        assetId: this.childMenuConfigurator?.mediaManager?.assetId || "",

        file: this.file || null,
        context: this.contextPicture,
      };

      this.checkContext(data);
    },

    checkContext(data) {
      switch (this.context) {
        case CONTEXT_CREATE: {
          data.itemMenus = this.itemsMenusData;

          this.createMenuConfigurator(data);
          break;
        }

        case CONTEXT_EDITION: {
          data.idMenuConfig = this.childMenuConfigurator.id;
          this.updateMenuConfigurator(data);
          break;
        }

        default: {
          throw new Error(`Missing context.`);
        }
      }

      if (!this.isLoading) {
        this.$emit("close");
      }
    },

    hasItemMenus() {
      if (
        this.childMenuConfigurator?.complementGroups &&
        this.childMenuConfigurator.complementGroups.length
      ) {
        this.isMenu = this.childMenuConfigurator.complementGroups.length;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.container-picture {
  width: 30%;
  .img {
    margin: 10px;
  }
}

.input {
  width: 100%;
  margin: 2px;
}

.wrap-btn {
  margin-top: 16px;
}

.container-file-upload {
  width: 70%;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1100px;
  }
}
</style>
