<template>
  <ModalDialogue
    show-image
    :max-width="changeWithByDevice"
    enable-cross
    :fullscreen="checkIsMobile"
    scrollable
    :show-modal="showModal"
    @close="close"
  >
    <template #title>
      <h4>Mode de commande</h4>
    </template>

    <template #body>
      <DeliveryButton />
    </template>

    <template #action>
      <BaseButton block @click="close">
        <template #name>
          <span> Continuer </span>
        </template>
      </BaseButton>
    </template>
  </ModalDialogue>
</template>

<script>
import ModalDialogue from "@/components/common/ui-components/ModalDialogue/ModalDialogue";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import $Modal from "@/mixins/$_modal";
import DeliveryButton from "@/components/RestaurantMenu/components/RestaurantMenuItem/DeliveryButton/DeliveryButton";
import closeEvent from "@/mixins/closeEvent";
import modalState from "@/mixins/modalState";

export default {
  name: "ModalDeliveryItem",
  components: { DeliveryButton, BaseButton, ModalDialogue },

  mixins: [$Modal, closeEvent, modalState],
};
</script>

<!-- <style scoped></style> -->
