<template>
  <div>
    <ModalDialogue
      show-image
      :show-modal="showModal"
      :max-width="changeWithByDevice"
      enable-cross
      scrollable
      @close="close"
    >
      <template #image>
        <BaseImage
          v-if="childItemSelected && childItemSelected.mediaManager"
          :src="fileName"
          class="img"
        />
      </template>

      <template #title>
        <h5>{{ childItemNameProduct | upperFirst }}</h5>
      </template>

      <template #description>
        <span v-html="upperFirst(childItemDescription)"></span>
      </template>

      <template #body>
        <div v-if="childItemSelected" class="wrapper-product-item">
          <div
            v-for="(child, index) in childItemSelected.complementGroups"
            :key="`${index}-child`"
          >
            <div class="product-item-title">
              {{ child.name }} : <br />
              <p v-if="child.min > 0">Choisissez-en {{ child.min }} min</p>
            </div>

            <div class="product-item">
              <div class="product-item-content">
                <v-radio-group v-model="selectRadio">
                  <InputComplementProduct
                    v-for="(itemChild, itemChildIndex) in child.complements"
                    :key="`${itemChildIndex}-item-child`"
                    :complement="itemChild"
                    :length="child.complements.length"
                    :complement-group="child"
                    :select="selectedItems"
                    @select-items="(v) => addSelectItem(v)"
                  />
                </v-radio-group>
              </div>
            </div>
          </div>
        </div>

        <div class="wrapper-quantity-item-product">
          <QuantityItemProduct @change-quantity="(qty) => (quantity = qty)" />
        </div>
      </template>

      <template #action>
        <BaseButton
          :disabled="isNotValid"
          block
          @click="addToCart(childItemSelected)"
        >
          <template #name>
            <span class="btn-white">
              Ajouter pour
              {{ formatPriceTotal }}
            </span>
          </template>
        </BaseButton>
      </template>
    </ModalDialogue>

    <!--  MODAL CHECKOUT -->
    <ModalCheckoutProduct
      v-if="showModalCheckout"
      :show-modal-checkout.sync="showModalCheckout"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { transformPrice, uuidv4 } from "@/components/common/utils/helpers";
import $Modal from "@/mixins/$_modal";
import closeEvent from "@/mixins/closeEvent";
import modalSate from "@/mixins/modalState";
import complementMixins from "~/mixins/complementMixins.ts";
import InputComplementProduct from "@/components/RestaurantMenu/components/RestaurantMenuItem/RestaurantItems/InputComplementProduct/InputComplementProduct.vue";

export default {
  name: "ModalAddProductItem",
  components: {
    InputComplementProduct,
    QuantityItemProduct: () =>
      import("@/components/common/ui-components/QuantityItemProduct"),

    ModalCheckoutProduct: () =>
      import(
        "@/components/RestaurantMenu/components/RestaurantCardAddress/ModalCheckoutProduct"
      ),

    BaseButton: () =>
      import("@/components/common/ui-components/BaseButton/BaseButton"),

    BaseImage: () => import("@/components/common/ui-components/BaseImage"),
    ModalDialogue: () =>
      import("@/components/common/ui-components/ModalDialogue/ModalDialogue"),
  },

  mixins: [$Modal, closeEvent, modalSate, complementMixins],

  props: {
    productItem: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      childItemSelected: undefined,
      selectedItems: [],
      quantity: 1,
      showModalCheckout: false,
      selectItemRadio: null,
      radio: false,
    };
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
      // quantity: (state) => state.checkout.quantity,
      carts: (state) => state.checkout.carts,
    }),

    selectRadio: {
      get() {
        return this.radio;
      },

      set(value) {
        const indexItem = this.selectedItems.findIndex(
          (s) => s.category === value.category
        );

        if (indexItem >= 0 && indexItem !== -1) {
          this.selectedItems.splice(indexItem, 1);
          this.selectedItems.push(value);
        } else {
          this.selectedItems.push(value);
        }
      },
    },

    fileName() {
      return (
        this.childItemSelected.mediaManager.fileName ||
        this.childItemSelected.mediaManager.name
      );
    },

    childItemNameProduct() {
      return this.childItemSelected ? this.childItemSelected.name : undefined;
    },

    childItemDescription() {
      return this.childItemSelected ? this.childItemSelected.description : "";
    },

    formatPriceTotal() {
      const price =
        (this.childItemSelected.price + this.addPriceOption) * this.quantity;
      return this.childItemSelected ? `${transformPrice(price)}` : 0;
    },

    addPriceOption() {
      if (!this.selectedItems.length) {
        return 0;
      }

      return this.selectedItems.reduce(
        (accumulator, currentValue) => accumulator + currentValue.price,
        0
      );
    },

    isNotValid() {
      const complementWithMin = this.productItem.complementGroups.map(
        (c) => c.min > 0
      );

      return (
        this.productItem.complementGroups.length > 0 &&
        this.selectedItems.length !== complementWithMin.length
      );
    },
  },

  created() {
    this.childItemSelected = this.productItem;
  },

  methods: {
    ...mapActions({
      addCartItem: "checkout/addCartItem",
      cleanQuantityProduct: "checkout/cleanQuantityProduct",
    }),

    upperFirst(val) {
      if (typeof val !== "string") {
        return "";
      }

      return val.charAt(0).toUpperCase() + val.slice(1);
    },

    addSelectItem(value) {
      if (typeof value === "number") {
        this.selectedItems.splice(value, 1);
      } else {
        this.selectedItems.push(value);
      }
    },

    addToCart(item) {
      const NAME_COOKIE_CART = "im.carts";
      let data = {};

      const imCartCookie = this.$cookies.get(NAME_COOKIE_CART);

      this.$cookies.set("im.restaurant_name", {
        name: `${this.restaurant.name}-${this.restaurant.city}`,
        uuid: this.restaurant.uid,
      });

      const order = {
        complements: this.selectedItems ?? [],
        price: item.price,
        name: item.name,
        description: item.description,
        picture: {
          fileName: item?.mediaManager?.fileName,
          id: item?.mediaManager?.id,
        },

        quantity: this.quantity,
        id: item.id,
      };

      if (!imCartCookie) {
        data = {
          storeUid: this.restaurant.uid,
          status: "WAITING",
          isShopStore: this.restaurant?.isShopStore,
          delivery: this.$cookies.get("im.driving_mode")
            ? this.$cookies.get("im.driving_mode")
            : null,

          isBooking: this.restaurant?.booking,
          type: "PRODUCT",
          cartUid: uuidv4(),
          orders: [order],
        };

        this.addCartItem(data);
        this.$cookies.set(NAME_COOKIE_CART, data);
      } else {
        this.addCartItem(order);
        this.$cookies.set(NAME_COOKIE_CART, this.carts);
      }

      this.displayModalCheckout();
      this.$root.$emit("product-added");
      this.selectedItems = [];
      this.close();
    },

    displayModalCheckout(value = true) {
      this.showModalCheckout = value;
    },

    close() {
      this.$emit("update:showModal", !this.showModal);
      this.selectItemRadio = null;
      this.selectedItems = [];
      this.$store.commit("checkout/RESET_QUANTITY");
    },
  },
};
</script>

<style lang="scss" scoped>
.img {
  height: 20vh;
}

.wrapper-product-item {
  margin-top: 15px;
  margin-bottom: 30px;

  .product-item-title {
    color: white;
    font-weight: 600;
    padding-left: 15px;
    margin: 15px;
    background-color: #3c3c3c;
    p {
      font-size: 13px;
      font-weight: 400;
    }
  }

  .product-item {
    margin: 10px;
  }
}

.wrapper-quantity-item-product {
  width: 100%;
}
</style>
