<template>
  <ModalDialogue
    :show-modal="showModal"
    :max-width="changeWithByDevice"
    enable-cross
    :fullscreen="checkIsMobile"
    scrollable
    @close="close"
  >
    <template #title>
      <h6>
        Ce produit
        <strong>{{ product.name | upperFirst }}</strong> contient des
        allergènes.
      </h6>
    </template>

    <template #body>
      <p class="text-center mt-8">
        <strong v-html="product.allergen"></strong>
      </p>
    </template>

    <template #action>
      <BaseButton block @click="close">
        <template #name>
          <span class="btn-white">Ok</span>
        </template>
      </BaseButton>
    </template>
  </ModalDialogue>
</template>

<script>
import $Modal from "@/mixins/$_modal";
import closeEvent from "@/mixins/closeEvent";
import modalSate from "@/mixins/modalState";

export default {
  name: "ModalInformationAllergen",
  components: {
    BaseButton: () =>
      import("@/components/common/ui-components/BaseButton/BaseButton"),

    ModalDialogue: () =>
      import("@/components/common/ui-components/ModalDialogue/ModalDialogue"),
  },

  mixins: [$Modal, closeEvent, modalSate],

  props: {
    product: {
      type: Object,
      required: true,
    },
  },
};
</script>
