<template>
  <v-container>
    <v-btn text @click="redirect">
      <v-icon small left> mdi-arrow-left</v-icon>
      Précedente étape
    </v-btn>

    <div class="d-flex flex-wrap">
      <form id="payment-form">
        <v-card-title>
          <span class="title"> Informations pour le paiement </span>
        </v-card-title>

        <v-card-text id="sepa-container">
          <span>Numéro de carte</span>
          <div id="card-element"></div>
          <br />

          <div class="d-flex flex-wrap">
            <div class="container-expiry">
              <span>Expire fin</span>
              <div id="expiry-element"></div>
            </div>

            <div class="container-cvc">
              <span>CVC/CVV</span>
              <div id="cvc-element"></div>
            </div>
          </div>
        </v-card-text>

        <v-card-text>
          <span v-if="error" class="message-error">{{ errorMessage }}</span>
          <BaseButton
            :disabled="isDisable"
            color="black"
            block
            :loading="loading"
            @click="purchase"
          >
            <template #name>
              <v-icon left>mdi-lock</v-icon>
              <span>Payer</span>
              <strong class="ml-3">{{ formattedTotalPrice }} </strong>
            </template>
          </BaseButton>
        </v-card-text>

        <v-card-text> </v-card-text>
      </form>

      <div class="overview">
        <ListCart :has-show="true" />
      </div>
    </div>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { generateStringRandom, transformPrice } from "../../utils/helpers";
import BaseButton from "../BaseButton/BaseButton";
import axiosClient from "~/components/common/utils/axiosClient";
import ListCart from "~/components/RestaurantMenu/components/RestaurantMenuBasket/ListCart/ListCart.vue";

const CARD_ERROR_MESSAGE = {
  invalid_number: "Votre numéro de carte n'est pas valide.",
  invalid_expiry_year_past: "L'année d'expiration de votre carte est passée.",
  incomplete_cvc: "Le code de sécurité de votre carte est incomplet.",
  incomplete_expiry: "La date d'expiration de votre carte est incomplète.",
  incomplete_number: "Votre numéro de carte est incomplet.",
};

export default {
  name: "FormPayment",
  components: {
    ListCart,
    BaseButton,
  },

  props: {
    form: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      loading: false,
      error: false,
      cardExpiry: undefined,
      cardCvc: undefined,
      cardNumber: undefined,
      errorMessage: undefined,
    };
  },

  computed: {
    ...mapGetters({
      restaurant: "fetchDefaultData/getRestaurant",
      totalPrice: "checkout/getTotalPrice",
      cart: "checkout/getCart",
    }),

    formattedTotalPrice() {
      return transformPrice(this.totalPrice);
    },

    isDisable() {
      return !this.restaurant?.isShopStore;
    },
  },

  mounted() {
    this.generateCardNumber();
  },

  methods: {
    ...mapActions({
      patchOrder: "checkout/PATCH_ORDER_SUCCESS",
      postOrderCart: "checkout/postOrderCart",
    }),

    redirect() {
      this.$emit("hide");
      this.display = false;
    },

    showCardError(e) {
      if (e.error) {
        this.error = true;
        this.errorMessage = CARD_ERROR_MESSAGE[e.error.code];
      } else {
        this.errorMessage = undefined;
      }
    },

    generateCardNumber() {
      const elements = this.$stripe.elements();
      this.cardNumber = elements.create("cardNumber");
      this.cardNumber.mount("#card-element");

      this.cardExpiry = elements.create("cardExpiry");
      this.cardExpiry.mount("#expiry-element");

      this.cardCvc = elements.create("cardCvc");
      this.cardCvc.mount("#cvc-element");

      this.cardCvc.on("change", this.showCardError);
      this.cardExpiry.on("change", this.showCardError);
      this.cardNumber.on("change", this.showCardError);
    },

    async purchase() {
      const { token, error } = await this.$stripe.createToken(this.cardNumber);
      const stripeData = token;

      if (error) {
        console.error("Stripe error: ", CARD_ERROR_MESSAGE[error.code]);
        this.errorMessage = CARD_ERROR_MESSAGE[error.code];
        this.loading = false;
      }

      if (stripeData) {
        const amountFormatDecimal = this.totalPrice * 100;

        const dataPayment = {
          token: stripeData.id,
          uuid: this.$cookies.get("im.restaurant_name").uuid,
          amount: amountFormatDecimal,
        };

        this.paymentProduct(dataPayment);
        // this.checkContextPayment(this.context, dataPayment);
      }
    },

    paymentProduct(data) {
      this.loading = true;
      this.error = false;

      const modeDelivery = this.$cookies.get("im.driving_mode");
      const payload = {
        ...data,
        ...this.cart,
        ...this.form,

        modeDelivery,
        totalPrice: this.totalPrice,
        reference: generateStringRandom,
      };

      axiosClient
        .post("payment", payload)
        .then(({ data }) => {
          if (data.status === "failed") {
            return this.$toast.error(data.message);
          }

          if (data.status === "succeeded") {
            this.$cookies.remove(`im.carts`);
            this.$store.commit("checkout/RESET_CARTS");
            this.$emit("display-succeeded-message");
            this.loading = false;
          }
        })
        .catch((e) => {
          this.error = true;
          this.errorMessage = e;
          console.error(e);
          this.loading = false;
        });
    },

    // subscriptionPayment(data) {
    //   generateSubscriptionPayment(data)
    //     .then(res => {
    //       // eslint-disable-next-line no-console
    //       console.log(res.data);
    //     })
    //     .catch(e => {
    //       // eslint-disable-next-line no-console
    //       console.error(e);
    //     });
    // }

    // checkContextPayment(context, data) {
    //   switch (context) {
    //     case "billing":
    //       // this.subscriptionPayment(data);
    //       break;
    //     default:
    //       this.paymentProduct(data);
    //       break;
    //   }
    // }
  },
};
</script>

<style lang="scss" scoped>
.overview {
  margin: 0 auto;
  padding: 20px;
}
.title {
  font-size: 19px !important;
}

.total-cart {
  width: 50%;
}

#payment-form {
  margin: 80px auto;
  background-color: rgba(250, 250, 250, 0.99);
  border-radius: 20px;
  padding: 10px;
  max-height: 450px;
  @media (max-width: 425px) {
    width: 100%;
  }

  @media (max-width: 425px) {
    .card-element {
      width: 100%;
      margin: 0 auto;
    }

    .container-expiry {
      width: 100%;
    }

    .container-cvc {
      width: 50%;
    }
  }

  .container-expiry {
    width: 50%;
  }
  .container-cvc {
    width: 50%;
  }

  .card-element {
    width: 100%;
    //margin: 0 auto;
  }

  .StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .icon-stripe {
    max-width: 100px;
    text-align: center;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .message-error {
    font-size: 15px;
    color: red;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}
</style>
