<template>
  <Fragment>
    <!--    <v-card -->
    <!--      v-for="(menuConfigurator, index) in items" -->
    <!--      :key="index" -->
    <!--      class="mx-auto mt-5" -->
    <!--    > -->
    <!--      <div class="d-flex flex-row"> -->
    <!--        <v-card-text> -->
    <!--          &lt;!&ndash;          TODO: add text&ndash;&gt; -->
    <!--        </v-card-text> -->
    <!--        <v-card-actions> -->
    <!-- &lt;!&ndash;          TODO: add action button&ndash;&gt; -->
    <!--        </v-card-actions> -->
    <!--      </div> -->
    <!--    </v-card> -->
  </Fragment>
</template>

<script>
export default {
  name: "ItemsOrder",
  props: {
    // menuConfigurators: {
    //   type: Array,
    //   required: true
    // },
    // config: {
    //   type: Object,
    //   required: true
    // }
  },

  data() {
    return {
      // items: []
    };
  },
};
</script>
