<template>
  <div id="container-carts-list" class="mt-5">
    <h3 class="text-center">
      {{ hasShow ? "Récapitulative de la commande:" : "Votre commande:" }}
    </h3>
    <br />

    <template v-if="hasCartOrders" class="overflow">
      <v-list
        v-for="(item, i) in cart.orders"
        :key="`${item.id}-cart`"
        class="list-cart"
      >
        <v-list-item>
          <v-list-item-avatar v-if="!$device.isMobile">
            <BaseImage
              v-if="item.picture"
              :src="item.picture.fileName"
              :alt="item.name"
              class="ma-2"
              :class="{
                'picture-cart': !$device.isMobile,
              }"
            />
          </v-list-item-avatar>

          <v-list-item-content>
            <span class="name-item pr-5">
              {{ item.name | upperFirst() }}
            </span>

            <v-list-item-subtitle>
              <div
                v-for="complementLine in item.complements"
                :key="complementLine.id"
              >
                {{ complementLine.name | upperFirst() }}

                <br />
              </div>
            </v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content>
            <span class="wrapper-quantity-item-product">
              <QuantityItemProduct :idx="i" :item="item" />
            </span>
          </v-list-item-content>

          <v-list-item-content>
            <span class="text-center">x{{ item.quantity }} </span>
            <span class="text-center price-item">
              {{ transformPriceCurrency(item.price) }}
            </span>
          </v-list-item-content>

          <v-list-item-action v-if="!hasShow">
            <v-btn text color="red" @click="deleteOrder(i, item.id)">
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>

        <hr />
      </v-list>

      <div class="d-flex flex-row-reverse mt-10">
        <h4>{{ total }}</h4>
        <h3 class="total-cart">Total:</h3>
      </div>
    </template>

    <template v-else>
      <v-alert outlined type="warning" prominent border="left">
        Votre panier est vide.
        <strong class="pointer" @click="redirect"> Cliquez ici </strong>
        pour retourner voir la carte du restaurant.
      </v-alert>
    </template>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { transformPrice } from "../../../../common/utils/helpers";
import BaseImage from "@/components/common/ui-components/BaseImage";
import QuantityItemProduct from "@/components/common/ui-components/QuantityItemProduct.vue";

export default {
  name: "ListCart",
  components: { QuantityItemProduct, BaseImage },
  props: {
    hasShow: Boolean,
  },

  computed: {
    ...mapGetters({
      cart: "checkout/getCart",
    }),

    hasCartOrders() {
      return this.cart?.orders?.length;
    },

    total() {
      let total = 0;

      if (!this.hasCartOrders) {
        return transformPrice(total);
      }

      total = this.cart.orders.reduce(
        (acc, value) => acc + value.price * value.quantity,
        0
      );

      return transformPrice(total);
    },
  },

  methods: {
    ...mapActions({
      removeOrder: "checkout/deleteOrder",
      updateItemCart: "checkout/updateItemCart",
      subtractItemCart: "checkout/subtractItemCart",
    }),

    redirect() {
      const cookieRestaurant = this.$cookies.get("im.restaurant");
      if (
        !cookieRestaurant ||
        !cookieRestaurant?.city ||
        !cookieRestaurant?.category?.name ||
        !cookieRestaurant?.slug?.name
      ) {
        return this.$router.push("/");
      }

      this.$router.push(
        `/${
          cookieRestaurant.city
        }/${cookieRestaurant.category.name.toLowerCase()}/${
          cookieRestaurant.slug.name
        }`
      );
    },

    deleteOrder(index) {
      this.removeOrder(index);
    },

    // add(item, index) {
    //   const quantity = item.quantity++;
    //   Object.assign(item, {
    //     index,
    //     quantity
    //   });
    //   this.updateItemCart(item);
    // },
    //
    // sub(item, index) {
    //   Object.assign(item, { index });
    //   this.subtractItemCart(item);
    // },

    transformPriceCurrency(data) {
      return transformPrice(data);
    },
  },
};
</script>

<style lang="scss" scoped>
#container-carts-list {
  max-height: 700px;
  width: 100%;
  margin-bottom: 3em;

  .overflow {
    overflow-y: auto;
  }

  .total-cart {
    width: 50%;
  }

  .theme--light .v-list {
    background: none;
  }

  .content-item {
    font-size: 1.1vw;
    text-align: left;
  }

  .v-btn:not(.v-btn--round).v-size--default {
    min-width: 10px;
    width: 10px;
    margin-right: 10px;
    height: 20px;

    i {
      font-size: 13px;
    }
  }

  hr {
    width: 90%;
    margin: 0 auto;
    opacity: 0.1;
  }

  .v-list {
    padding: 0 0;
  }

  .name-item {
    font-weight: 700;
    font-size: 18px;
  }

  .description-item {
    font-size: 16px;
  }

  .vertical {
    width: 100%;
  }

  .price-item {
    font-size: 16px;
  }

  .wrapper-quantity-item-product {
    width: 50%;
  }
}
</style>
