<template>
  <Fragment>
    <span class="heading-element"> Element {{ childIndex + 1 }}: </span>

    <div class="input-field">
      <v-text-field
        v-model="name"
        label="Ex: Moutarde (1 par champ)"
        outlined
        clearable
      />

      <v-text-field
        v-model="price"
        label="Prix (laissez 0 s'il n'y a pas de prix)"
        type="number"
        min="0"
        max="10"
        outlined
        suffix="€"
        clearable
      />
    </div>
  </Fragment>
</template>

<script>
export default {
  name: "ChildItemMenuInput",
  props: {
    element: {
      type: Object,
      default: undefined,
    },

    childIndex: {
      type: Number,
      default: undefined,
    },

    itemIndex: {
      type: Number,
      default: undefined,
    },
  },

  computed: {
    name: {
      get() {
        return this.element.name;
      },

      set(value) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_ITEM_MENU", {
          value,
          childIndex: this.childIndex,
          index: this.itemIndex,
          key: "name",
        });
      },
    },

    price: {
      get() {
        return this.element.price;
      },

      set(value) {
        this.$store.commit("menuConfigurator/UPDATE_FORM_ITEM_MENU", {
          value: parseFloat(value),
          childIndex: this.childIndex,
          index: this.itemIndex,
          key: "price",
        });
      },
    },
  },
};
</script>
