<template>
  <v-container>
    <div class="d-flex flex-wrap">
      <NavBarMenu />

      <div class="container-panel mt-10">
        <BaseAlertMessage
          v-if="
            !stripeKeyExist && auth.user && auth.user.roles[0] !== ROLE_ADMIN
          "
          icon="mdi-alert-octagon-outline"
          type="warning"
          :message="message"
        >
          <template #title>
            <div class="title">
              {{ title }}
            </div>
          </template>
        </BaseAlertMessage>

        <Dashboard />
      </div>
    </div>

    <ModalTermAndCondition v-if="showModal" :show-modal.sync="showModal" />
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import NavBarMenu from "@/components/BackOffice/NavBarMenu/NavBarMenu";
import Dashboard from "@/components/BackOffice/Dashboard/Dashboard";
import {
  MESSAGE_STRIPE_KEY_NOT_EXIST,
  MESSAGE_TITLE_STRIPE_KEY_NOT_EXIST,
} from "@/components/common/messages/messageError";
import BaseAlertMessage from "@/components/common/ui-components/BaseAlertMessage/BaseAlertMessage";
import ModalTermAndCondition from "@/components/common/ui-components/ModalTermAndCondition/ModalTermAndCondition";
import { ROLE_ADMIN } from "~/components/common/utils/const-roles";
import modal from "@/mixins/modal";

export default {
  name: "BackOffice",
  components: {
    ModalTermAndCondition,
    NavBarMenu,
    Dashboard,
    BaseAlertMessage,
  },

  mixins: [modal],

  data() {
    return {
      ROLE_ADMIN,
      title: MESSAGE_TITLE_STRIPE_KEY_NOT_EXIST,
      message: MESSAGE_STRIPE_KEY_NOT_EXIST,
    };
  },

  computed: {
    ...mapState({
      auth: (state) => state.auth.user,
    }),

    stripeKeyExist() {
      return this.auth.store?.shopConfig;
    },
  },
};
</script>

<style lang="scss" scoped>
.container-panel {
  width: 100%;
  margin-bottom: 110px;
}

@media (min-width: 1199px) {
  .container-panel {
    width: 100%;
  }
}
</style>
