<template>
  <PremiumMenuStyle />
</template>

<script>
import PremiumMenuStyle from "./PremiumTemplates/PremiumMenuStyle";

export default {
  name: "RestaurantItems",
  components: { PremiumMenuStyle },
};
</script>
