<template>
  <draggable
    class="list-group"
    :animation="200"
    :list="items"
    :group="group"
    :option="{ disabled: disableDraggable }"
    @start="drag = true"
    @end="drag = false"
    @change="(event) => $emit('change', event)"
  >
    <transition-group type="transition" :name="!drag ? 'flip-list' : null">
      <slot name="body"></slot>
    </transition-group>
  </draggable>
</template>

<script>
import draggable from "vuedraggable";

export default {
  name: "BaseDraggable",
  components: { draggable },
  props: {
    items: {
      type: Array,
      required: true,
    },

    group: {
      type: [Object, String],
      default: undefined,
    },
  },

  data() {
    return {
      drag: false,
    };
  },

  computed: {
    disableDraggable() {
      return this.$device.isMobile;
    },
  },
};
</script>

<style lang="scss">
.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.list-group {
  min-height: 20px;
  margin-bottom: 50px;
}

.list-group-item {
  cursor: move;
}

.list-group-item i {
  cursor: pointer;
}
</style>
