<template>
  <div class="wrapper-title">
    <h1 class="mt-10 mb-10">
      <v-icon v-if="icon" left>mdi-{{ icon }}</v-icon>
      <slot></slot>
    </h1>
  </div>
</template>

<script>
export default {
  name: "HeadingBack",
  props: {
    icon: {
      type: String,
      default: null,
    },
  },
};
</script>

<style lang="scss" scoped>
.wrapper-title {
  margin-top: 50px;
  font-size: 0.75em;
}
.v-icon {
  font-size: 35px;
}
</style>
