<template>
  <div class="container-basket">
    <div class="container-basket-content">
      <div class="title-basket">Panier</div>
      <hr />
      <div v-if="items.length > 0" class="basket-content">
        <ListCart :items="items"></ListCart>
      </div>
      <div v-else>
        <div class="empty-basket pa-2 mt-5">
          <v-icon large class="mb-5"> mdi-shopping-outline</v-icon>
          <p>Ajoutez des plats et commandez votre repas.</p>
        </div>
      </div>
      <hr />
      <div class="discount-message"></div>
      <div class="price-details">
        <div class="d-flex justify-space-between">
          <div>Sous total</div>
          <div>0.00 €</div>
        </div>
        <div class="d-flex justify-space-between">
          <div>Frais de livraison</div>
          <div>{{ deliveroo }}.00 €</div>
        </div>
        <div class="d-flex justify-space-between">
          <div>Montant total</div>
          <div>{{ totalPriceItem }} €</div>
        </div>
      </div>
      <hr />
      <div class="item-info-order-minimum pt-2 pa-3">
        Malheureusement, vous ne pouvez pas encore commander. La Maison livre à
        partir d’un montant minimum de 20,00 € (hors frais de livraison.
      </div>
      <div class="button-basket">
        <v-btn large block @click="orderConfirm"> Commander</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import ListCart from "@/components/RestaurantMenu/components/RestaurantMenuBasket/ListCart/ListCart";

export default {
  name: "RestaurantMenuBasket",
  components: {
    ListCart,
  },

  props: {},
  data() {
    return {
      deliveroo: 3,
    };
  },

  computed: {
    ...mapGetters({
      items: "checkout/getCart",
    }),

    totalPriceItem() {
      let prices = 0;
      this.items.forEach((item) => {
        prices += parseFloat(item.payload.price);
      });
      return parseFloat((prices += this.deliveroo));
    },
  },

  methods: {
    ...mapActions({
      deleteItemCart: "checkout/deleteOrder",
    }),

    orderConfirm() {
      this.$router.push({ name: "order-meal-confirm" });
    },

    // eslint-disable-next-line vue/no-unused-properties
    transformItemCart() {
      const groupItems = [];
      this.items.forEach((item, index) => {
        if (
          groupItems[index] &&
          groupItems[index - 1].data.name === item.payload.name
        ) {
          const data = {
            nb: groupItems[index].data.nb + 1,
            data: groupItems[index].data,
          };
          groupItems.push(data);
          // groupItems.filter( (groupItem, index) => {
          //   if (groupItem.data.item.payload.name === item.payload.name) {
          //
          //     let data = {
          //       nb: index++,
          //       data: groupItem[index]
          //     }
          //   }
          // })
        } else {
          const data = {
            nb: 0,
            data: item.payload,
          };
          groupItems.push(data);
        }
      });
      return groupItems;
    },
  },
};
</script>

<style lang="scss" scoped>
@media (max-width: 1020px) {
  .container-basket {
    display: none;
  }
}

.container-basket {
  background-color: #f3f3f3;
  -webkit-box-shadow: -7px 0px 6px -4px rgba(69, 69, 69, 0.2);
  -moz-box-shadow: -7px 0px 6px -4px rgba(69, 69, 69, 0.2);
  box-shadow: -6px 0px 8px -4px rgba(69, 69, 69, 0.2);
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 0;

  & hr {
    text-align: justify;
    width: 100%;
    opacity: 0.2;
  }

  .price-details {
    width: 100%;

    div {
      margin: 0 auto;
    }
  }

  .container-basket-content {
    margin: 30px auto;
    position: fixed;
    max-width: 29%;
  }

  .basket-content {
    max-height: 800px;
    overflow-x: auto;
  }

  .empty-basket {
    .v-icon {
      font-size: 25px;
      opacity: 0.4;
    }
  }

  .title-basket {
    font-weight: bold;
  }

  .item-info-order-minimum {
    font-size: 12px;
  }

  .button-basket {
    padding: 10px;
  }
}
</style>
