<template>
  <div>
    <ValidationObserver v-slot="{ invalid }">
      <ValidationProvider v-slot="{ errors }" rules="required">
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>

        <v-text-field
          v-model="stripeKey"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          label="Clés Stripe"
          outlined
          clearable
          @click:append="show = !show"
        />
      </ValidationProvider>

      <BaseButton block color="black" :disabled="invalid" @click="submit">
        <template #name>
          <span class="btn-white">Enregistrer</span>
        </template>
      </BaseButton>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { mapGetters } from "vuex";
import postApiKey from "../service/api-account";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";

export default {
  name: "FormStripeKey",
  components: {
    ValidationObserver,
    ValidationProvider,
    BaseButton,
  },

  data() {
    return {
      key: "",
      show: false,
    };
  },

  computed: {
    ...mapGetters({
      restaurant: "fetchDefaultData/getRestaurant",
    }),

    stripeKey: {
      get() {
        return this.key;
      },

      set(val) {
        this.key = val;
      },
    },
  },

  mounted() {
    this.key = this.restaurant?.configShop?.stripeKey;
  },

  methods: {
    submit() {
      postApiKey({
        storeId: this.restaurant.id,
        ...this.stripeKey,
      }).then((r) => {
        this.$store.commit("fetchDefaultData/SET_KEY_STRIPE", this.stripeKey);
        this.$toast.success(r.data);
      });
    },
  },
};
</script>
