<template>
  <Fragment>
    <ValidationObserver v-slot="{ invalid }">
      <ValidationProvider
        v-slot="{ errors }"
        rules="min:8|required|confirmed:confirmation"
      >
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>

        <v-text-field
          v-model="user.password"
          label="Nouveau mot de passe"
          counter
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          hint="At least 8 characters"
          outlined
          clearable
          @click:append="showPassword = !showPassword"
        ></v-text-field>
      </ValidationProvider>

      <ValidationProvider v-slot="{ errors }" vid="confirmation">
        <span v-show="errors.length > 0" class="is-invalid">{{
          errors[0]
        }}</span>

        <v-text-field
          v-model="user.rePassword"
          label="Confirmer le mot de passe"
          :append-icon="showRePassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showRePassword ? 'text' : 'password'"
          outlined
          counter
          hint="At least 8 characters"
          clearable
          @click:append="showRePassword = !showRePassword"
        ></v-text-field>
      </ValidationProvider>

      <BaseButton
        block
        :elevation="1"
        color="black"
        :loading="loading"
        :disabled="invalid"
        @click="submit"
      >
        <template #name>
          <span class="btn-white">Changer de mot de passe</span>
        </template>
      </BaseButton>
    </ValidationObserver>
  </Fragment>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { mapState } from "vuex";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import { postForgetPassword } from "@/components/BackOffice/MyAccount/service/api-account";

export default {
  name: "FormChangePassword",
  components: {
    ValidationObserver,
    ValidationProvider,
    BaseButton,
  },

  data() {
    return {
      loading: false,
      showPassword: false,
      showRePassword: false,
      user: {
        password: "",
        rePassword: "",
      },
    };
  },

  computed: {
    ...mapState({
      currentUser: (state) => state.fetchUser.user,
    }),
  },

  methods: {
    async submit() {
      this.loading = true;

      await postForgetPassword(
        this.$route.params.id,
        this.user.rePassword
      ).then(({ data }) => {
        this.user = {
          password: "",
          rePassword: "",
        };

        this.$toast.success(data.message);
        this.loading = false;
      });
    },
  },
};
</script>
