<template>
  <v-bottom-navigation class="mobile-bar" fixed dark shift>
    <v-btn v-for="(item, key) in filterMenuByRole" :key="key" :to="item.link">
      <span>{{ item.title }}</span>
      <v-icon>{{ item.icon }}</v-icon>
    </v-btn>

    <v-btn @click="logout">
      <span>{{ RouteName.LOGOUT }}</span>
      <v-icon>mdi-logout</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
import { mapState } from "vuex";
import { getMenuByRole } from "@/components/common/utils/helpers";
import URL_LINK_MAPS from "@/components/common/utils/link-router";
import { ListUrls, RouteName } from "@/router/routeName";

export default {
  name: "MobileNavigation",
  data() {
    return {
      items: URL_LINK_MAPS,
      RouteName,
    };
  },

  computed: {
    ...mapState({
      currentUser: (state) => state.fetchUser.currentUser,
    }),

    filterMenuByRole() {
      return getMenuByRole(this.items, this.currentUser);
    },
  },

  methods: {
    logout() {
      this.$auth.logout();

      this.$router.push(ListUrls.LOGIN);
    },
  },
};
</script>

<style lang="scss" scoped>
.v-item-group.v-bottom-navigation .v-btn {
  min-width: 70px !important;
}
span {
  font-size: 10px;
}
.mobile-bar {
  z-index: 9999999;
}

@media (min-width: 1199px) {
  .mobile-bar {
    display: none;
  }
}
</style>
