<template>
  <v-app v-cloak>
    <TheHeader />

    <Snackbar />
    <v-main class="background-icon">
      <nuxt />

      <BannerCookie />
    </v-main>

    <TheFooter />
  </v-app>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import Snackbar from "../components/common/ui-components/Snackbar";
import BannerCookie from "../components/common/ui-components/BannerCookie/BannerCookie";
import TheHeader from "@/components/TheHeader/TheHeader";
import TheFooter from "@/components/TheFooter/TheFooter";
import { RouteName } from "@/router/routeName";

export default {
  name: "Default",
  components: {
    BannerCookie,
    Snackbar,
    TheHeader,
    TheFooter,
  },

  middleware: ["configData", "auth-index"],

  head() {
    return {
      __dangerouslyDisableSanitizers: ["script"],
      script: [
        {
          innerHTML: this.structuredData
            ? JSON.stringify(this.structuredData)
            : {},

          type: "application/ld+json",
        },
      ],

      htmlAttrs: {
        lang: "fr-FR",
      },

      link: [
        {
          rel: "icon",
          type: "image/x-icon",
          href: "/favicon.ico",
        },
      ],

      title: this.titleSeo,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.descriptionSeo,
        },
        { hid: "robots", name: "robots", content: this.seo?.robots },
      ],
    };
  },

  computed: {
    ...mapState({
      user: (state) => state.fetchUser.currentUser ?? state.auth.user,
      restaurant: (state) =>
        state.fetchDefaultData?.restaurant ?? state.auth?.user?.store,
      menuConfigurators: (state) => state.menuConfigurator.menuConfigurators,
      schedule: (state) => state.fetchDefaultData.scheduleFront,
    }),

    ...mapGetters({
      seo: "seo/getSeoFront",
    }),

    titleSeo() {
      return this.seo?.title;
    },

    descriptionSeo() {
      return this.seo?.description;
    },

    formatStructureDataMenus() {
      const menus = [];
      if (this.menuConfigurators) {
        for (let i = 0; i < this.menuConfigurators.length; i++) {
          if (this.menuConfigurators[i].items) {
            this.menuConfigurators[i].items.forEach((child) => {
              menus[i] = {
                name: child.menuTitle.name,
                hasMenuItem: {
                  "@type": "MenuItem",
                  name: child.name,
                  image: child?.mediaManager?.fileName,
                  description: child.description,
                  allergen: child.allergen,
                  subTitle: child.subTitle,
                  offers: {
                    "@type": "Offer",
                    price: child.price,
                    priceMenu: child.priceMenu,
                    priceCurrency: "EUR",
                  },
                },
              };
            });
          }
        }
      }

      return menus;
    },

    structuredData() {
      let structure = {
        "@context": "https://schema.org/",
        "@type": "Restaurant",
        "@id": `${this.$config.PUBLIC_URL_FRONT}${this.$route.path}`,
      };

      switch (this.$route.name) {
        case RouteName.HOME:
          return (structure = {
            ...structure,
            name: this.seo?.title,
          });

        case RouteName.RESTAURANT:
          return (structure = {
            ...structure,
            name: `${this.restaurant?.name} ${this.restaurant?.city}`,

            image: [
              `${this.$config.PUBLIC_URL_CLOUDINARY}${this.restaurant?.mediaManager?.fileName}`,
              `${this.$config.PUBLIC_URL_CLOUDINARY}${this.restaurant?.mediaManager?.fileName}`,
            ],

            servesCuisine: [this.restaurant?.category ?? ""],

            priceRange: "€€€",

            address: {
              "@type": "PostalAddress",
              addressLocality: this.restaurant?.city ?? "",
              postalCode: this.restaurant?.zipCode ?? "",
              streetAddress: this.restaurant?.address ?? "",
            },

            telephone: this.restaurant?.phoneNumber ?? "",
            aggregateRating: {
              "@type": "AggregateRating",
              ratingValue: this.restaurant?.rating ?? "",
              ratingCount: this.restaurant?.rating ?? "",
              reviewCount: "258", // todo: adds dynamic
            },

            openingHoursSpecification: [
              {
                "@type": "OpeningHoursSpecification",
                dayOfWeek: [
                  "Monday",
                  "Tuesday",
                  "Wednesday",
                  "Thursday",
                  "Friday",
                  "Saturday",
                  "Sunday",
                ],

                // opens: schedule.,
                // closes: "23:30",
              },
            ],

            hasMenu: {
              "@type": "Menu",
              hasMenuSection: [...this.formatStructureDataMenus],
            },
          });

        default:
          return structure;
      }
    },
  },

  created() {
    const isMobile = this.$device.isMobile;
    const isTablet = this.$device.isTablet;
    const isDesktop = this.$device.isDesktop;
    this.$store.commit("fetchDefaultData/SET_DEVICE", {
      isMobile,
      isDesktop,
      isTablet,
    });
  },
};
</script>

<style lang="scss" scoped>
.theme--light.v-application {
  .v-main.background-icon {
    background: url("~/assets/images/saas/i-like-food.svg");
  }
}

.v-cloak {
  display: none;
  z-index: 100000000000;
}
</style>
