<template>
  <v-app dark>
    <v-container class="text-center">
      <div v-if="error.statusCode === 404" class="container-404">
        <img src="~/assets/images/404.png" alt="img_404" class="img" />
        <h1 class="font-bold l-font">Erreur 404</h1>
        <p class="font-bold">
          La page que vous recherchez est introuvable.
          <br />
        </p>
      </div>

      <div v-else class="container-500">
        <img src="~/assets/images/404.png" alt="img_500" class="img" />
        <h1 class="font-bold l-font">Erreur 500</h1>
        <p class="font-bold">
          Oops, Une erreur est survenue.
          <br />
        </p>
      </div>
      <BaseButton color="black" @click="redirect">
        <template #name> Retour à l'accueil </template>
      </BaseButton>
    </v-container>
  </v-app>
</template>

<script>
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import { ListUrls } from "@/router/routeName";

export default {
  name: "Error",
  components: { BaseButton },
  layout: "empty",
  props: {
    error: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      pageNotFound: "404 Not Found",
      otherError: "An error occurred",
    };
  },

  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError;
    return {
      title,
    };
  },

  methods: {
    redirect() {
      this.$router.push(ListUrls.LOGIN);
    },
  },
};
</script>

<style scoped>
.l-font {
  font-size: 4rem;
}
.font-bold {
  font-weight: 500;
}

.container-404 {
  margin-top: 7rem;
}

.container-500 {
  margin-top: 7rem;
}
.img {
  max-width: 100%;
}
</style>
