<template>
  <div class="container-action-button-item d-flex">
    <v-btn
      v-if="isEditInput"
      class="col col-auto"
      color="teal accent-4"
      icon
      @click="$emit('button-confirmation')"
    >
      <v-icon>mdi-check-outline</v-icon>
    </v-btn>

    <v-btn v-else color="teal accent-4" icon @click="isEdit">
      <v-icon>mdi-pencil-outline</v-icon>
    </v-btn>

    <v-btn v-if="isEditInput" color="teal accent-4" icon @click="close">
      <v-icon>mdi-close-circle-outline</v-icon>
    </v-btn>

    <!-- modal delete & icon delete -->
    <ModalDialogueDelete v-if="!isEditInput" @click="$emit('remove-item')">
      <template #title> Confirmation de suppression</template>

      <template #content>
        <v-chip v-if="item.children" label class="ma-2" color="orange" outlined>
          <v-icon left>mdi-alert</v-icon>
          Attention, cette action supprimera également les
          {{ item.children.length }}
          {{ item.children.length > 1 ? "items enfants" : "item enfant" }}
        </v-chip>

        <p>Êtes-vous sûr de vouloir supprimer ?</p>
        <br />

        <div class="ma-auto">
          <v-chip color="red" class="ma-2" label outlined>
            #{{ item.name }}
          </v-chip>
        </div>
      </template>
    </ModalDialogueDelete>
  </div>
</template>

<script>
import ModalDialogueDelete from "../ModalDialogue/ModalDialogueDelete";

export default {
  name: "ActionButtonItem",
  components: { ModalDialogueDelete },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      isEditInput: false,
    };
  },

  methods: {
    isEdit() {
      this.isEditInput = true;
      this.$emit("is-edit-input", this.isEditInput);
    },

    close() {
      this.isEditInput = false;
      this.$emit("close", this.isEditInput);
    },
  },
};
</script>

<style scoped>
.v-btn--icon.v-size--default {
  height: 47px !important;
}
</style>
