<template>
  <Fragment>
    <FormDayWeekInput
      v-for="(field, index) in sliceElementFromArray"
      :key="index"
      :field="field"
      :index="index"
    />

    <div class="mx-auto text-center mb-9">
      <BaseButton
        v-if="sliceElementFromArray.length <= 2"
        color="black"
        @click="addField"
      >
        <template #name>
          <span class="btn-white">+ Ajouter</span>
        </template>
      </BaseButton>
    </div>
  </Fragment>
</template>

<script>
import { mapState } from "vuex";
import FormDayWeekInput from "@/components/BackOffice/MyAccount/components/formDayWeek/FormDayWeekInput";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";

export default {
  name: "FormDayWeekItem",
  components: {
    BaseButton,
    FormDayWeekInput,
  },

  data() {
    return {};
  },

  computed: {
    ...mapState({
      schedule: (state) => state.fetchDefaultData.shopConf.schedule.data,
    }),

    sliceElementFromArray() {
      return this.schedule.slice(0, 3);
    },
  },

  methods: {
    addField() {
      this.$store.commit("fetchDefaultData/ADD_SHOP_CONF_DAY_WEEK");
    },
  },
};
</script>
