<template>
  <Fragment>
    <div class="d-flex flex-wrap">
      <v-text-field
        v-model="openAt"
        label="Ouverture à"
        type="time"
        class="pa-5"
        outlined
        clearable
      />

      <v-text-field
        v-model="closeAt"
        label="Fermer à"
        type="time"
        class="pa-5"
        outlined
        clearable
      />
    </div>

    <div class="d-flex flex-wrap justify-center">
      <FormDayWeekCheckBox
        v-for="(value, indexValue) in field.schedule"
        :key="indexValue"
        :index="indexValue"
        :index-parent="index"
        :value="value"
      />

      <BaseButton v-if="index !== 0" color="red" text @click="remove">
        <template #name>
          <v-icon>mdi-delete</v-icon>
        </template>
      </BaseButton>
    </div>
  </Fragment>
</template>

<script>
import { mapActions } from "vuex";
import FormDayWeekCheckBox from "@/components/BackOffice/MyAccount/components/formDayWeek/FormDayWeekCheckBox";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";

export default {
  name: "FormDayWeekInput",
  components: {
    BaseButton,
    FormDayWeekCheckBox,
  },

  props: {
    field: {
      type: Object,
      required: true,
    },

    index: {
      type: Number,
      required: true,
    },
  },

  computed: {
    openAt: {
      get() {
        return this.field.open;
      },

      set(value) {
        this.$store.commit("fetchDefaultData/UPDATE_FORM_DAY_WEEK_OPEN_AT", {
          index: this.index,
          value,
        });
      },
    },

    closeAt: {
      get() {
        return this.field.close;
      },

      set(value) {
        this.$store.commit("fetchDefaultData/UPDATE_FORM_DAY_WEEK_CLOSE_AT", {
          index: this.index,
          value,
        });
      },
    },
  },

  methods: {
    ...mapActions({
      removeScheduleById: "fetchDefaultData/removeSchedule",
    }),

    remove() {
      this.removeScheduleById({
        id: this.field?.id,
        index: this.index,
      });
    },
  },
};
</script>
