<template>
  <ValidationProvider v-slot="{ errors }" rules="required">
    <span v-show="errors.length > 0" class="is-invalid">{{ errors[0] }}</span>
    <FormDayWeekItem />
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from "vee-validate";
import { mapActions, mapState } from "vuex";
import FormDayWeekItem from "@/components/BackOffice/MyAccount/components/formDayWeek/FormDayWeekItem";
import { BACK } from "@/components/common/utils/const-roles";

export default {
  name: "FormDayWeek",
  components: {
    FormDayWeekItem,
    ValidationProvider,
  },

  fetch() {
    this.fetchDayWeeksAndTypePayments({
      id: this.restaurant?.configShop?.id,
      role: BACK,
    });
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.auth.user.store,
    }),
  },

  methods: {
    ...mapActions({
      fetchDayWeeksAndTypePayments:
        "fetchDefaultData/fetchDataDayWeekAndTypePayment",
    }),
  },
};
</script>

<!-- <style scoped></style> -->
