<template>
  <div>
    <v-checkbox
      v-model="checkedValue"
      class="pa-4"
      :label="SCHEDULE_MAP[value.model]"
      @change="isCheckedEvent"
    />
  </div>
</template>

<script>
import { SCHEDULE_MAP } from "@/components/BackOffice/MyAccount/service/const-time-open";

export default {
  name: "FormDayWeekCheckBox",
  props: {
    value: {
      type: Object,
      required: true,
    },

    index: {
      type: Number,
      required: true,
    },

    indexParent: {
      type: Number,
      required: true,
    },
  },

  data() {
    return {
      SCHEDULE_MAP,
    };
  },

  computed: {
    checkedValue: {
      get() {
        return this.value.checked;
      },

      set(value) {
        this.$store.commit("fetchDefaultData/UPDATE_FORM_DAY_WEEK_SCHEDULE", {
          value,
          index: this.index,
          indexParent: this.indexParent,
        });
      },
    },
  },

  methods: {
    isCheckedEvent(value) {
      this.$store.commit("fetchDefaultData/UPDATE_FORM_DAY_WEEK_SCHEDULE", {
        value,
        index: this.index,
        indexParent: this.indexParent,
      });
    },
  },
};
</script>

<!-- <style scoped> -->
<!-- </style> -->
