<template>
  <v-container>
    <Login />
  </v-container>
</template>

<script>
import Login from "@/components/Login/Login";

export default {
  name: "Index",
  components: { Login },
  middleware: "seo",
};
</script>
