<template>
  <v-card class="mb-5 item">
    <div class="d-flex" :class="classFlexDirection">
      <v-card-text>
        <div class="image">
          <BaseImage
            v-if="hasFileName"
            :class="classImageMarginAutoMobile"
            class="img-item"
            :src="src(child)"
            :alt="child.name"
          />
        </div>
      </v-card-text>

      <v-card-text v-if="child.subTitle" :class="classContentMenuByDevice">
        <p>{{ child.subTitle }}</p>
      </v-card-text>

      <v-card-text :class="classContentMenuByDevice">
        <p>{{ child.name }}</p>
      </v-card-text>

      <v-card-text class="price" :class="classContentMenuByDevice">
        <p>{{ transformPriceCurrency }}</p>
      </v-card-text>

      <v-card-text
        v-if="child.priceMenu"
        class="price"
        :class="classContentMenuByDevice"
      >
        <p>{{ transformPriceMenuCurrency }}</p>
      </v-card-text>

      <v-card-text :class="classContentMenuByDevice">
        <div :class="classSwitchMarginAutoMobile">
          <v-switch
            v-model="switchStatus"
            color="teal accent-4"
            inset
            :label="checkPreviewStatus"
          ></v-switch>
        </div>

        <div :class="classSwitchMarginAutoMobile">
          <v-switch
            v-model="switchInStock"
            color="red"
            inset
            :label="checkStockStatus"
          ></v-switch>
        </div>
      </v-card-text>

      <v-card-actions>
        <div :class="classButtonActionMarginAutoMobile">
          <v-btn color="teal accent-4" icon @click="handleClick">
            <v-icon>mdi-pencil-outline</v-icon>
          </v-btn>

          <!-- duplicate product -->
          <v-btn color="blue accent-4" icon @click="handleClickClone">
            <v-icon>mdi-content-duplicate</v-icon>
          </v-btn>

          <!-- modal delete & icon delete -->
          <ModalDialogueDelete
            :show-modal.sync="modalDelete"
            @click="removeItem"
          >
            <template #title> Confirmation de suppression </template>

            <template #content>
              Êtes-vous sûr de vouloir supprimer ?

              <br />

              <div class="ma-auto">
                <v-chip color="red" label outlined> #{{ child.name }} </v-chip>
              </div>

              <div v-if="error">{{ message }}</div>
            </template>
          </ModalDialogueDelete>
        </div>
      </v-card-actions>
    </div>

    <!--  MODAL  -->
    <ModalCreateEditMenuConfig
      v-if="showModal"
      :show-modal-menu.sync="showModal"
      :item-menu="child"
      :context="CONTEXT_EDITION"
    />
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import ModalDialogueDelete from "../../../../common/ui-components/ModalDialogue/ModalDialogueDelete";
import BaseImage from "../../../../common/ui-components/BaseImage";
import { CONTEXT_EDITION } from "@/components/BackOffice/MenuConfigurator/Form/CreateMenuConfigurator/context-menu-configurator";
import { transformPrice } from "@/components/common/utils/helpers";
import ModalCreateEditMenuConfig from "@/components/BackOffice/MenuConfigurator/ModalCreateEditMenuConfig/ModalCreateEditMenuConfig";
import modal from "@/mixins/modal";
import axiosClient from "@/components/common/utils/axiosClient";

export default {
  name: "ChildItem",
  components: {
    BaseImage,
    ModalCreateEditMenuConfig,
    ModalDialogueDelete,
  },

  mixins: [modal],

  props: {
    child: {
      type: Object,
      required: true,
    },

    parentId: {
      type: Number,
      required: true,
    },
  },

  data() {
    return {
      CONTEXT_EDITION,

      error: false,
      message: "",
      modalDelete: false,
    };
  },

  computed: {
    ...mapGetters({
      currentUser: "fetchUser/getUser",
      restaurant: "fetchDefaultData/getRestaurant",
      menuConfigurators: "menuConfigurator/getMenus",
    }),

    hasFileName() {
      return this.child?.mediaManager?.fileName;
    },

    switchInStock: {
      get() {
        return this.child?.inStock;
      },

      set(value) {
        this.$store.dispatch("menuConfigurator/UPDATE_CHILD_IN_STOCK", {
          value,
          id: this.child.id,
          parentId: this.parentId,
        });

        this.handleStatusInStock(value);
      },
    },

    switchStatus: {
      get() {
        return this.child?.preview;
      },

      set(value) {
        this.$store.dispatch("menuConfigurator/UPDATE_CHILD_PREVIEW", {
          value,
          id: this.child.id,
          parentId: this.parentId,
        });
        this.handleStatus(value);
      },
    },

    checkPreviewStatus() {
      return this.switchStatus ? "Visible" : "non Visible";
    },

    checkStockStatus() {
      return this.switchInStock ? "En stock" : "En rupture";
    },

    transformPriceCurrency() {
      return transformPrice(this.child.price);
    },

    transformPriceMenuCurrency() {
      return transformPrice(this.child.priceMenu);
    },

    classFlexDirection() {
      return this.$device.isMobile ? "flex-column" : "flex-row";
    },

    classImageMarginAutoMobile() {
      return this.$device.isMobile ? "img-center" : "";
    },

    classSwitchMarginAutoMobile() {
      return this.$device.isMobile ? "switch-center" : "";
    },

    classButtonActionMarginAutoMobile() {
      return this.$device.isMobile ? "button-action" : "";
    },

    classContentMenuByDevice() {
      return this.$device.isMobile
        ? "content-menu-text-mobile"
        : "content-menu-text text-truncate";
    },
  },

  methods: {
    ...mapActions({
      removeMenuConfigurator: "menuConfigurator/REMOVE_MENU_CONFIGURATOR",
      setStatus: "menuConfigurator/SET_STATUS_MENU_CONFIGURATOR",
      setStatusInStock:
        "menuConfigurator/SET_STATUS_IN_STOCK_MENU_CONFIGURATOR",
    }),

    src(child) {
      return child?.mediaManager?.fileName;
    },

    removeItem() {
      this.removeMenuConfigurator({
        user: this.currentUser.id,
        child: this.child,
        id: this.child.id,
        storeId: this.restaurant.id,
      }).then(() => this.$emit("update:modalDelete", !this.modalDelete));
    },

    handleClickClone() {
      axiosClient
        .post(`menu_configurators/${this.child.id}/clone`)
        .then(({ data }) => {
          this.$store.commit("menuConfigurator/ADD_MENU_CONFIGURATOR", {
            ...data,
            status: "clone",
          });
        })
        .catch((e) => this.$toast.error(e));
    },

    handleClick() {
      this.$store.commit(
        "menuConfigurator/SET_ONE_CHILD_MENU_CONFIGURATOR",
        this.child
      );

      this.displayModal();
    },

    handleStatus(status) {
      this.setStatus({
        status,
        id: this.child.id,
      });
    },

    handleStatusInStock(status) {
      this.setStatusInStock({
        status,
        id: this.child.id,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.content-menu-text-mobile {
  text-align: center;
  margin: 0 auto;
}

.v-card__text {
  //margin: 20px auto;
}

.content-menu-text {
  text-align: center;
  margin-top: 20px;

  p {
    margin: 50px auto;
  }
}

.item {
  width: 100%;
}

.image {
  margin: 50px auto;
}

.img-item {
  margin: 0 auto;
}

.switch-center {
  margin: 0 auto;
  width: 50%;
}

.button-action {
  margin: 0 auto;
}

.price {
  font-size: 1rem;
  font-weight: 800;
}
</style>
