<template>
  <ContainerBackOffice>
    <MyAccount />
  </ContainerBackOffice>
</template>

<script>
import MyAccount from "@/components/BackOffice/MyAccount/MyAccount";
import ContainerBackOffice from "@/components/common/ui-components/ContainerBO/ContainerBackOffice";

export default {
  name: "Index",
  components: { ContainerBackOffice, MyAccount },
  middleware: ["auth"],
};
</script>
