<template>
  <Fragment>
    <CardAddressRestaurant />

    <FilterCategoriesRestaurant
      v-if="menuConfigurators.length > 2"
      class="container-categories"
    />

    <Slider v-if="banners.length" autoplay />

    <div
      id="container-card-restaurant"
      class="container-card-restaurant d-flex flex-row flex-wrap"
    >
      <RestaurantMenuItem class="container-menu-item" />
    </div>
  </Fragment>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "RestaurantMenu",
  components: {
    Slider: () => import("@/components/common/ui-components/Slider/Slider"),

    CardAddressRestaurant: () =>
      import("./RestaurantCardAddress/CardAddressRestaurant"),

    FilterCategoriesRestaurant: () =>
      import(
        "../../common/ui-components/FilterCategoriesRestaurant/FilterCategoriesRestaurant"
      ),

    RestaurantMenuItem: () => import("./RestaurantMenuItem/RestaurantMenuItem"),
  },

  fetch() {
    this.fetchBanners();
  },

  computed: {
    ...mapState({
      banners: (state) => state.banner.banners,
      menuConfigurators: (state) => state.menuConfigurator.menuConfigurators,
    }),
  },

  methods: {
    ...mapActions({
      fetchBanners: "banner/fetchBannersFront",
    }),
  },
};
</script>

<style lang="scss" scoped>
.container-card-restaurant {
  max-width: 90%;
  margin: 0 auto;
}

.container-menu-item {
  width: 100%;
}

@media (max-width: 1300px) {
  .container-menu-item {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .container-menu-item {
    margin-left: 0;
    width: 100%;
  }
}
</style>
