<template>
  <div class="root">
    <v-container class="fixed-width">
      <v-row class="spacing6">
        <v-col md="6" class="pa-6">
          <title-main :align="isMobile ? 'center' : 'left'">
            <strong> FAQ </strong>
          </title-main>
          <p
            class="text use-text-subtitle2"
            :class="[isMobile ? 'text-center' : 'text-left']"
          >
            Une question ? Consultez notre foire aux questions pour trouver
            votre réponse ou nous écrire à contact@imenus.fr
          </p>
          <div class="illustration">
            <img
              :src="require('assets/images/saas/faq.png')"
              alt="illustration"
            />
          </div>
        </v-col>
        <v-col md="6" cols="12" class="pa-6">
          <div class="accordion">
            <v-expansion-panels v-model="panel" active-class="expanded">
              <v-expansion-panel
                v-for="(item, index) in faqData"
                :key="index"
                class="paper"
              >
                <v-expansion-panel-header class="content">
                  <p class="heading">
                    {{ item.q }}
                  </p>
                </v-expansion-panel-header>
                <v-expansion-panel-content class="detail">
                  <p>
                    {{ item.a }}
                  </p>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import TheTitle from "../Title/TheTitle";

const faqData = [
  {
    q: "Dois-je installer moi-même la solution ?",
    a:
      "Nous nous occupons de tout ! Nous installerons votre menu et paramétrons votre système de commande en ligne." +
      " Dès que tout est prêt, une formation complète vous permettra de prendre la main sur votre outil.",
  },
  {
    q: "Quels modes de paiements proposez-vous ?",
    a: "Nous acceptons toutes les cartes de crédit, les paiements électroniques. ",
  },
  {
    q: "À qui appartiennent mes données ?",
    a: "Les informations collectées dans Imenus, en particulier les données personnelles et les consentements de communication de vos clients, vous appartiennent.Vous pouvez exporter toutes vos informations depuis Imenus à tout moment, dans n’importe quel plan d’abonnement.",
  },
  {
    q: "Comment puis-je accepter des commandes ?",
    a: "Vous aurez besoin d’une connexion Internet et d’un appareil avec un navigateur Web dans votre restaurant. Vous verrez les commandes dans Imenus. ",
  },
];

export default {
  name: "Faq",
  components: {
    "title-main": TheTitle,
  },

  data() {
    return {
      panel: 0,
      faqData,
    };
  },

  computed: {
    isMobile() {
      return this.$device.isMobile;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "faq-style";
</style>
