<template>
  <v-container>
    <BaseAlertMessage v-if="error" class="error-info" type="error">
      <template #title>Erreur : </template>
      <template #body> {{ message }}</template>
    </BaseAlertMessage>

    <ValidationObserver v-slot="{ invalid }">
      <transition name="slide-fade">
        <v-card v-show="show" class="mx-auto mb-12">
          <v-card-title>
            Informations personnelles
            <hr />
          </v-card-title>
          <v-card-text>
            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>

              <v-text-field
                v-model="user.firstName"
                label="Nom de famille"
                outlined
                clearable
              ></v-text-field>
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>

              <v-text-field
                v-model="user.lastName"
                label="Prénom.."
                outlined
                clearable
              ></v-text-field>
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required|email">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>

              <v-text-field
                v-model="user.email"
                label="Email.."
                outlined
                clearable
              ></v-text-field>
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>
              <VuePhoneNumberInput
                v-model="user.phoneNumber"
                clearable
                :no-flags="true"
                :no-country-selector="true"
              />
            </ValidationProvider>
            <br />

            <ValidationProvider
              v-slot="{ errors }"
              rules="min:8|required|confirmed:confirmation"
            >
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>
              <v-text-field
                v-model="user.password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                label="Mot de passe"
                counter
                hint="At least 8 characters"
                outlined
                clearable
                @click:append="showPassword = !showPassword"
              ></v-text-field>
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" vid="confirmation">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>
              <v-text-field
                v-model="user.rePassword"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                label="Retapez votre mot de passe"
                outlined
                counter
                hint="At least 8 characters"
                clearable
                @click:append="showPassword = !showPassword"
              ></v-text-field>
            </ValidationProvider>
          </v-card-text>

          <v-card-title>
            <h3>Informations de la société</h3>
            <hr />
          </v-card-title>

          <v-card-text>
            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">{{
                errors[0]
              }}</span>
              <v-text-field
                v-model="user.name"
                label="Nom du restaurant"
                outlined
                clearable
              ></v-text-field>
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">{{
                errors[0]
              }}</span>
              <v-text-field
                v-model="user.address"
                label="Adresse"
                outlined
                clearable
              ></v-text-field>
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">{{
                errors[0]
              }}</span>
              <v-text-field
                v-model="user.city"
                label="Ville"
                outlined
                clearable
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              rules="required|integer|min:4"
            >
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>
              <v-text-field
                v-model="user.zipCode"
                label="Code postale"
                outlined
                clearable
              ></v-text-field>
            </ValidationProvider>

            <!-- TODO: decommenter des que le register et automatiser -->
            <ValidationProvider
              v-slot="{ errors }"
              rules="integer|required|min:12"
            >
              <span v-show="errors.length > 0" class="is-invalid">{{
                errors[0]
              }}</span>
              <v-text-field
                v-model="user.companyNumber"
                label="SIRET"
                outlined
                clearable
              ></v-text-field>
            </ValidationProvider>
          </v-card-text>

          <v-card-title> Information complèmentaires</v-card-title>

          <v-card-text>
            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">{{
                errors[0]
              }}</span>
              <v-text-field
                v-model="stripeKey"
                label="Key stripe"
                outlined
                clearable
              ></v-text-field>
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">{{
                errors[0]
              }}</span>
              <v-select
                v-model="selectedCategory"
                :items="categories"
                label="Categorie"
                item-text="name"
                outlined
                clearable
              />
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>
              <v-select
                v-model="selectedCountry"
                :items="countries"
                label="Pays"
                outlined
                clearable
              />
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>

              <v-text-field
                v-model="longitude"
                label="Longitude"
                append-icon="mdi-map"
                outlined
                clearable
              />
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>

              <v-text-field
                v-model="latitude"
                append-icon="mdi-map"
                label="Latitude"
                outlined
                clearable
              />
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>

              <v-text-field
                v-model="rating"
                type="Number"
                label="Notation"
                append-icon="mdi-star"
                outlined
                clearable
              />
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" rules="required">
              <span v-show="errors.length > 0" class="is-invalid">
                {{ errors[0] }}
              </span>

              <v-text-field
                v-model="folderName"
                label="Nom du dossier cloud"
                append-icon="mdi-cloud"
                outlined
                clearable
              />
            </ValidationProvider>
          </v-card-text>
        </v-card>
      </transition>

      <BaseButton
        block
        :elevation="1"
        color="black"
        :disabled="invalid"
        :loading="loading"
        @click="register"
      >
        <template #name>
          <span class="btn-white">register</span>
        </template>
      </BaseButton>
    </ValidationObserver>
  </v-container>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import VuePhoneNumberInput from "vue-phone-number-input";
import "vue-phone-number-input/dist/vue-phone-number-input.css";
import { mapState } from "vuex";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton.vue";
import BaseAlertMessage from "@/components/common/ui-components/BaseAlertMessage/BaseAlertMessage";
import axiosClient from "~/components/common/utils/axiosClient";

const emptyForm = () => {
  return {
    email: "",
    name: "",
    firstName: "",
    lastName: "",
    password: "",
    rePassword: "",
    phoneNumber: "",
    zipCode: "",
    address: "",
    city: "",
    companyNumber: "0000000000000",
  };
};

export default {
  name: "FormRegister",

  components: {
    BaseButton,
    VuePhoneNumberInput,
    ValidationObserver,
    ValidationProvider,
    BaseAlertMessage,
  },

  data() {
    return {
      message: "",
      error: false,

      show: true,
      loading: false,
      showPassword: false,

      selectedCategory: "",
      longitude: "",
      latitude: "",
      rating: 0,
      folderName: "",

      selectedCountry: "FR",
      stripeKey: "ENTER-KEY-STRIPE",
      countries: ["FR", "DZ"],

      user: emptyForm(),
    };
  },

  computed: {
    ...mapState({
      currentUser: (state) => state.fetchUser.user,
      categories: (state) => state.fetchUser.categories,
    }),
  },

  methods: {
    register() {
      this.loading = true;

      const user = {
        ...this.user,
        category: this.selectedCategory,
        country: this.selectedCountry,
        stripeKey: this.stripeKey,
        longitude: this.longitude,
        latitude: this.latitude,
        rating: this.rating,
        folderName: this.folderName,
      };

      axiosClient
        .post(`/register`, user)
        .then(({ data }) => {
          this.loading = false;

          this.$toast.success(data);
          this.user = emptyForm();
        })
        .catch((e) => {
          this.$toast.error(e);
          this.loading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.btn-white {
  color: white;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(150px);
  opacity: 0;
}
</style>
