<template>
  <ContainerBackOffice>
    <ContainerUsers />
  </ContainerBackOffice>
</template>

<script>
import ContainerUsers from "~/components/AdminOffice/ContainerUsers/ContainerUsers";
import ContainerBackOffice from "@/components/common/ui-components/ContainerBO/ContainerBackOffice";
import axiosClient from "~/components/common/utils/axiosClient";
export default {
  name: "Index",
  components: { ContainerBackOffice, ContainerUsers },

  middleware: ["auth"],

  fetch() {
    axiosClient.get(`stores`).then(({ data }) => {
      this.$store.commit("fetchUser/SET_USERS", data["hydra:member"]);
    });
  },
};
</script>
