<template>
  <Fragment>
    <HeadingBack icon="receipt"> Facture </HeadingBack>

    <div class="container-invoice d-flex flex--wrap">
      <div
        v-for="(invoice, index) in invoices"
        :key="`invoice-${index}`"
        class="pa-2 ma-3"
      >
        <v-card>
          <v-card-title>
            <img class="img-pdf" src="~/assets/images/pdf.png" alt="" />
          </v-card-title>
          <v-card-text>
            Facture N° <strong>{{ invoice.number }}</strong>
          </v-card-text>
        </v-card>
        <v-btn
          class="mb-10 white--text"
          color="teal"
          block
          @click="download(invoice.downloadPdf)"
        >
          <v-icon left dark> mdi-download </v-icon>

          Télécharger
        </v-btn>
      </div>
    </div>
  </Fragment>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import HeadingBack from "../../common/ui-components/HeadingBack/HeadingBack";

export default {
  name: "Invoice",
  components: { HeadingBack },
  data() {
    return {
      isLoading: true,
    };
  },

  computed: {
    ...mapGetters({
      currentUser: "fetchUser/getUser",
      restaurant: "fetchDefaultData/getRestaurant",
      invoices: "invoice/getInvoices",
    }),
  },

  mounted() {
    this.fetchInvoices({
      customerStripe: this.restaurant.shopConfig.stripeKey,
    }).then(() => {
      this.isLoading = false;
    });
  },

  methods: {
    ...mapActions({
      fetchInvoices: "invoice/GET_INVOICES_USER",
    }),

    download(url) {
      window.location = url;
    },
  },
};
</script>

<style lang="scss" scoped>
.container-invoice {
  width: 100%;
  margin: 0 auto;

  .img-pdf {
    margin: 0 auto;
    max-width: 40%;
  }
}
</style>
