<template>
  <ContainerBackOffice>
    <HeadingBack icon="image-frame">
      Gestion des banniéres publicitaire
    </HeadingBack>

    <v-card class="mb-8">
      <v-card-title>
        <div class="model-image-banner">
          <span class="caption text--accent-4">Dimension de l'image</span>
          <p>
            <strong>400 x 1060 Desktop</strong> <br />
            <strong>133 x 288 Mobile</strong>
          </p>
        </div>
      </v-card-title>
    </v-card>

    <div class="d-flex flex-row-reverse ma-2 text-white">
      <BaseButton class="text-white" @click="displayModal">
        <template #name>
          <v-icon left>mdi-image-plus</v-icon>
          <span class="btn-white">Ajouter</span>
        </template>
      </BaseButton>
    </div>

    <v-data-table
      :headers="headers"
      :items="items"
      item-key="id"
      loading-text="Chargement, veuillez patienter.."
      :items-per-page="15"
      class="elevation-1"
    >
      <template #[`item.picture`]="{ item }">
        <BaseImage
          :src="fileName(item)"
          :lazy-src="fileName(item)"
          :max-height="100"
          :max-width="100"
          class="img"
        />
      </template>

      <template #[`item.active`]="{ item }">
        <v-chip
          class="ma-2"
          :color="item.active ? 'blue lighten-2' : 'orange lighten-2'"
          text-color="white"
        >
          {{ item.active ? "Actif" : "Brouillon" }}
        </v-chip>
      </template>

      <template #[`item.device`]="{ item }">
        <v-chip class="ma-2" text-color="white">
          {{ item.device === "mobile" ? "mobile" : "dektop" }}
        </v-chip>
      </template>

      <template #[`item.actions`]="{ item }">
        <v-btn icon @click="editPicture(item)">
          <v-icon :size="32" class="mr-2" color="blue lighten-2">
            mdi-image-edit-outline
          </v-icon>
        </v-btn>

        <v-btn icon @click="deletePicture(item)">
          <v-icon :size="32" class="mr-2" color="red lighten-2">
            mdi-image-remove-outline
          </v-icon>
        </v-btn>
      </template>
    </v-data-table>

    <ModalBanner v-if="showModal" :show-modal.sync="showModal" />
  </ContainerBackOffice>
</template>

<script>
import { mapActions, mapState } from "vuex";
import ContainerBackOffice from "@/components/common/ui-components/ContainerBO/ContainerBackOffice.vue";
import HeadingBack from "@/components/common/ui-components/HeadingBack/HeadingBack.vue";
import ModalBanner from "@/pages/Back/Banner/ModalBanner/ModalBanner.vue";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton.vue";
import modal from "@/mixins/modal";
import BaseImage from "@/components/common/ui-components/BaseImage.vue";

export default {
  name: "Index",
  components: {
    BaseImage,
    BaseButton,
    ModalBanner,
    HeadingBack,
    ContainerBackOffice,
  },

  mixins: [modal],
  middleware: "auth",

  data() {
    return {
      headers: [
        {
          text: "image",
          width: 10,
          align: "center",
          sortable: false,
          value: "picture",
        },

        {
          text: "Status",
          width: 10,
          sortable: true,
          align: "center",
          value: "active",
        },
        {
          text: "name",
          width: 10,
          sortable: false,
          align: "center",
          value: "name",
        },
        {
          text: "Date de début",
          width: 10,
          sortable: false,
          align: "center",
          value: "startTime",
        },

        {
          text: "Date de fin",
          width: 10,
          sortable: false,
          align: "center",
          value: "endTime",
        },

        {
          text: "Date de création",
          width: 10,
          sortable: false,
          align: "center",
          value: "createdAt",
        },
        { text: "Actions", value: "actions", sortable: false, width: 110 },
      ],
    };
  },

  fetch() {
    this.fetchBanners();
  },

  computed: {
    ...mapState({
      banners: (state) => state.banner.banners,
      restaurant: (state) => state.auth.user.store,
    }),

    items() {
      return this.banners;
    },
  },

  methods: {
    ...mapActions({
      fetchBanners: "banner/fetchBanners",
      bannerRemove: "banner/DELETE",
    }),

    fileName(item) {
      return item?.picture?.fileName;
    },

    deletePicture(item) {
      this.bannerRemove(item);
    },

    editPicture(item) {
      const picture = this.banner?.picture;
      if (picture) {
        this.$store.commit(
          "Upload/UPLOAD_FILE",
          new File(
            picture?.size ?? 0,
            `${this.banner?.name}.${picture.format}`,
            {
              type: ["image/png", "image/jpeg", "image/webp"],
            }
          )
        );
      }

      this.$store.commit("banner/SET_BANNER", {
        ...item,
        startTime: item.startTime,
        endTime: item.endTime,
      });
      this.showModal = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.model-image-banner {
  margin: 0 auto;
  padding: 15px;
  height: 120px;
  max-width: 1060px;
  text-align: center;
}
</style>
