<template>
  <ContainerBackOffice>
    <ContainerRoomService />
  </ContainerBackOffice>
</template>

<script>
import ContainerBackOffice from "@/components/common/ui-components/ContainerBO/ContainerBackOffice";
import ContainerRoomService from "@/components/common/ui-components/ContainerRoomService";
export default {
  name: "Index",
  components: { ContainerRoomService, ContainerBackOffice },
  middleware: ["fetchUser"],
};
</script>
