<template>
  <v-container>
    <ContainerProductInterface />
  </v-container>
</template>

<script>
import ContainerProductInterface from "@/components/common/ui-components/ProduuctInterface/ContainerProductInterface";
export default {
  name: "RoomServiceInterface",
  components: { ContainerProductInterface },
  middleware: [],
};
</script>
