<template>
  <div :id="formattedStringDash" class="container-title-category">
    <div class="wrap">
      <p class="sub-category">
        {{ category.subtitle }}
      </p>

      <span class="title-category fancy">
        {{ category.title }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "CategoriesMenuView",
  props: {
    categoryMenu: {
      type: Object,
      required: true,
    },

    index: {
      type: Number,
      required: true,
    },
  },

  computed: {
    category() {
      const categoryName = this.categoryMenu.category.trim();
      const splitCategory = categoryName.split(" ");

      if (splitCategory.length > 1) {
        const subtitle = splitCategory[0];
        splitCategory.shift();

        return {
          subtitle,
          title: splitCategory.toString().replace(",", " "),
        };
      }

      return { title: categoryName.toUpperCase() };
    },

    formattedStringDash() {
      const replaceSpaceByDash = this.categoryMenu.category.replace(" ", "");

      return `list-item-${replaceSpaceByDash}-${this.index}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.container-title-category {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: -webkit-linear-gradient(#878787, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  & p.sub-category {
    font-weight: 100;
    margin-bottom: -20px;
    padding: 0;
    color: white;
    font-family: Roboto, serif;
  }

  & span.title-category {
    font-family: WorkSans-ExtraBold, serif;
    text-transform: uppercase;
    color: white;
    padding: 0 1px;
    border-bottom: solid BLACK 0.5rem;
  }
}

@media (max-width: 499px) {
  .container-title-category {
    & span.title-category {
      font-size: 11vw !important;
    }
  }
}

@media (min-width: 500px) and (max-width: 1199px) {
  .container-title-category {
    & span.title-category {
      font-size: 5vw !important;
    }
  }
}

@media (min-width: 1199px) {
  .container-title-category {
    & span.title-category {
      font-size: 3.4vw !important;
    }
  }
}
</style>
