<template>
  <Fragment>
    <div class="wrap-menu-title">
      <div class="subtitle">
        <span v-if="item.subTitle">
          {{ item.subTitle | capitalize }}
        </span>
      </div>

      <div class="title">
        {{ item.name | capitalize }}
      </div>
    </div>

    <div class="d-flex flex-row">
      <div class="item-image">
        <v-btn
          v-if="item.allergen"
          icon
          class="item-allergen"
          @click="displayAllergen(item)"
        >
          <v-icon color="lighten-2">
            mdi-information-slab-circle-outline
          </v-icon>
        </v-btn>

        <div v-if="!item.inStock" class="item-out-stock">
          <span>En rupture de stock</span>
        </div>

        <div v-else ref="wrap-price" class="container-price">
          <div :class="priceFloatDeviceClass(item)">
            <span class="style-price">
              {{ transformPriceCurrency(item) }}
            </span>

            <span class="float-price">
              {{ floatPrice(item) }}
              <span v-if="item.priceMenu" class="menu-price-title"> menu </span>
            </span>
          </div>

          <div v-if="item.priceMenu" class="only-price">
            <span class="only-price-title"> Seul: </span>
            <span>{{ priceOnly(item.price) }} </span>
          </div>
        </div>

        <v-chip
          v-if="item.supplement && item.supplementPrice"
          :color="styleColor"
          class="pa-2 text-white supplement-chips"
        >
          <strong> +{{ item.supplementPrice }}€ {{ item.supplement }} </strong>
        </v-chip>

        <v-img v-if="!src(item)" class="empty-img" />
        <BaseImage
          v-else
          class="img-item"
          :max-width="700"
          :max-height="700"
          :src="src(item)"
          :alt="item.name"
        />
      </div>

      <div class="item-menu">
        <div
          v-if="hasDescription(item) || $device.isDesktopOrTablet"
          class="description-item text-justify pa-1"
          v-html="description(item)"
        />
      </div>
    </div>

    <ModalInformationAllergen
      v-if="showModal"
      :show-modal.sync="showModal"
      :product="item"
    />
  </Fragment>
</template>

<script>
import debounce from "lodash/debounce";
import { Fragment } from "vue-fragment";
import { mapState } from "vuex";
import {
  transformPrice,
  transformSplitString,
} from "@/components/common/utils/helpers";
import ModalInformationAllergen from "@/components/RestaurantMenu/components/RestaurantMenuItem/RestaurantItems/Modal/ModalInformationAllergen.vue";

export default {
  name: "ChildView",
  components: {
    ModalInformationAllergen,
    BaseImage: () => import("~/components/common/ui-components/BaseImage"),
    Fragment,
  },

  props: {
    item: {
      type: Object,
      require: true,
      default: undefined,
    },
  },

  data() {
    return {
      isActive: false,
      showModal: false,
    };
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
    }),

    styleColor() {
      return this.restaurant?.configShop?.colorBase ?? "#000";
    },
  },

  mounted() {
    this.$refs["wrap-price"].style.background = this.styleColor;
    debounce(this.handleScroll, 100);
    window.addEventListener("scroll", this.handleScroll);
  },

  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },

  methods: {
    src(item) {
      return item?.mediaManager?.fileName;
    },

    hasDescription(item) {
      return this.$device.isMobile && item?.description !== "";
    },

    description(item) {
      return item?.description;
    },

    displayAllergen() {
      this.showModal = true;
    },

    priceOnly(data) {
      return transformPrice(data);
    },

    transformPriceCurrency(value) {
      const price = value.priceMenu ? value.priceMenu : value.price;
      return this.splitPrice(price)[0];
    },

    floatPrice(value) {
      const price = value.priceMenu ? value.priceMenu : value.price;
      const splitPrice = this.splitPrice(price);

      return `,${splitPrice[1]}`;
    },

    splitPrice(data) {
      const price = transformPrice(data);
      return price.toString().split(",");
    },

    priceFloatDeviceClass(item) {
      return this.$device.isMobile && !item.description
        ? "price-menu-mobile"
        : "price-menu-float";
    },

    handleScroll() {
      const categorySplit = transformSplitString(this.item.menuTitle.name, " ");
      const el = document.getElementById(`menu-${categorySplit}`);
      const rect = el.getBoundingClientRect();

      this.isActive =
        rect.top <= this.$device.isDesktopOrTablet
          ? 100
          : 20 &&
            rect.bottom <=
              (window.innerHeight || document.documentElement.clientHeight) &&
            rect.height > 10;

      this.isActive
        ? this.$root.$emit("active-menu", this.item.menuTitle.name)
        : this.$root.$emit("active-menu", null);
    },
  },
};
</script>

<style lang="scss" scoped>
.supplement-chips {
  font-size: 12px;
  position: relative;
  top: 6rem;
  left: 4rem;
  z-index: 3;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.item-out-stock {
  font-size: 1rem;
  text-align: center;
  height: 66px;

  span {
    color: #cc4728;
  }
}

.wrap-menu-title {
  text-align: center;
  position: relative;
  top: 3rem;
  left: 2rem;

  .subtitle {
    font-weight: 100;
  }

  .title {
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
  }
}

.item-image {
  //border: 2px solid red;
  max-width: 120px;
  height: 11rem;
  //margin: 1em auto;

  .img-item {
    //border: 2px solid blue;
    width: 100%;
    //margin: 10px auto;
  }

  .empty-img {
    width: 120px;
    max-width: 120px;
    min-width: 150px;
  }
}

.item-menu {
  width: 100%;
  margin: auto;

  .add-cart-button {
    width: 100%;
    text-align: center;

    .v-btn:not(.v-btn--round).v-size--default {
      width: 100% !important;
      height: 2rem !important;
      color: #eeeeee;
    }

    @media (max-width: 700px) {
      .v-btn:not(.v-btn--round).v-size--default {
        width: 100% !important;
      }
    }
  }

  .container-price-button {
    margin: 0 auto;
  }

  .sub-title-item {
    font-weight: 300;
    height: 4vh;
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
  }

  .sub-title-item-not-description {
    font-weight: 300;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    font-family: Roboto, sans-serif;
  }

  .sub-title-item-not-bg {
    height: 4vh;
    background-color: white;
    width: 100%;
  }

  .title-item {
    //border: 2px solid blue;
    padding: 5px;
    font-weight: 800;
    color: black;
    font-size: 16px;
    text-align: center;
    background-color: #f7f7f7;
    width: 100%;
    font-family: Roboto, sans-serif;
  }

  .sub-title-item {
    font-weight: 300;
    font-family: Roboto, sans-serif;
  }

  .title-item-not-description {
    text-align: center;
    font-weight: 800;
    color: $btn-second;
    font-size: 18px;
    font-family: Roboto, sans-serif;
  }

  .description-item {
    width: 100%;
    //border: 2px solid red;
    height: 3rem;
    //margin-top: 25px;
    color: #2f2f2f;
    font-size: 12px;
    font-family: Roboto, sans-serif;
  }
}

.container-price {
  position: relative;
  z-index: 2;
  height: auto;
  padding: 12px;
  width: auto;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

  .price-menu-float {
    .style-price {
      font-size: 1rem;
      font-weight: 500;
      color: white;
    }

    .price-menu-no-float {
      float: none !important;
    }

    .float-price {
      color: white;
      font-size: 15px;
      font-weight: 300;
    }

    .menu-price-title {
      font-size: 13px;
      vertical-align: top;
      margin-left: -32px;
      position: relative;
      top: -10px;
      right: 9px;
    }
  }

  .only-price {
    float: right;
    color: white;
    font-weight: 300;
    font-size: 12px;

    .only-price-title {
      font-weight: 300;
      font-size: 12px;
    }
  }

  .style-menu-price {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 7px;
    margin-left: 35px;
  }

  .title-item-style {
    font-weight: 600;
    color: $btn-second;
  }
}

@media (max-width: 700px) {
  .supplement-chips {
    font-size: 12px;
    position: relative;
    top: 6rem;
    left: 5rem;
    z-index: 3;
  }

  .container-menu {
    width: 100% !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    margin: 1px;
  }

  .container-price {
    .price-menu-mobile {
      float: none !important;
      text-align: center;

      .style-price {
        font-size: 1rem;
        font-weight: 500;
        color: white;
      }

      .float-price {
        color: white;
        font-weight: 300;
      }
    }
  }

  .description-item {
    //border: 2px solid blue;
    width: 90%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #737373;
    font-size: 12px;
    font-family: Roboto, sans-serif;
  }

  .only-price {
    float: right;
    color: white;
    font-weight: 300;

    .only-price-title {
      font-weight: 300;
      font-size: 11px;
    }
  }

  .title-item {
    font-size: 1rem !important;
  }

  .item-image {
    width: 80%;
    margin: 25px auto;

    .img-item {
      width: 100%;
      margin: 15px auto !important;
    }
  }
}

@media (min-width: 1440px) {
  .container-menu {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    width: 32%;
    margin: 5px;
  }

  .style-price {
    font-size: 1rem;
    color: white;
  }

  .title-item {
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #777777;
    font-family: Roboto, sans-serif;
  }
}

@media (max-width: 1440px) {
  .container-menu {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    width: 48%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .style-price {
    font-size: 1rem;
    margin-bottom: -13px;
    color: white;
  }

  .title-item {
    font-size: 0.7rem;
    text-transform: capitalize;
    color: #777777;
    font-family: Roboto, sans-serif;
  }

  .item-image {
    margin: 8px auto;
    width: 45vw;
  }

  .description-item {
    //border: 2px solid blue;
    width: 80%;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 2vh;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #737373;
    font-size: 12px;
    font-family: Roboto, sans-serif;
  }

  .item-allergen {
    margin: 0;
    padding: 0;
  }
}
</style>
