<template>
  <div class="d-flex flex-wrap mb-16 mt-5">
    <div
      v-for="(item, indexItem) in sortChildrenByPrice"
      :key="`${item.category}-${indexItem}`"
      class="container-menu"
    >
      <div :class="flexClassByDevice">
        <transition name="fade" appear>
          <div v-show="true" key="content">
            <ChildView :item="item" />
          </div>
        </transition>

        <transition name="fadeBtn" appear>
          <div v-show="true" key="contentBtn">
            <div class="container-price-button">
              <div class="mb-1 add-cart-button">
                <BaseButton
                  v-if="isEnablePurchase"
                  id="button-purchase"
                  block
                  :color="styleColor"
                  :disabled="!item.inStock"
                  @click="openModalProduct(item)"
                >
                  <template #name>
                    <span class="btn-white">Ajouter</span>
                  </template>
                </BaseButton>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>

    <!--  MODAL ADD PRODUCT ITEM -->
    <ModalAddProductItem
      v-if="showModal"
      :product-item="productItem"
      :show-modal.sync="showModal"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { sortByPrice } from "~/components/common/utils/helpers";
import ChildView from "@/components/RestaurantMenu/components/RestaurantMenuItem/RestaurantItems/PremiumTemplates/ChildView";
import modal from "@/mixins/modal";

export default {
  name: "ChildMenuConfiguratorView",
  components: {
    ChildView,
    ModalAddProductItem: () =>
      import(
        "~/components/RestaurantMenu/components/RestaurantMenuItem/RestaurantItems/Modal/ModalAddProductItem"
      ),

    BaseButton: () =>
      import("~/components/common/ui-components/BaseButton/BaseButton"),
  },

  mixins: [modal],

  props: {
    children: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      productItem: null,
    };
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
      enablePurchase: (state) => state.checkout.enablePurchase,
    }),

    styleColor() {
      return this.restaurant.configShop.colorBase ?? "#000";
    },

    sortChildrenByPrice() {
      const childrenElement = [...this.children];
      return sortByPrice(childrenElement);
    },

    isEnablePurchase() {
      return (
        this.restaurant?.booking ||
        this.restaurant?.isShopStore ||
        this.$route.query["order-test"]
      );
    },

    flexClassByDevice() {
      return ["d-flex", "flex-column"];
    },
  },

  mounted() {
    setTimeout(() => {
      this.$refs.content.style.opacity = 1;
      this.$refs.content.style.transform = "translateY(100%)";
    }, 3000);
  },

  methods: {
    ...mapActions({
      addCartItem: "checkout/addCartItem",
    }),

    openModalProduct(item) {
      this.productItem = item;
      if (this.productItem) {
        this.displayModal();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.item-menu {
  width: 100%;
  padding: 5px;
  margin-left: 5px;

  .add-cart-button {
    width: 100%;
    text-align: center;

    .v-btn:not(.v-btn--round).v-size--default {
      width: 100% !important;
      height: 2rem !important;
      color: #eeeeee;
    }

    @media (max-width: 700px) {
      .v-btn:not(.v-btn--round).v-size--default {
        width: 100% !important;
      }
    }
  }

  .container-price-button {
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .container-menu {
    width: 100% !important;
    margin: 1px;
  }
}

@media (min-width: 1199px) {
  .container-menu {
    min-width: 24% !important;
  }
}

@media (min-width: 1199px) and (max-width: 1404px) {
  .container-menu {
    width: 32% !important;
  }
}

@media (min-width: 1440px) {
  .container-menu {
    width: 32%;
    margin: 5px;
  }
}

@media (max-width: 1440px) {
  .container-menu {
    width: 48%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
</style>
