<template>
  <div id="container-info-products">
    <div class="info-Allergen ma-3">
      Si vous souffrez d'allergies alimentaires ou si vous suivez un régime
      alimentaire spécifique veuillez en aviser directement le restaurant.
      <!--      avant de passer votre commande. -->
    </div>
    <div class="info-pictures-differ-products ma-3">
      ** Photos non contractuelles.
    </div>
  </div>
</template>

<script>
export default {
  name: "ContainerInfoProduct",
};
</script>

<style lang="scss" scoped>
.info-Allergen {
  font-size: 12px;
}
.info-pictures-differ-products {
  font-size: 12px;
}
</style>
