<template>
  <div class="container-menu-items">
    <div
      v-for="(menu, idx) in displayMenuConfigurators"
      :id="addSplit(menu.category)"
      :key="`${menu.category}-${menu.id}`"
      data-cy="menu-items"
    >
      <template v-if="isAllDefaultFilter(menu)">
        {{ menu.name }}

        <CategoriesMenuView :category-menu="menu" :index="idx" />

        <ChildMenuConfiguratorView :children="menu.items" />
      </template>
    </div>

    <hr />
    <ContainerInfoProduct />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import {
  sortByRanK,
  transformSplitString,
} from "@/components/common/utils/helpers";
import { ALL } from "@/components/common/ui-components/FilterCategoriesRestaurant/const-filters";

export default {
  name: "PremiumMenuStyle",
  components: {
    ContainerInfoProduct: () =>
      import(
        "@/components/RestaurantMenu/components/RestaurantMenuItem/RestaurantItems/PremiumTemplates/ContainerInfoProduct"
      ),

    CategoriesMenuView: () =>
      import(
        "~/components/RestaurantMenu/components/RestaurantMenuItem/RestaurantItems/PremiumTemplates/CategoriesMenuView"
      ),

    ChildMenuConfiguratorView: () =>
      import(
        "~/components/RestaurantMenu/components/RestaurantMenuItem/RestaurantItems/PremiumTemplates/childMenuConfiguratorView"
      ),
  },

  computed: {
    ...mapGetters({
      menuConfigurators: "menuConfigurator/getMenus",
    }),

    displayMenuConfigurators() {
      const menuConfigs = [...this.menuConfigurators];
      return sortByRanK(menuConfigs);
    },
  },

  methods: {
    addSplit(menuName) {
      const addSplit = transformSplitString(menuName, " ");

      return `menu-${addSplit}`;
    },

    isAllDefaultFilter(menuFilterAll) {
      return menuFilterAll.category !== ALL;
    },
  },
};
</script>

<style lang="scss" scoped>
.container-menu-items {
  @media (max-width: 700px) {
    max-width: 100%;
  }
  max-width: 80%;
  margin: 59px auto;
}
</style>
