<template>
  <Fragment>
    <CoverImageMenu />

    <RestaurantMenu />

    <ModalDisabledStoreInfo v-if="showModal" :show-modal.sync="showModal" />
  </Fragment>
</template>

<script>
import { mapState } from "vuex";
import modal from "@/mixins/modal";

export default {
  name: "Restaurant",
  components: {
    ModalDisabledStoreInfo: () =>
      import(
        "@/components/RestaurantMenu/components/ModalDisabledStoreInfo/ModalDisabledStoreInfo"
      ),

    RestaurantMenu: () => import("./components/RestaurantMenu"),

    CoverImageMenu: () =>
      import("./components/RestaurantCoverImage/CoverImageMenu"),
  },

  mixins: [modal],

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
    }),
  },

  mounted() {
    this.$cookies.set("im.restaurant", {
      city: this.restaurant.city,
      category: this.restaurant.category,
      slug: this.restaurant.slug,
    });

    this.$cookies.set("im.geoloc", {
      longitude: this.restaurant.longitude,
      latitude: this.restaurant.latitude,
    });
    this.displayModal(this.restaurant.disabledShopStore);
  },
};
</script>
