<template>
  <Fragment>
    <BaseButton
      v-if="visible"
      id="scroll-to-top"
      is-sticky
      :elevation="1"
      icon
      color="#dbdbdb"
      :width="50"
      data-cy="btn-scroll-top"
      @click="handleScroll"
    >
      <template #name>
        <v-icon class="pa-2 text-white"> mdi-chevron-up</v-icon>
      </template>
    </BaseButton>
  </Fragment>
</template>

<script>
import BaseButton from "../BaseButton/BaseButton";

export default {
  name: "ScrollToTop",
  components: { BaseButton },
  props: {},
  data() {
    return {
      visible: false,
    };
  },

  mounted() {
    window.addEventListener("scroll", this.scrollListener);
  },

  beforeDestroy() {
    window.removeEventListener("scroll", this.scrollListener);
  },

  methods: {
    handleScroll() {
      this.intervalId = setInterval(() => {
        if (window.scrollY === 0) {
          clearInterval(this.intervalId);
        }

        window.scroll(0, window.scrollY - 100);
      }, 0);
    },

    scrollListener() {
      this.visible = window.scrollY > 200;
    },
  },
};
</script>

<style lang="scss" scoped>
#scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 25px;
  z-index: 200;

  .v-icon {
    font-size: 1.5rem;
  }
}
</style>
