<template>
  <ContainerBackOffice>
    <HeadingBack icon="">Commande de produit fournisseur </HeadingBack>

    <div class="filter d-flex justify-space-between flex-row-reverse">
      <div>
        <v-icon>mdi-refresh</v-icon>
        <v-icon>mdi-apps</v-icon>

        <v-select
          v-model="filtered"
          :items="filters"
          label="Filtrer par catégorie"
          item-text="name"
          outlined
          clearable
        />
      </div>

      <div>
        <span>
          Trier par:
          <v-select
            v-model="filtered"
            :items="filters"
            label="Trier par pertinence"
            item-text="name"
            outlined
            clearable
          />
        </span>
      </div>
    </div>

    <div class="d-flex justify-start flex-wrap justify-space-between mx-auto">
      <v-card
        v-for="(product, index) in products"
        :key="index"
        :loading="product.loading"
        class="mx-auto my-12"
        max-width="274"
      >
        <template slot="progress">
          <v-progress-linear color="black" height="10" indeterminate />
        </template>

        <v-img height="250" :src="product.image" />

        <v-divider class="mx-4" />
        <v-card-title>
          <span class="caption">{{ product.provider.name }}</span>
          <p class="text-h7">
            {{ product.name }}
          </p>
        </v-card-title>

        <v-card-text>
          <div class="d-flex justify-space-between">
            <div>
              <span class="caption">{{ product.quantity }} kg</span>
              <br />
              <span class="button">{{ formatPrice(product.priceKg) }} /kg</span>
            </div>

            <div>
              <br />
              <h2 class="heading-6">
                {{ formatPrice(product.quantity * product.priceKg) }}
              </h2>
            </div>
          </div>
        </v-card-text>

        <v-divider class="mx-4" />

        <v-card-actions>
          <BaseButton :disabled="product.loading" block @click="add(product)">
            <template #name> Ajouter au panier </template>
          </BaseButton>
        </v-card-actions>
      </v-card>
    </div>

    <div class="d-flex flex-row-reverse">
      <v-pagination
        v-model="page"
        :length="products.length / 8"
        prev-icon="mdi-menu-left"
        next-icon="mdi-menu-right"
      />
    </div>
  </ContainerBackOffice>
</template>

<script>
import ContainerBackOffice from "@/components/common/ui-components/ContainerBO/ContainerBackOffice";
import HeadingBack from "~/components/common/ui-components/HeadingBack/HeadingBack.vue";
import BaseButton from "~/components/common/ui-components/BaseButton/BaseButton.vue";
import { transformPrice } from "~/components/common/utils/helpers";
export default {
  name: "Index",
  components: { BaseButton, HeadingBack, ContainerBackOffice },

  middleware: ["fetchUser"],

  data: () => ({
    page: 1,
    filtered: "",
    filters: [],
    products: [
      {
        name: "Filets De Poulet 3x1kg",
        provider: {
          name: "Boucherie du soleil",
        },

        loading: false,

        quantity: 3.5,
        price: 12.43,
        image:
          "https://static.pourdebon.com/images/476-355/5539b7d31d5d0078b0203ee00638c057/filet-de-poulet.jpeg",

        priceKg: 6.99,
        pricePromo: 0,
      },
      {
        name: "Steak haché Bœuf Parthenais x20",
        provider: {
          name: "Maison koroghli",
        },

        loading: false,

        quantity: 6.5,
        price: 15.5,
        image:
          "https://static.pourdebon.com/images/476-355/bb50059daee71068a08f7844135141dc/steakhacheboeuf.jpeg",

        priceKg: 3,
        pricePromo: 0,
      },
      {
        name: "Filets De Poulet 3x1kg",
        provider: {
          name: "Boucherie du soleil",
        },

        loading: false,

        quantity: 3.5,
        price: 12.43,
        image:
          "https://static.pourdebon.com/images/476-355/5539b7d31d5d0078b0203ee00638c057/filet-de-poulet.jpeg",

        priceKg: 10,
        pricePromo: 0,
      },
      {
        name: "Steak haché Bœuf Parthenais x20",
        quantity: 6.5,
        provider: {
          name: "Rize market",
        },

        loading: false,

        price: 15.5,
        image:
          "https://static.pourdebon.com/images/476-355/bb50059daee71068a08f7844135141dc/steakhacheboeuf.jpeg",

        priceKg: 3,
        pricePromo: 0,
      },
      {
        name: "Filets De Poulet 3x1kg",
        provider: {
          name: "Boucherie du soleil",
        },

        loading: false,

        quantity: 3.5,
        price: 12.43,
        image:
          "https://static.pourdebon.com/images/476-355/5539b7d31d5d0078b0203ee00638c057/filet-de-poulet.jpeg",

        priceKg: 2.69,
        pricePromo: 0,
      },
      {
        name: "Steak haché Bœuf Parthenais x20",
        provider: {
          name: "Rize market",
        },

        loading: false,

        quantity: 6.5,
        price: 15.5,
        image:
          "https://static.pourdebon.com/images/476-355/bb50059daee71068a08f7844135141dc/steakhacheboeuf.jpeg",

        priceKg: 3,
        pricePromo: 0,
      },
      {
        name: "Filets De Poulet 3x1kg",
        provider: {
          name: "Boucherie biolal",
        },

        loading: false,

        quantity: 3.5,
        price: 12.43,
        image:
          "https://static.pourdebon.com/images/476-355/5539b7d31d5d0078b0203ee00638c057/filet-de-poulet.jpeg",

        priceKg: 1,
        pricePromo: 0,
      },
      {
        name: "Steak haché Bœuf Parthenais x20",
        provider: {
          name: "Maison koroghli",
        },

        loading: false,

        quantity: 6.5,
        price: 15.5,
        image:
          "https://static.pourdebon.com/images/476-355/bb50059daee71068a08f7844135141dc/steakhacheboeuf.jpeg",

        priceKg: 3,
        pricePromo: 0,
      },
    ],
  }),

  methods: {
    add(product) {
      product.loading = true;

      setTimeout(() => (product.loading = false), 2000);
    },

    formatPrice(price) {
      return transformPrice(price);
    },
  },
};
</script>

<style lang="scss" scoped>
.v-application {
  font-size: 1rem !important;
  font-weight: 700 !important;
}
</style>
