<template>
  <Fragment>
    <HeadingBack icon="account-plus"> Register </HeadingBack>
    <FormRegister></FormRegister>
  </Fragment>
</template>

<script>
import HeadingBack from "../../common/ui-components/HeadingBack/HeadingBack";
import FormRegister from "./Form/FormRegister";

export default {
  name: "Register",
  components: { FormRegister, HeadingBack },
};
</script>
