<template>
  <div class="restaurant-address-card">
    <v-card-title>
      <div class="d-flex row justify-space-around mx-auto">
        <!--        <div v-if="!isMobile" class="container-qr-code"> -->
        <!--          <client-only placeholder="Loading..."> -->
        <!--            <div class="container-qr"> -->
        <!--              <vue-qr :text="link" :size="100"></vue-qr> -->
        <!--            </div> -->
        <!--          </client-only> -->
        <!--        </div> -->

        <div class="container-image-rounded">
          <div class="image-rounded">
            <BaseImage
              v-if="pictureName"
              :src="pictureName"
              :lazy-src="pictureName"
              :max-width="170"
              :max-height="170"
              class="float-left img-size-rounded"
            />
          </div>
        </div>

        <!--  info restaurant  -->
        <div class="info-restaurant" data-cy="info-restaurant-test">
          <v-list-item-content>
            <v-list-item-title class="headline mb-1">
              <h1>{{ nameRestaurant }}</h1>
            </v-list-item-title>
          </v-list-item-content>

          <v-list-item-content v-if="restaurant.rating !== 0">
            <div class="d-flex flex-wrap">
              <div>
                <span class="rating" data-cy="rating-number">
                  ({{ rating }})
                </span>
              </div>

              <v-rating
                v-model="rating"
                color="yellow darken-3"
                background-color="grey darken-1"
                empty-icon="$ratingFull"
                dense
                half-increments
                readonly
                hover
              />
            </div>
          </v-list-item-content>
        </div>

        <!--  icon Info  -->
        <div class="btn-info">
          <v-btn class="ma-2" outlined>
            <v-icon left>mdi-phone</v-icon>
            <a :href="hrefPhoneNumber" class="link-color" data-cy="link-color">
              {{ formatPhoneNumber(restaurant.phoneNumber) }}
            </a>
          </v-btn>

          <v-btn icon @click="displayModal(true)">
            <v-icon class="pa-2"> mdi-map-marker</v-icon>
          </v-btn>

          <!--          <div class="opening-status"> -->
          <!--            <v-chip -->
          <!--              class="ma-2" -->
          <!--              :color="isOpeningStore ? 'green' : 'red'" -->
          <!--              text-color="white" -->
          <!--              data-cy="opening-status-chip" -->
          <!--            > -->
          <!--              {{ statusTimeTable }} -->
          <!--            </v-chip> -->
          <!--          </div> -->
        </div>
      </div>
    </v-card-title>

    <ModalCardInfoContent
      v-if="showModal"
      :restaurant="restaurant"
      :show-modal.sync="showModal"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import formatPhoneNumber from "@/components/common/utils/helpers";
// import { openingStoreHours } from "@/components/BackOffice/MyAccount/service/const-time-open";
// import { CONST_RESTAURANT } from "@/router/routeName";
import modal from "@/mixins/modal";

export default {
  name: "CardAddressRestaurant",
  components: {
    ModalCardInfoContent: () =>
      import(
        "~/components/RestaurantMenu/components/RestaurantCardAddress/ModalCardInfoContent"
      ),

    BaseImage: () => import("../../../common/ui-components/BaseImage"),
    // "vue-qr": () => import("vue-qr"),
  },

  mixins: [modal],
  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
      carts: (state) => state.checkout.carts,
      enablePurchase: (state) => state.checkout.enablePurchase,
    }),

    pictureName() {
      return this.restaurant?.cardPictures?.PROFILE?.fileName;
    },

    // link() {
    //   let fullHost = "https://www.imenus.fr/";
    //
    //   if (process.env.NODE_ENV === "DEVELOPMENT") {
    //     fullHost = "https://localhost:3000";
    //   }
    //
    //   return `${fullHost}${this.restaurant.city}/${this.restaurant.category}/${this.restaurant.slug}`;
    // },

    ...mapGetters({
      isOpeningStore: "fetchDefaultData/isOpeningStore",
    }),

    nameRestaurant() {
      return this.restaurant.name.toUpperCase();
    },

    // statusTimeTable() {
    //   return this.isOpeningStore
    //     ? `${CONST_RESTAURANT} ${openingStoreHours.open}`
    //     : `${CONST_RESTAURANT} ${openingStoreHours.close}`;
    // },

    // isMobile() {
    //   return this.$device.isMobile;
    // },

    rating() {
      return this.restaurant.rating;
    },

    hrefPhoneNumber() {
      return `tel:${this.formatPhoneNumber(this.restaurant.phoneNumber)}`;
    },
  },

  mounted() {
    this.fetchDayWeeksAndTypePayments({
      id: this.restaurant.configShop.id,
    });
  },

  methods: {
    ...mapActions({
      fetchDayWeeksAndTypePayments:
        "fetchDefaultData/fetchDataDayWeekAndTypePayment",
      displayCart: "checkout/displayCart",
    }),

    formatPhoneNumber(phone) {
      return formatPhoneNumber(phone);
    },
  },
};
</script>

<style lang="scss" scoped>
.container-qr-code {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.restaurant-address-card {
  .rating {
    font-size: 1rem;
    color: #70757a;
    margin-right: 1px;
  }

  @media (min-width: 1199px) {
    width: 50%;
  }

  @media (min-width: 700px) and (max-width: 1198px) {
    width: 95%;
  }

  @media (max-width: 425px) {
    width: 80%;
  }
  width: 66%;
  margin: 10px auto;

  a {
    text-decoration: none;
    color: orange;
  }

  #card-info-restaurant {
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    z-index: inherit;
    height: 100%;
  }

  .container-image-rounded {
    width: 15%;
    margin: 48px auto;

    .image-rounded {
      align-items: center;
      display: -webkit-box;
      display: flex;
      justify-content: center;
      overflow: hidden;
      -webkit-box-align: center;
      -webkit-box-pack: center;
    }
  }

  @media (max-width: 700px) {
    .container-image-rounded {
      width: 100%;

      .image-rounded {
        align-items: center;
        display: -webkit-box;
        display: flex;
        justify-content: center;
        overflow: hidden;
        -webkit-box-align: center;
        -webkit-box-pack: center;
      }
    }
  }

  .info-restaurant {
    text-align: center;

    .headline {
      font-size: 0.6rem !important;
    }
  }

  @media (min-width: 500px) {
    .info-restaurant {
      text-align: center;
      margin: 34px auto;

      .headline {
        font-size: 0.6em !important;
      }
    }
  }

  .img-size-rounded {
    width: 100%;
    object-fit: cover;
  }

  .cart-btn {
    .v-btn:not(.v-btn--round).v-size--default {
      font-size: 12px;
    }
  }

  @media (min-width: 1199px) {
    .btn-info {
      margin: 0 auto;

      hr {
        opacity: 0.3;
      }

      .phone {
        text-decoration: none;
      }
    }
  }

  @media (max-width: 425px) {
    .btn-info {
      margin: 0 auto;

      hr {
        opacity: 0.3;
      }

      .phone {
        text-decoration: none;
      }
    }
  }

  @media (min-width: 425px) and (max-width: 649px) {
    .btn-info {
      margin: 0 auto;

      hr {
        opacity: 0.3;
      }

      .phone {
        text-decoration: none;
      }
    }
  }

  .btn-info {
    margin: 36px auto;
    color: $btn-second;

    a {
      color: $btn-primary !important;
    }

    hr {
      opacity: 0.3;
    }

    .phone {
      text-decoration: none;
    }

    .opening-status {
      text-align: center;
    }
  }
}
</style>
