<template>
  <ModalDialogue
    :max-width="changeWithByDevice"
    :fullscreen="$device.isMobileOrTablet"
    enable-cross
    scrollable
    :show-modal="showModalCheckout"
    @close="$emit('update:showModalCheckout', !showModalCheckout)"
  >
    <template #title>
      <h3>Mon panier</h3>
    </template>

    <template #body>
      <ListCart />

      <span v-if="isDisabled">
        <v-alert dense outlined type="error">
          {{ restaurant.name | upperFirst }} impose un minimum de commande de
          <b>{{ formatPrice }}</b> (hors frais de de livraison éventuels)
        </v-alert>
      </span>
    </template>
    <template #action>
      <BaseButton
        v-if="quantityItem"
        class="button-cart"
        block
        :disabled="isDisabled"
        @click="orderConfirm"
      >
        <template #name>
          <span class="btn-white">Finaliser la commande - {{ total }}</span>
        </template>
      </BaseButton>
    </template>
  </ModalDialogue>
</template>

<script>
import { mapState } from "vuex";
import ModalDialogue from "@/components/common/ui-components/ModalDialogue/ModalDialogue";
import ListCart from "@/components/RestaurantMenu/components/RestaurantMenuBasket/ListCart/ListCart";
import BaseButton from "@/components/common/ui-components/BaseButton/BaseButton";
import { transformPrice } from "@/components/common/utils/helpers";

export default {
  name: "ModalCheckoutProduct",
  components: { BaseButton, ListCart, ModalDialogue },
  props: {
    showModalCheckout: Boolean,
  },

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
      cart: (state) => state.checkout.carts,
      enablePurchase: (state) => state.checkout.enablePurchase,
      totalPrice: (state) => state.checkout.totalPrice,
    }),

    formatPrice() {
      return transformPrice(this.restaurant?.configShop?.minimumOrder);
    },

    isDisabled() {
      if (this.restaurant?.configShop?.minimumOrder > 0) {
        return (
          this.calculateCartOrder < this.restaurant.configShop.minimumOrder
        );
      }

      return false;
    },

    changeWithByDevice() {
      return this.$device.isMobileOrTablet ? 600 : 600;
    },

    calculateCartOrder() {
      return this.cart?.orders?.reduce(
        (acc, value) => acc + value.price * value.quantity,
        0
      );
    },

    total() {
      const total = this.calculateCartOrder;

      return transformPrice(total);
    },

    quantityItem() {
      return this.cart.orders.length;
    },
  },

  methods: {
    orderConfirm() {
      this.$router.push({ name: "order-meal-confirm" });
    },
  },
};
</script>

<style lang="scss" scoped>
.quantity {
  margin: 3px;
}

.error-text {
  color: red;
}

.z-index {
  z-index: 999 !important;
}

.order {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 15px;
}

.button-cart {
  margin: 0 auto;
  width: 200px !important;
}
</style>
