<template>
  <ModalDialogue
    id="modal-info-card"
    enable-toolbar
    enable-cross
    :max-width="changeWithByDevice"
    :fullscreen="$device.isMobileOrTablet"
    scrollable
    hide-overlay
    :show-modal="showModal"
    @close="close"
  >
    <template #title>A propos du restaurant</template>
    <template #body>
      <div class="schedule-list">
        <!--        <MapPlace /> -->

        <v-card-title>
          <v-icon left>{{ dayWeekIcon }}</v-icon>
          <span>{{ dayWeekTitle }}</span>
        </v-card-title>
        <hr />

        <div class="d-flex flex-row justify-between flex-wrap">
          <div
            v-for="(weeks, schedulesIndex) in mergedSchedule"
            :key="schedulesIndex"
            class="content"
          >
            <!-- eslint-disable vue/no-v-html -->
            <p v-html="weeks"></p>
          </div>
        </div>
      </div>

      <div class="delivery-cost">
        <v-card-title>
          <v-icon left>{{ costIcon }}</v-icon>
          <span>{{ costTitle }}</span>
        </v-card-title>
        <hr />

        <v-card-text class="content">
          <p>
            Frais de livraison: {{ formattedPrice(detailCosts.deliveryCost) }}
          </p>
          <p>
            Minimum de commande: {{ formattedPrice(detailCosts.minimumOrder) }}
          </p>
        </v-card-text>
      </div>

      <div class="type-payment">
        <v-card-title>
          <v-icon left>{{ typePaymentIcon }}</v-icon>
          <span>{{ typePaymentTitle }}</span>
        </v-card-title>
        <hr />

        <v-card-text class="content">
          <p v-if="typePayment.cash">
            <v-icon v-if="typePayment.cash" left>mdi-cash</v-icon>
            Espèce
          </p>

          <p v-if="typePayment.creditCard">
            <v-icon v-if="typePayment.creditCard" left>mdi-credit-card</v-icon>
            Carte de credit
          </p>

          <p v-if="typePayment.ticket">
            <v-icon v-if="typePayment.ticket" left>mdi-ticket</v-icon>
            Ticket restaurant
          </p>
        </v-card-text>
      </div>

      <div class="card-address">
        <v-card-title>
          <v-icon left>mdi-google-maps</v-icon>
          <span>Adresse</span>
        </v-card-title>
        <hr />

        <v-card-text>
          <div class="content">
            <h4 v-if="restaurant.name">
              {{ restaurant.name | capitalize }}
            </h4>
            <p v-if="restaurant.address">{{ restaurant.address }}</p>
            <p>{{ restaurant.zipCode }} {{ restaurant.city | upperFirst }}</p>
          </div>
        </v-card-text>
      </div>
    </template>
  </ModalDialogue>
</template>

<script>
import { mapState } from "vuex";
import moment from "moment";
import { transformPrice } from "~/components/common/utils/helpers";
import {
  CLOSE,
  // CLOSE_OO,
  FERMER,
  MONDAY,
  SCHEDULE_MAP,
} from "@/components/BackOffice/MyAccount/service/const-time-open";
import closeEvent from "@/mixins/closeEvent";
import modalSate from "@/mixins/modalState";

export default {
  name: "ModalCardInfoContent",
  components: {
    // MapPlace: () =>
    //   import("@/components/common/ui-components/MapPlace/MapPlace"),

    ModalDialogue: () =>
      import("~/components/common/ui-components/ModalDialogue/ModalDialogue"),
  },

  mixins: [modalSate, closeEvent],

  computed: {
    ...mapState({
      restaurant: (state) => state.fetchDefaultData.restaurant,
      cash: (state) => state.fetchDefaultData.shopConf.cash,
      typePayment: (state) => state.fetchDefaultData.shopConf.typePayment,
      detailCosts: (state) => state.fetchDefaultData.shopConf.detailCosts,
      minimumOrder: (state) =>
        state.fetchDefaultData.shopConf.detailCosts.minimumOrder,
      dayWeek: (state) => state.fetchDefaultData.scheduleFront,
    }),

    costIcon() {
      return this.detailCosts?.icon;
    },

    costTitle() {
      return this.detailCosts?.title;
    },

    dayWeekIcon() {
      return this.dayWeek?.icon;
    },

    dayWeekTitle() {
      return this.dayWeek?.title;
    },

    typePaymentIcon() {
      return this.typePayment?.icon;
    },

    typePaymentTitle() {
      return this.typePayment?.title;
    },

    changeWithByDevice() {
      return this.$device.isMobileOrTablet ? 800 : 600;
    },

    mergedSchedule() {
      let count = 0;
      let hasValue = false;
      const content = [];

      this.dayWeek?.data?.forEach((elements, index) => {
        for (const [key, value] of Object.entries(elements)) {
          const dayWeek = `${SCHEDULE_MAP[key]} : `;
          const isClose = value[0]?.close === CLOSE || value[0]?.open === CLOSE;

          if (index === 0) {
            if (isClose) {
              continue;
            } else {
              content.push(dayWeek);

              hasValue = true;
              content[count] += ` <br/> ${moment(value[0]?.open).format(
                "HH:mm"
              )} - ${moment(value[0]?.close).format("HH:mm")}`;
            }

            count += 1;
          }

          if (index === 1) {
            if (key === MONDAY) {
              count = 0;
            }

            if (isClose && !hasValue) {
              content[count] += FERMER;
            } else if (!isClose) {
              content[count] += ` <br/> ${moment(value[0]?.open).format(
                "HH:mm"
              )} - ${moment(value[0]?.close).format("HH:mm")}`;
            } else {
              continue;
            }

            count += 1;
          }
        }
      });

      return content;
    },
  },

  methods: {
    formattedPrice(price) {
      return transformPrice(price);
    },
  },
};
</script>

<style lang="scss" scoped>
.container-qr {
  text-align: center;
}
.content {
  margin-left: 15px;
  padding: 5px;
}

.schedule-list-item {
  padding: 10px;
  margin-bottom: 25px;
}
</style>
