<template>
  <Fragment>
    <div
      v-if="images"
      :class="{
        'container-slider': !isMobile,
        'container-slider-mobile': isMobile,
      }"
    >
      <transition-group name="fade" tag="div">
        <div v-for="idx in [currentIndex]" :key="idx">
          <!--
            <v-chip class="ma-2 text-white chip" color="black">
            Jusqu'à mardi inclus
            </v-chip>
          -->

          <BaseImage
            class="item"
            :src="src(images)"
            :lazy-src="src(images)"
            :max-width="width"
            :max-height="height"
          />
        </div>
      </transition-group>

      <!--
        <span class="prev" @click="prev">&#10094;</span>
        <span class="next" @click="next">&#10095;</span>
      -->
    </div>
  </Fragment>
</template>

<script>
import { mapState } from "vuex";
import BaseImage from "@/components/common/ui-components/BaseImage.vue";

export default {
  name: "Slider",
  components: { BaseImage },

  props: {
    autoplay: Boolean,
  },

  data() {
    return {
      currentIndex: 0,
      timer: 0,
      width: 1060,
      height: 400,
    };
  },

  computed: {
    ...mapState({
      banners: (state) => state.banner.banners,
      isMobile: (state) => state.fetchDefaultData.device.isMobile,
    }),

    images() {
      if (this.banners && this.banners.length) {
        return this.banners[Math.abs(this.currentIndex) % this.banners.length];
      }

      return [];
    },
  },

  created() {
    if (this.autoplay && this.banners.length > 1) {
      this.startTime();
    }
  },

  methods: {
    startTime() {
      this.timer = setInterval(this.next, 5000);
    },

    next() {
      this.currentIndex += 1;
    },

    /** prev() {
      this.currentIndex -= 1;
    },**/

    src(image) {
      if (image.device === "mobile" && this.isMobile) {
        return image?.picture?.fileName;
      } else if (image.device === "desktop" && !this.isMobile) {
        return image?.picture?.fileName;
      }

      return "";
    },
  },
};
</script>

<style lang="scss" scoped>
.container-slider-mobile {
  height: 22vh;
  background: white;
  margin-top: 15px;
  margin-bottom: 4rem;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
}

.container-slider {
  max-width: 70%;
  height: 400px;
  background: white;
  margin: 15px auto;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;

  .chip {
    z-index: 1;
    position: absolute;
  }

  @media (max-width: 799px) {
    max-width: 90%;
    height: 400px;
    background: white;
    margin: 15px auto;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
  }

  .item {
    display: block;
    height: 400px;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.9s ease;
    overflow: hidden;
    visibility: visible;
    position: absolute;
    max-width: 1060px;
    opacity: 1;
  }

  .fade-enter,
  .fade-leave-to {
    visibility: hidden;
    max-width: 1060px;
    opacity: 0;
  }

  .prev,
  .next {
    cursor: pointer;
    position: relative;
    top: 10px;
    width: auto;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.7s ease;
    border-radius: 0 4px 4px 0;
    text-decoration: none;
    user-select: none;
  }

  .next {
    right: 255px;
  }

  .prev {
    left: 259px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
</style>
