<template>
  <v-container id="policyConfidentiality" class="container-static-page">
    <v-card class="mt-8 mb-8 pa-5">
      <!-- eslint-disable vue/no-v-html -->
      <v-card-title v-html="data.title"></v-card-title>
      <div v-for="(item, index) in data.content" :key="index">
        <v-card-title>{{ item.title }}</v-card-title>
        <v-card-text v-html="item.description"></v-card-text>
      </div>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "PolicyConfidentiality",
  async asyncData({ $content }) {
    const data = await $content("contracts/policyConfidentiality").fetch();
    return {
      data,
    };
  },
};
</script>

<style scoped>
.v-application a {
  text-decoration: none;
  color: black !important;
}
</style>
