<template>
  <div class="root">
    <div class="decoration">
      <svg class="left-deco">
        <use xlink:href="~/assets/images/saas/deco-bg-left.svg#main" />
      </svg>
      <svg class="right-deco">
        <use xlink:href="~/assets/images/saas/deco-bg-right.svg#main" />
      </svg>
    </div>
    <v-container :class="{ fixed: isDesktop }">
      <div class="slider-wrap">
        <div class="text">
          <h3 class="use-text-title">
            Solution de commande et de réservation en ligne pour votre
            restaurant
          </h3>
          <p class="use-text-subtitle">
            La digitalisation de vos menus n'a jamais été aussi simple
          </p>
        </div>
        <div class="illustration">
          <img
            :src="require('assets/images/saas/desktop_illustration.png')"
            alt="illustration"
          />
        </div>
      </div>
    </v-container>
    <div class="deco">
      <div :class="{ hide: hide }" class="deco-inner">
        <div v-if="!isMobile" class="wave wave-one" />
        <div v-if="!isMobile" class="wave wave-two" />
      </div>
      <div class="wave wave-cover" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Banner",

  data() {
    return {
      hide: false,
    };
  },

  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },

    isMobile() {
      return this.$device.isMobile;
    },
  },

  methods: {},
};
</script>

<style lang="scss" scoped>
@import "banner-style";
</style>
